<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable has-footer">

  <div class="user-info weui-panel weui-panel_access" *ngIf="userInfo">
    <div class="weui-panel__bd">
      <a routerLink="/admin/employee/setting" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="avatar weui-media-box__thumb"
               src="{{config.prefix.wApi + userInfo.headimageurl}}"
               alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{userInfo.name}} <span class="ui-label hollow horizontal yellow circle">{{userInfo.levelname}}管家</span>
          </h4>
          <p class="weui-media-box__desc">{{userInfo.serviceareanames}}</p>
        </div>
        <div class="weui-media-box__ft">编辑</div>
      </a>
    </div>
  </div>

  <div class="panels">
    <div class="weui-panel" *ngIf="employers?.length > 0">
      <div class="weui-panel__title weui-panel__hd">当前服务客户</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells">
            <a [routerLink]="['/admin/employee/orders/protocol',employer.conid]" *ngFor="let employer of employers" class="weui-cell weui-cell_access">
              <div class="weui-cell__bd weui-cell_primary">
                <p>{{employer.cust_name}}</p>
              </div>
              <span class="weui-cell__ft">2018-01-07 ~ 2018-01-07</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard weui-panel">
      <div class="weui-panel__title weui-panel__hd">我的事务</div>
      <div class="weui-panel__bd">
        <div class="weui-grids">
          <a routerLink="/admin/employee/clockIn" class="weui-grid">
            <div class="item-box">
              <div class="img red">
                <img src="/assets/images/icons/white/location_fill.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">打卡</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/setting" class="weui-grid">
            <div class="item-box">
              <div class="img green">
                <img src="/assets/images/icons/white/profile_fill.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">个人资料</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/message" class="weui-grid">
            <div class="item-box">
              <div class="img yellow">
                <img src="/assets/images/icons/white/community_fill_light.png">
                <span *ngIf="count.msg > 0" class="weui-badge">{{count.msg}}</span>
              </div>
              <div class="txt">
                <div class="weui-grid__label">我的消息</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/service" class="weui-grid">
            <div class="item-box">
              <div class="img yellow">
                <img src="/assets/images/icons/white/repair_fill.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">我的服务</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/school/index" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/white/selection_fill.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">大牛课堂</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/school/exam/index" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/white/selection_fill.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">在线考试</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/ADM" class="weui-grid">
            <div class="item-box">
              <div class="img green">
                <img src="/assets/images/icons/white/edit.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">行政</div>
              </div>
            </div>
          </a>
          <a *ngIf="admin" [routerLink]="['/admin/backend/statistics']" class="weui-grid">
            <div class="item-box">
              <div class="img green">
                <img src="/assets/images/icons/white/we_fill_light.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">信息管理</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="btns-group">
  <div routerLink="/admin/employee/feedback" class="btn-secondary no-state">意见反馈</div>
  <div (click)="contact()" class="btn-secondary">联系客服</div>
</div>
