<app-navbar [navBar]="navBarConfig"></app-navbar>

<div *ngIf="userInfo" class="home-content content-scrollable has-footer">
  <div class="userinfo">
    <img class="userinfo-avatar" src="{{config.prefix.wApi + userInfo.headimageurl}}"/>
    <div class="userinfo-nickname">{{userInfo.name}}</div>
    <div class="userinfo-service"><span class="name">{{userInfo.mobile}}</span><span class="level">{{userInfo.levelname}}管家</span></div>
    <!--<span (click)="sign()" class="sign"><i class="icon-edit"></i> {{userInfo.signDays ? '累计签到' + userInfo.signDays + '天' : '每日签到'}}</span>-->
    <span routerLink="/admin/employee/setting" class="edit">更换头像 ></span>
    <span class="left-circle"></span>
    <span class="right-circle"></span>
  </div>
  <div class="menu">
    <div class="status">
      <div class="weui-flex">
        <div routerLink="/admin/employee/work" class="weui-flex__item">
          <span class="weui-grid__icon">
            <img src="/assets/images/icons/employee/reports.png">
          </span>
          <span class="weui-grid__label">周报</span>
        </div>
        <div routerLink="/admin/employee/clockIn" class="weui-flex__item">
          <span class="weui-grid__icon">
            <img src="/assets/images/icons/employee/clockIn.png">
          </span>
          <span class="weui-grid__label">打卡</span>
        </div>
        <div routerLink="/admin/employee/message" class="weui-flex__item">
          <span class="weui-grid__icon">
            <img src="/assets/images/icons/employee/messages.png">
          </span>
          <span class="weui-grid__label">消息</span>
        </div>
      </div>
    </div>

    <div class="menu-lists">
      <div class="menu-list">
        <div class="weui-grids">
          <div routerLink="/admin/employee/service" class="weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/services.png">
            </div>
            <p class="weui-grid__label">服务</p>
          </div>
          <div routerLink="/admin/employee/school/index" class="weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/school.png">
            </div>
            <p class="weui-grid__label">大牛课堂</p>
          </div>
          <div routerLink="/admin/employee/school/exam/index" class="nrb weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/exam.png">
            </div>
            <p class="weui-grid__label">在线考试</p>
          </div>
          <div routerLink="/admin/employee/ADM" class="nbb weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/manage.png">
            </div>
            <p class="weui-grid__label">行政</p>
          </div>
          <div routerLink="/admin/article/list" class="nbb weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/library.png">
            </div>
            <p class="weui-grid__label">资料库</p>
          </div>
          <div (click)="logout()" class="nrb nbb weui-grid">
            <div class="weui-grid__icon">
              <img src="/assets/images/icons/employee/logout.png">
            </div>
            <p class="weui-grid__label">退出登录</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="weui-footer">
    <p class="weui-footer__text">客服电话：<a href="tel:020-85598666">020-85598666</a></p>
    <!--<p class="weui-footer__text">Copyright © 2008-2018 <em>{{config.webHost.replace("http://","")}}</em></p>-->
    <!--<p class="weui-footer__links">
      <a (click)="logout()" class="weui-footer__link">退出登录</a>
    </p>-->
  </div>
</div>

<!--<div *ngIf="user" class="content-scrollable has-footer">

  <div class="user-info weui-panel weui-panel_access" *ngIf="userInfo">
    <div class="weui-panel__bd">
      <a routerLink="/admin/employee/setting" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="avatar weui-media-box__thumb"
               src="{{config.prefix.wApi + userInfo.headimageurl}}"
               alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{userInfo.name}} <span class="ui-label hollow horizontal yellow circle">{{userInfo.levelname}}管家</span>
          </h4>
          <p class="weui-media-box__desc">{{userInfo.serviceareanames}}</p>
        </div>
        <div class="weui-media-box__ft">编辑</div>
      </a>
    </div>
  </div>

  <div class="panels">
    <div class="weui-panel" *ngIf="employers?.length > 0">
      <div class="weui-panel__title weui-panel__hd">当前服务客户</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells">
            <a [routerLink]="['/admin/employee/orders/protocol',employer.conid]" *ngFor="let employer of employers" class="weui-cell weui-cell_access">
              <div class="weui-cell__bd weui-cell_primary">
                <p>{{employer.cust_name}}</p>
              </div>
              <span class="weui-cell__ft">2018-01-07 ~ 2018-01-07</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard weui-panel">
      <div class="weui-panel__title weui-panel__hd">个人中心</div>
      <div class="weui-panel__bd">
        <div class="weui-grids">
          <a routerLink="/admin/employee/clockIn" class="weui-grid">
            <div class="item-box">
              <div class="img red">
                <img src="/assets/images/icons/employee/location.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">打卡</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/work" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/employee/work.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">我的周报</div>
              </div>
            </div>
          </a>

          <a routerLink="/admin/employee/message" class="weui-grid">
            <div class="item-box">
              <div class="img yellow">
                <img src="/assets/images/icons/employee/community.png">
                <span *ngIf="count.msg > 0" class="weui-badge">{{count.msg}}</span>
              </div>
              <div class="txt">
                <div class="weui-grid__label">我的消息</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/service" class="weui-grid">
            <div class="item-box">
              <div class="img yellow">
                <img src="/assets/images/icons/employee/repair.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">我的服务</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/school/index" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/employee/school.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">大牛课堂</div>
              </div>
            </div>
          </a>
          <a routerLink="/admin/employee/school/exam/index" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/employee/exam.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">在线考试</div>
              </div>
            </div>
          </a>

          <a routerLink="/admin/employee/ADM" class="weui-grid">
            <div class="item-box">
              <div class="img green">
                <img src="/assets/images/icons/employee/edit.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">行政</div>
              </div>
            </div>
          </a>

          <a [routerLink]="['/admin/article/list']" class="weui-grid">
            <div class="item-box">
              <div class="img blue">
                <img src="/assets/images/icons/employer/book.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">资料库</div>
              </div>
            </div>
          </a>

          <a *ngIf="admin" [routerLink]="['/admin/backend/statistics']" class="weui-grid">
            <div class="item-box">
              <div class="img green">
                <img src="/assets/images/icons/employer/ziliao.png">
              </div>
              <div class="txt">
                <div class="weui-grid__label">信息管理</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="btns-group">
  <div routerLink="/admin/employee/feedback" class="btn-secondary no-state">意见反馈</div>
  <div (click)="contact()" class="btn-secondary">联系客服</div>
</div>-->
