#menu {
  background: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 55%;
  width: auto;
  height: auto;
  overflow-y: auto;
  display: block;
  a {
    background: none;
    color: #fff;
  }
  a:active {
    background: none;
  }
  .weui-cells {
    background: none;
    text-align: left;
    font-size: 0.13rem;
    &:before, &:after {
      display: none;
    }
    .weui-cell {
      &:before, &:after {
        display: none;
      }
    }
  }
}

.weui-accordion-panel {
  overflow: hidden;
  .heading {
    cursor: pointer;
  }
  .weui-cells {
    margin-top: 0;
  }
}
