<section *ngIf="show" id="menu" class="overthrow">
  <a href="javascript:;" class="">
        <span class="wrapper-menu-item">
          <span class="icon-profile"></span>
          <span class="title-menu">报名<br>管理</span>
        </span>
  </a>
  <a href="javascript:;" class="">
        <span class="wrapper-menu-item">
          <span class="icon-compass"></span>
          <span class="title-menu">培训<br>管理</span>
        </span>
  </a>
  <a href="javascript:;" class="">
        <span class="wrapper-menu-item">
          <span class="icon-users"></span>
          <span class="title-menu">管家<br>管理</span>
        </span>
  </a>
  <a href="/about" class="">
        <span class="wrapper-menu-item">
          <span class="icon-user-alt"></span>
          <span class="title-menu">客户<br>管理</span>
        </span>
  </a>
  <a routerLink="/admin/home" class="">
        <span class="wrapper-menu-item">
          <span class="icon-user"></span>
          <span class="title-menu">首页</span>
        </span>
  </a>
</section>
