<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>

<div *ngIf="housekeeper" class="action-panel weui-cells">
  <div class="weui-cell">
    <div class="weui-cell__bd">Home > 管家管理 > 管家打卡 > {{housekeeper.name}}</div>
  </div>
  <div class="weui-cell weui-cell_access">
    <div class="weui-cell__hd"><span (click)="back()" class="ui-label hollow radius">返回列表</span></div>
    <div class="weui-cell__bd"></div>
    <div (click)="pickerDate()" class="weui-cell__ft">{{currDateItem.year}}-{{currDateItem.month > 9 ? currDateItem.month : '0' + currDateItem.month}}</div>
  </div>
</div>
<div class="content-scrollable has-nav">

  <div class="trainee-info">

    <table *ngIf="housekeeper && signInfo" class="resume ui celled table">
      <tbody>
      <tr>
        <td class="label">姓名</td>
        <td class="value">{{housekeeper.name}}</td>
        <td class="label">手机号</td>
        <td class="value">{{housekeeper.mobile}}</td>
      </tr>
      <tr>
        <td class="label">打卡天数</td>
        <td class="value">{{signInfo.signcount}}</td>
        <td class="label">异常天数</td>
        <td class="value">{{signInfo.errcount}}</td>
      </tr>
      </tbody>
    </table>

    <table *ngIf="housekeeper" class="resume ui celled table">
      <thead>
      <tr>
        <th>日期</th>
        <th>打卡时间</th>
        <th>地点</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-item [ngForOf]="signs" let-i="index">
        <tr>
          <td class="label" rowspan="2">{{item.year}}.{{item.month >= 10 ? item.month : '0' + item.month}}.{{item.day >=
            10 ? item.day : '0' + item.day}}
          </td>
          <td class="value" [ngClass]="{'red' : !item.sign.in.time}">{{item.sign.in.time ? item.sign.in.time : '无打卡'}}</td>
          <td class="value">{{item.sign.in.address}}</td>
        </tr>
        <tr>
          <td class="value" [ngClass]="{'red' : !item.sign.out.time}">{{item.sign.out.time ? item.sign.out.time : '无打卡'}}</td>
          <td class="value">{{item.sign.out.address}}</td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>

</div>
