<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div *ngIf="user" class="weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>custId</p>
      </div>
      <div class="weui-cell__ft">
        {{user.id ? user.id : '空'}}
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>housekeeperId</p>
      </div>
      <div class="weui-cell__ft">
        {{user.housekeeperId ? user.housekeeperId:'空'}}
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>housekeeperId</p>
      </div>
      <div class="weui-cell__ft">
        {{user.housekeeperId ? user.housekeeperId:'空'}}
      </div>
    </div>
  </div>

  <div class="weui-cells">
    <a (click)="clear()" class="weui-cell weui-cell_access">
      <div class="weui-cell__bd">
        <p>清缓存</p>
      </div>
      <div class="weui-cell__ft">
      </div>
    </a>
  </div>
</div>
