<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label">技能图谱</label>
      <em class="weui-form-preview__value"></em>
    </div>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <div class="score">

        <div class="score-rate">
          <em>{{score.count}}</em><sub>分</sub>
        </div>

        <div class="score-label">综合评分</div>
      </div>
    </div>
    <div class="weui-form-preview__item">
      <canvas id="mountNode"></canvas>
    </div>
  </div>
</div>
