<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div id="checkIns" class="date-panel">
    <div class="weui-panel">
      <div class="weui-panel__hd">{{dateNow | date : 'yyyy年MM月dd日'}}
        <a class="right" routerLink="/admin/employee/clockIn/records">考勤记录</a></div>
      <div class="weui-panel__bd">
        <a href="javascript:void(0);" *ngIf="signInfo?.actualcheckintime" class="process-item weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">上班打卡 {{signInfo.actualcheckintime | repairDate | date: 'HH:mm'}}</h4>
            <p class="weui-media-box__desc"><i class="fa fa-map-marker fa-fw"></i> {{signInfo.startaddress}}</p>
          </div>
        </a>
        <a href="javascript:void(0);" *ngIf="!signInfo?.actualcheckintime" class="process-item weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">今天还没有开始打卡</h4>
            <p class="weui-media-box__desc">请到达工作地点后，点击"打卡上班"</p>
          </div>
        </a>
        <a href="javascript:void(0);" *ngIf="signInfo?.actualcheckouttime" class="process-item weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">下班打卡 {{signInfo.actualcheckouttime | repairDate | date: 'HH:mm'}}</h4>
            <p class="weui-media-box__desc"><i class="fa fa-map-marker fa-fw"></i> {{signInfo.endaddress}}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div id="clockIn" *ngIf="location.address">
    <div id="location" class="location">
      <div class="circle-big pulse animated"></div>
      <div (click)="submit($event)" id="locationIcon" class="circle-min">
        <p *ngIf="!signInfo?.actualcheckintime" class="clock-in-label">打卡上班</p>
        <p *ngIf="signInfo?.actualcheckintime" class="clock-in-label">打卡下班</p>
        <p class="clock-in-time">{{dateNow | date: 'HH:mm:ss'}}</p>
      </div>
    </div>
    <p *ngIf="!signInfo?.actualcheckintime" class="clock-in-title">打卡上班</p>
    <p *ngIf="signInfo?.actualcheckintime" class="clock-in-title">打卡下班</p>
    <p class="clock-in-address">{{location.address}}</p>
  </div>
  <!--<iframe id="markPage" width="100%" height="70%" frameborder=0 scrolling="no" src=""></iframe>-->
</div>
