<app-navbar [show]="false" [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <form *ngIf="courseForm" [formGroup]="courseForm">
    <div class="weui-cells">
      <div *ngFor="let item of courses" class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">{{item.coursename}}</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" formControlName="form_{{item.traineecourseid}}" type="number">
        </div>
        <div class="weui-cell__ft" style="font-size: 0.13rem">总分：{{item.credit}}</div>
      </div>
    </div>
  </form>
</div>

<div class="btns-group">
  <div class="btn btn-secondary no-state">取消</div>
  <div (click)="onSubmit()" class="btn btn-secondary no-state">确定</div>
</div>
