.content-scrollable {
  background: #fff;
  .img-box.top {
    margin: 0.15rem;
    img {
      display: block;
      width: 100%;
    }
  }
}

.tips-content {
  margin: 0.08rem 0.15rem;
  background: #F5F5F5;
  border-radius: 0.04rem;
  padding: 0.1rem;
  ul {
    margin-left: 0.15rem;
    li {
      font-size: 0.13rem;
      line-height: 1.8;
      color: #666;
    }
  }
}

.weui-cells__tips {
  text-align: right;
  font-size: 0.13rem;
  a {
    color: #4AA1DB;
    font-weight: normal;
  }
}

.levels {
  margin-top: 0;
  &:before, &:after {
    display: none;
  }
  .weui-media-box {
    background: #F5F5F5;
    margin: 0.15rem;
    position: relative;
    .tag {
      position: absolute;
      bottom: 0.05rem;
      right: 0.05rem;
      width: 0.14rem;
      display: none;
      img {
        display: block;
        width: 100%;
      }
    }
    &:before, &:after {
      display: none;
    }
    .weui-media-box__title {
      font-size: 0.13rem;
      color: #0f0f0f;
    }
    .weui-media-box__desc {
      font-size: 0.12rem;
      margin-top: 0.05rem;
    }

    &.curr {
      background: #CA9F4D;
      .tag {
        display: block;
      }
      .weui-media-box__title {
        font-size: 0.13rem;
        font-weight: bold;
        color: #fff;
      }
      .weui-media-box__desc {
        font-size: 0.12rem;
        color: #fff;
      }
    }
  }
}

.item-list {
  margin: 0 0.075rem;
  .list-item {
    padding: 0;
    .item-box {
      margin: 0.075rem;
      background: #F3F3F3;
      border-radius: 0.04rem;
      text-align: center;
      line-height: 1;
      font-size: 0.13rem;
      padding: 0.1rem 0;
      position: relative;
      .tag {
        position: absolute;
        bottom: 0.05rem;
        right: 0.05rem;
        width: 0.14rem;
        display: none;
        img {
          display: block;
          width: 100%;
        }
      }
      &.curr {
        background: #CA9F4D;
        color: #fff;
        .tag {
          display: block;
        }
      }
    }
  }
}

.weui-cells.date {
  font-size: 0.13rem;
  &:before, &:after {
    display: none;
  }
  .weui-cell {
    &:before, &:after {
      display: none;
    }
    padding: 0.075rem 0.15rem;
    .weui-cell__hd {
      margin-right: 0.1rem;
      color: #666;
      line-height: 1;
      padding: 0.15rem 0;
    }
    .weui-cell__bd {
      color: #CA9F4D;
      line-height: 1;
      padding: 0.15rem 0.1rem;
      background: #F5F5F5;
      border-top-left-radius: 0.02rem;
      border-bottom-left-radius: 0.02rem;
    }
    .weui-cell__ft {
      height: 0.43rem;
      padding-right: 0.13rem;
      background: #F5F5F5;
      border-top-right-radius: 0.02rem;
      border-bottom-right-radius: 0.02rem;
      &:after {
        right: 0.1rem;
      }
    }
  }
}

.weui-cells.desc {
  &:before, &:after {
    display: none;
  }
  .weui-cell__bd {
    background: #F5F5F5;
    border-radius: 0.02rem;
    .weui-textarea {
      background: #F5F5F5;
      padding: 0.1rem;
      font-size: 0.12rem;
      box-sizing: border-box;
    }
  }
}

.weui-cells.input-area {
  &:before, &:after {
    display: none;
  }
  .weui-cell {
    font-size: 0.13rem;
    margin: 0.15rem;
    margin-left: 0;
    &:before {
      display: none;
    }
    &:after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      border-top: 1px solid #e5e5e5;
      color: #e5e5e5;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
      left: 15px;
      z-index: 2;
    }
    input, .weui-label {
      height: 0.25rem;
      line-height: 0.25rem;
    }
  }
}

.active-code {
  font-size: 0.11rem;
  width: 7em;
  color: #000;
  text-align: center;
  line-height: 0.21rem;
  display: inline-block;
  border-radius: 0.3rem;
  background: #ccaa66;
}

.weui-cells__title {
  font-size: 0.15rem;
  font-weight: bold;
  color: #0F0F0F;
  .right {
    color: #4AA1DB;
    font-size: 0.13rem;
  }
  p {
    font-size: 0.12rem;
    color: #CA9F4D;
  }

  &.warn {
    color: #EA5A2B;
  }
}

.weui-form-preview {
  margin-top: 0;
  &:before {
    display: none;
  }
}

.weui-form-preview__hd {
  .weui-form-preview__label {
    color: #666;
    font-size: 0.16rem;
  }
}

.weui-form-preview__label {
  color: #999
}

.weui-form-preview__value {
  color: #666
}

em.weui-form-preview__value {
  color: #EA5A2B;
}

.weui-btn-area {
  margin: 0.15rem 0.15rem 0.3rem;
}

.weui-btn-area {
  p {
    text-align: center;
    font-size: 0.16rem;
    color: #EA5A2B;
    margin: 0.3rem 0 0.1rem;
    em {
      font-style: normal;
    }
  }
  .weui-btn_primary {
    background-image: linear-gradient(90deg, #E0BB7C 0%, #B38247 100%);
    border-radius: 100px;
  }
}
