<div #scrollMe [formGroup]="subscribeForm" class="content-scrollable">
  <app-profile-big *ngIf="housekeeper" [profile]="housekeeper"></app-profile-big>

  <div *ngIf="type === '1'" class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">租用管家费用</label>
        <em class="weui-form-preview__value">¥{{housekeeper?.commissionamount}}/月</em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">工资</label>
        <span class="weui-form-preview__value">
          <span *ngIf="housekeeper?.commissionamount == 10000">¥7500/月</span>
          <span *ngIf="housekeeper?.commissionamount == 12000">¥9000/月</span>
        </span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">服务管理费</label>
        <span class="weui-form-preview__value">
          <span *ngIf="housekeeper?.commissionamount == 10000">¥1000/月</span>
          <span *ngIf="housekeeper?.commissionamount == 12000">¥1200/月</span>
        </span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">五险一金</label>
        <span class="weui-form-preview__value">¥1492/月</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">商业保险</label>
        <span class="weui-form-preview__value">¥300/月</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">总计</label>
        <span class="weui-form-preview__value">
          <span *ngIf="housekeeper?.commissionamount === 10000">¥10792/月</span>
          <span *ngIf="housekeeper?.commissionamount === 12000">¥12592/月</span>
        </span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">优惠折扣</label>
        <span style="color: #09BB07;" class="weui-form-preview__value">
          <span *ngIf="housekeeper?.commissionamount === 10000">-¥792/月</span>
          <span *ngIf="housekeeper?.commissionamount === 12000">-¥592/月</span>
        </span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">租用说明</label>
        <span class="weui-form-preview__value">租用是指客户按月付费给平台，客户负责管家食宿差旅，对管家不满意我们可提供更换服务。</span>
      </div>
    </div>
  </div>

  <div *ngIf="type === '2'" class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">聘用管家月薪</label>
        <em class="weui-form-preview__value">¥{{housekeeper?.employAmount}}/月</em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <!--<div class="weui-form-preview__item">
        <label class="weui-form-preview__label">转让费<span style="color: #B5854A;">(一次性支付)</span></label>
        <span class="weui-form-preview__value">¥{{housekeeper?.employAmount * 1.2}}</span>
      </div>-->
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">聘用说明</label>
        <span class="weui-form-preview__value">需支付管家年薪10%的人才转让费（猎头收费标准为20%），在管家面试合格上岗时支付。</span>
      </div>
    </div>
  </div>

  <div class="check-customerName check-customerMobile weui-cells__title"
       [ngClass]="{'warn':(subscribeForm.get('customerName').invalid && isSubmit) || (subscribeForm.get('customerMobile').invalid && isSubmit)}">
    请您留下联系方式，以便我们登记安排管家
    <p>大牛管家向您承诺，您所有资料均会严格保密，请放心填写。</p>
  </div>
  <div class="input-area weui-cells weui-cells_form">
    <div class="weui-cell" [ngClass]="{'weui-cell_warn':subscribeForm.get('customerName').invalid && isSubmit}">
      <div class="weui-cell__hd"><span class="weui-label">您的称呼</span></div>
      <div class="weui-cell__bd">
        <input formControlName="customerName" class="weui-input" placeholder="如：李先生/李女士">
      </div>
      <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
    </div>
    <div class="weui-cell" [ngClass]="{'weui-cell_warn':subscribeForm.get('customerMobile').invalid && isSubmit}">
      <div class="weui-cell__hd"><span class="weui-label">联系电话</span></div>
      <div class="weui-cell__bd">
        <input formControlName="customerMobile" maxlength="11" class="weui-input" placeholder="请输入手机号码">
      </div>
      <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
    </div>
  </div>

  <!--<div class="check-serviceAreaId check-serviceAreaName weui-cells__title"
       [ngClass]="{'warn':subscribeForm.get('serviceAreaId').invalid && isSubmit}">您所在的城市是？
  </div>
  <div class="item-list weui-grids">
    <div (click)="setCity(item)" class="list-item weui-grid" *ngFor="let item of citys">
      <div class="item-box" [ngClass]="{'curr':subscribeForm.get('serviceAreaId').value === item.value}">
        {{item.label}}
        <span class="tag"><img src="/assets/images/guide/checked.png"></span>
      </div>
    </div>
  </div>-->

  <div class="weui-btn-area">
    <weui-button [userTrack]="'reserve'" (click)="submit()" [weui-loading]="loading" class="weui-btn weui-btn_primary">
      支付预定金（￥1）
    </weui-button>
  </div>

</div>
