<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <form novalidate [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
    <div class="weui-cells__title">事件类型：<em>请假</em></div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell weui-cell_switch">
        <div class="weui-cell__bd">更换管家</div>
        <div class="weui-cell__ft">
          <input formControlName="changeButler" class="weui-switch" type="checkbox">
        </div>
      </div>
    </div>

    <div class="weui-cells__title">请假事由</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea formControlName="reason" class="weui-textarea" placeholder="请输入您的请假事由(不少于10个字)" rows="3"></textarea>
          <div class="weui-textarea-counter"><span>{{leaveForm.value.reason.length ? leaveForm.value.reason.length : 0}}</span>/200</div>
        </div>
      </div>
    </div>

    <div class="weui-btn-area">
      <button class="weui-btn weui-btn_primary" [disabled]="leaveForm.invalid">
        提交
      </button>
    </div>
  </form>
</div>
