<app-navbar [navBar]="navBarConfig"></app-navbar>

<div *ngIf="channels" class="content-scrollable has-footer">

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <div class="img-box" style="margin-top: 0.1rem">
        <img src="/assets/images/recruitment/index/banner.png?gh=123">

      </div>

      <div class="weui-flex" style="padding: 0.15rem">
        <div class="weui-flex__item">
          <span (click)="showAddChannel()" class="ui-label circle blue hollow horizontal">+ 添加新渠道</span>
        </div>
        <div class="weui-flex__item" style="text-align: right">
          <span *ngIf="channels.length < 30" routerLink="/recruitment/article/requirements" style="color: #2185d0">荐才行动细则？</span>
        </div>
      </div>

    </div>
  </div>

  <div class="pageTips" *ngIf="channels.length === 0">
    <h2>暂无"推荐人才"消息</h2>
    <p>您可以关注"大牛管家"公众号，获取最新活动消息。</p>
  </div>

  <div class="weui-panel" *ngIf="channels.length > 0" style="margin-top: 0">
    <!--<div class="weui-panel__title weui-panel__hd">我的渠道<span (click)="showAddChannel()" *ngIf="channels.length < 30"
                                                            class="right">添加新渠道</span></div>-->
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div *ngFor="let channel of channels" class="weui-cell">
            <div class="weui-cell__bd weui-cell_primary">
              <h4 class="weui-media-box__title">
                      <span>
                        {{channel.channel.channelname}}</span>
                <sub>
                  [<span (click)="showUpdateChannel(channel.channel.channelid)">更改名称</span>]
                </sub>
              </h4>
              <p style="margin-top: 0.1rem" class="weui-media-box__desc">
                <!--查看报名情况>-->
                <span>录取学员 {{channel.traineeCount}}人</span>，<span>签约管家 {{channel.housekeeperCount}}人</span>
              </p>
            </div>
            <div
              (click)="onShare(channel.channel.channelno,{targetTips:'来招募更多学员吧'},channel.channel.channelid,channel.channel.sendstatus)"
              class="weui-cell__ft">
              <a class="ui-label circle colors orange" [ngClass]="{'disabled':channel.channel.sendstatus === 1}">{{channel.channel.sendstatus
                === 1 ? '已分享' : '马上分享'}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="weui-footer weui-footer_fixed-bottom" style="margin-top: 0.15rem;margin-bottom: 0.15rem">
    <p class="weui-footer__links">
      <a style="color: #999" routerLink="/recruitment/incomes" class="weui-footer__link">查看我的补贴</a>
      <a style="color: #999" (click)="addFriend()" class="weui-footer__link">帮朋友创建账号</a>
    </p>
  </div>-->
</div>

<div class="btns-group" *ngIf="channels">
  <a *ngIf="userInfo?.distributor_type === 1" routerLink="/recruitment/recruiters"
     class="btn-secondary no-state">我的招募官</a>
  <a routerLink="/recruitment/incomes" class="btn-secondary no-state">查看我的补贴</a>
  <div (click)="addFriend()" class="btn-secondary">帮朋友创建账号</div>
</div>
