<div class="header">
    <div class="nav-global">
        <div class="container">
            <h1 class="nav-logo">
                <a href="//www.smartisan.com/" title="锤子科技官网">Smartisan</a>
            </h1>
            <ul class="nav-list"> <!---->
                <li>
                    <a class="active" href="//www.smartisan.com" target=""> 在线商城 </a>
                </li>
                <li>
                    <a href="//www.smartisan.com/jianguopro2/" target=""> 坚果 Pro2 </a>
                </li>
                <li>
                    <a href="//www.smartisan.com/jianguopro/" target=""> 坚果 Pro </a>
                </li>
                <li>
                    <a href="//www.smartisan.com/os/" target=""> Smartisan OS </a>
                </li>
                <li>
                    <a href="https://cloud.smartisan.com/" target="_blank"> 欢喜云 </a>
                </li>
                <li>
                    <a href="//www.smartisan.com/apps/" target=""> 应用下载 </a>
                </li>
                <li>
                    <a href="http://bbs.smartisan.com/forum.php" target=""> 官方论坛 </a>
                </li>
            </ul>
            <ul class="nav-aside">
                <li class="nav-user">
                    <a href="//store.smartisan.com/account/#/information">个人中心</a>
                </li>
                <li class="nav-cart">
                    <a href="">购物车</a> <span class="cart-empty-num"> <i _ngcontent-c3="">0</i> </span>
                    <div class="nav-cart-wrapper">
                        <div class="nav-cart-list">
                            <div>
                                <div class="empty">
                                    <h3>购物车为空</h3>
                                    <p>您还没有选购任何商品，现在前往商城选购吧！</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addcart-mask">
                        <div class="mask-y">
                            <div class="mask-x">
                                <div class="mask-item"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>