<div class="nav-sub">
    <div class="nav-sub-bg"></div>
    <div class="nav-sub-wrapper">
        <div class="container">
            <ul class="nav-list">
                <li><a href="http://www.smartisan.com/#/shop">首页</a></li>
                <li><a>手机</a></li>
                <li><a href="http://www.smartisan.com/shop/#/backshell?id=67">“足迹系列”手感膜</a></li>
                <li><a href="http://www.smartisan.com/shop/#/backshell?id=78">“足迹系列”保护套</a></li>
                <li><a href="http://www.smartisan.com/shop/#/category?id=60">官方配件</a></li>
                <li><a href="http://www.smartisan.com/shop/#/category?id=77">空气净化类</a></li>
                <li><a href="http://www.smartisan.com/shop/#/category?id=69">周边产品</a></li>
                <li><a href="http://www.smartisan.com/shop/#/category?id=61">第三方配件</a></li>
                <li><a href="http://www.smartisan.com/shop/#/category?id=62">全部商品</a></li>
                <li><a href="http://www.smartisan.com/service/#/">服务</a></li>
            </ul>
            <!--<ul class="nav-aside">
                <li class="link-huanxin"><a href="/service/#/tradein">以旧换新</a></li>
                <li class="link-cdkey"><a href="ucode">优先购买码</a></li>
            </ul>-->
            <div id="sub-nav-aside"></div>
        </div>
    </div>
    <div class="nav-goods-panel">
        <ul class="nav-goods-list"></ul>
    </div>
</div>