.banner {
  position: relative;
  height: 35%;
  text-align: center;
  background: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  .ratio {
    position: absolute;
    right: 0;
    top: 10%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.05rem 0.1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

  }
}

.content {
  margin: -0.15rem 0.15rem 0.15rem;
  border-radius: 0.04rem;
  overflow: hidden;
  box-shadow: 0 0.03rem 0.06rem 0 rgba(245, 245, 245, 0.40);
  .ui-label.gold {
    background: #CA9F4D;
    color: #fff;
    font-size: 0.14rem;
    padding: 0.05rem 0.24rem;
    font-weight: normal;
  }
  .weui-media-box {
    padding: 0.4rem;
  }
  .weui-media-box__title {
    text-align: center;
  }
  .weui-media-box__desc {
    margin-top: 0.15rem;
    color: #999;
    overflow: visible;
    display: block;
    line-height: 1.5;
    text-align: center;
    em {
      font-style: normal;
      color: #CA9F4D;
    }
  }

  .weui-btn-area {
    margin: 0.4rem 0.3rem 0.04rem;
    .weui-btn {
      font-size: 0.17rem;
    }
  }
}
