<app-navbar [navBar]="navBarConfig"></app-navbar>

<article class="weui-article">
  <h1>“大牛管家”第四期招聘简章</h1>
  <p style="text-indent: 2em">
    广州猎金网络科技有限公司是一家经广州市工商管理局正式登记注册、拥有自主研发的互联网信息化管理软件系统的专业化商务公司。“大牛管家”是公司推出的现代高端服务品牌，由商界成功企业家、体育运动专家、部队退役军官团队创建并管理，禀承“忠诚、安全、健康、舒心”的服务理念，旨在为全国高端商务人士及其家庭提供“<u>安全防护、驾驶保障、体能训练</u>”三大类日常综合保障服务。</p>
  <p style="text-indent: 2em"><b>现因业务快速发展需要，面向退役军人，诚聘“大牛管家”100人。第四期“大牛管家”将于2018年07月07日报到。</b></p>

  <section>
    <h3>一、岗位职责</h3>
    <p style="text-indent: 2em">主要为互联网、房地产、金融、影视、游戏、电商等行业的企业创始人、高管及社会名人提供<u>安全防护、驾驶保障、体能训练</u>三大类日常随行综合保障服务。</p>
  </section>
  <section>
    <h3>二、招聘要求</h3>
    <ol>
      <li>退役军人，特种部队优先，其他部队作战分队优先，担任过班长职务优先，中共党员优先；</li>
      <li>持有C1以上驾照，熟悉多种车型，驾驶技术熟练，实际驾龄在1年以上，驾驶里程在10000公里以上；</li>
      <li>年龄在21-30周岁，身体健康、无犯罪记录，身高在170CM以上，体重符合体型标准（身高CM－105±10%）</li>
      <li>从部队退役时间不超过5周年，有一定社会工作经验者优先。</li>
    </ol>
  </section>

  <section>
    <h3>三、薪资待遇</h3>
    <ol>
      <li>管家岗位定级区分“初级、中级、高级、特级、安全专家”5个级别，根据培训期间行为表现与结业考评成绩并综合部队性质、服役年限、个人特长可定为前三级，即“初级、中级、高级”，上岗后通过在职培训和实践锻炼逐次晋级，每年组织一次评审，最高可晋升为安全专家；</li>
      <li>“初级、中级、高级、特级、安全专家”5个级别，每月薪资分别为7000元/月、8000元/月、9000元/月、12000-18000元/月、25000元/月；</li>
      <li>正常情况下客户提供住宿，否则由公司统筹安排住宿或给予住房补贴；</li>
      <li>根据国家法律规定，在公司所在地购买社保五险；</li>
      <li>个人所得税按照国家规定由员工个人承担，公司依法代扣代缴。</li>
    </ol>
  </section>
  <section>
    <h3>四、岗前培训</h3>
    <ol>
      <li><b>培训时间：</b>为期2个月，每周6天培训，周日休息；依托培训基地实行半军事化管理，由专职教员和兼职专家授课；</li>
      <li><b>培训内容：</b>格斗、防卫、救护、健身、驾驶、法律、出行管理、商务礼仪、心理健康等科目；</li>
      <li><b>培训期待遇：</b>三星公寓标准、四人间上下铺住宿，餐厅自助就餐，提供统一被褥、服装、鞋，个人生活用品需自带；另可向公司预借3000元/月的生活费。</li>
    </ol>
  </section>
  <section>
    <h3>五、应聘流程</h3>
    <p style="text-indent: 2em">基本流程：<b>报名登记—简历审核—电话沟通—就近面试—基地报到—选拔考核—岗前培训—正式上岗。</b></p>
    <ol>
      <li><b>报名登记：</b>有意者统一进入大牛管家招聘系统，进行个人简历登记，信息应当真实有效；</li>
      <li><b>简历审核：</b>招聘人员收到简历后，将在2天内进行初步审核；</li>
      <li><b>电话沟通：</b>审核符合条件者，将安排电话或视频沟通，进一步了解相关情况；</li>
      <li><b>就近面试：</b>公司视各地区应聘者人数情况，安排在应聘者所在城市或就近城市集中面试，通过面试者由公司发放考核通知书；</li>
      <li><b>基地报到：</b>应聘者按照通知书约定的时间、地点，携带相关证件、资料前往公司培训基地报到，地址：广州市白云区钟落潭镇广东青年职业学院青年公寓；</li>
      <li><b>选拔考核：</b>培训基地统一组织4项检测：①驾驶测试②心理测查③体格检查④基础体能测试（项目有100米、立定跳远、俯卧撑、仰卧起坐、引体向上、3000米等）</li>
      <li><b>岗前培训：</b>通过考核者，公司组织集体谈话以及薪资待遇、培训协议、劳动合同等事项的详细讲解，并签订《培训协议》，参加培训者须<b>承诺经培训结业考评合格、正式上岗后在公司工作满1年；考核合格者由公司签订正式劳动合同并包就业，就近分配工作。</b>
        <p>岗前培训期间费用，由公司先期全额垫资。工作一年，个人承担培训费用；工作两年，公司承担50%培训费用；工作满三年，公司承担全部培训费用。</p></li>
      <li><b>正式上岗：</b>上岗后的工作地点，根据客户分布、工作需要和个人期望，在北京、上海、广州、深圳、杭州5个城市就近分配，后期随服务区域拓展可在各省会和部分经济发达城市就近安排。</li>
    </ol>
  </section>
  <section>
    <h3>六、报名方式</h3>
    <!--<p>有意应聘者请扫描下方二维码，添加微信“大牛管家”（daniuguanjia666），咨询沟通报名事宜。</p>-->
    <ol>
      <li>请点击下方“我要报名”按钮，填写个人信息，进行报名登记。</li>
      <li>有意应聘者请仔细阅读上述信息，如需咨询未尽事宜，请扫描下方二维码，添加微信“大牛管家（daniuguanjia666）”。</li>
    </ol>
  </section>
  <section>
    <div class="resume-code">
      <img src="/assets/images/resume-code.png">
    </div>
  </section>
  <section>
    <div class="weui-btn-area">
      <a class="weui-btn weui-btn_primary" routerLink="/front/resume/post" queryParamsHandling="merge">我要报名</a>
    </div>
  </section>
</article>
