.weui-media-box {
  padding: 0;
}
.img-box {
  margin: 0.15rem;
}

.weui-btn-area {
  .weui-btn_primary {
    background-image: linear-gradient(90deg, #E0BB7C 0%, #B38247 100%);
    border-radius: 100px;
  }
}
