<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>
<!--<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="action-panel weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">Home > 招聘管理 > 退伍士兵 > 待审核</div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><span class="ui-label hollow radius">添加新学期</span></div>
      <div class="weui-cell__bd"></div>
      <div class="weui-cell__ft"></div>
    </div>
  </div>

  <div class="table-content">
    <table class="result ui celled table">
      <thead>
      <tr>
        <th>学期</th>
        <th>编号</th>
        <th>开始时间</th>
        <th>结束时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="trainees.length === 0">
        <td colspan="5" style="text-align: center">
          没有数据
        </td>
      </tr>
      <tr [routerLink]="['/admin/backend/trainee/item',item.traineeid]" *ngFor="let item of trainees;let i = index">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</weui-infiniteloader>-->

