<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>
<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="weui-cells__title">Home > 客户管理 > 订单信息</div>
  <div class="filter-nav weui-flex">
    <div (click)="setType(0)" [ngClass]="{'curr' : params.type === 0}" class="weui-flex__item">意向订单</div>
    <div (click)="setType(1)" [ngClass]="{'curr' : params.type === 1}" class="weui-flex__item">佣金订单</div>
  </div>
  <div class="filter-date weui-cells weui-cells_form">
    <div class="weui-flex">
      <div class="search weui-flex__item">
        <div class="weui-cell">
          <div class="weui-cell__hd"><span class="icon-search"></span></div>
          <div class="weui-cell__bd">
            <input class="weui-input" [(ngModel)]="params.name" (ngModelChange)="inputChange(params.name)"
                   type="text" name="name" placeholder="查找姓名"></div>
        </div>
      </div>
      <div class="level weui-flex__item">
        <div (click)="showPicker()" class="weui-cell">
          <div class="weui-cell__bd">

            <div class="weui-cell__ft">{{payState.label}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-flex">
      <div (click)="showPickerDate('begincreatetime')" class="weui-flex__item">
        <div class="weui-cell">
          <div class="weui-cell__hd"><span class="icon-doc-chart"></span></div>
          <div class="weui-cell__bd">{{params.begincreatetime ? params.begincreatetime : '起始日期'}}</div>
        </div>
      </div>
      <div (click)="showPickerDate('endcreatetime')" class="weui-flex__item">
        <div class="weui-cell">
          <div class="weui-cell__hd">至</div>
          <div class="weui-cell__bd">{{params.endcreatetime ? params.endcreatetime : '结束日期'}}</div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="orders" class="table-content">
    <table class="result ui celled table">
      <thead>
      <tr>
        <th>客户<br/>名称</th>
        <th>订单号</th>
        <th>支付<br/>状态</th>
        <th>沟通<br/>情况</th>
        <th>下单<br/>时间</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="orders.length === 0">
        <td colspan="5" style="text-align: center">
          没有数据
        </td>
      </tr>
      <tr [routerLink]="['/admin/backend/order/item',item.serviceorderid]" [queryParams]="{type:params.type}"
          *ngFor="let item of orders">
        <td>{{item.customername}}</td>
        <td>***{{item.orderno.slice(item.orderno.length - 4)}}</td>
        <td>
          <span *ngIf="item.paystatus === 1">未支付</span>
          <span *ngIf="item.paystatus === 2">已支付</span>
          <span *ngIf="item.paystatus === 3">部分支付</span>
        </td>
        <td>
          <span *ngIf="item.currentnode === 1 || item.currentnode === null">新建</span>
          <span *ngIf="item.currentnode === 2">派单</span>
          <span *ngIf="item.currentnode === 3">出单</span>
          <span *ngIf="item.currentnode === 4">确认订单</span>
          <span *ngIf="item.currentnode === 5">已完成</span>
        </td>
        <td>{{item.createtime}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</weui-infiniteloader>
