.ui-label {
  font-size: .13rem;
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 .14285714em;
  background-color: #e8e8e8;
  background-image: none;
  padding: .5833em .833em;
  color: rgba(0, 0, 0, .6);
  text-transform: none;
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .028571429rem;
  transition: background .1s ease;
  position: relative;
  overflow: hidden;
  &.mini {
    padding: 0.2em 0.8em;
  }
  &.circle {
    border-radius: 100px;
  }
  &.horizontal {
    margin: 0 .5em 0 0;
    padding: .4em .833em;
    min-width: 3em;
    text-align: center;
    vertical-align: text-bottom;
  }
  &.hollow {
    background-color: transparent !important;
    &:after {
      content: " ";
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      transform: scale(0.5);
      transform-origin: 0 0;
      box-sizing: border-box;
      border-radius: 100px;
    }
  }
  &.red {
    background-color: #db2828 !important;
    border-color: #db2828 !important;
    color: #fff !important;
    &.colors {
      background-color: rgba(234, 90, 43, 0.20) !important;
      color: #EA5A2B !important;
      font-weight: normal !important;
    }
  }
  &.orange {
    background-color: #f2711c !important;
    border-color: #f2711c !important;
    color: #fff !important;
  }
  &.yellow {
    background-color: #fbbd08 !important;
    border-color: #fbbd08 !important;
    color: #fff !important;
    &.hollow {
      background-color: transparent !important;
      color: #fbbd08 !important;
      &:after {
        border: 1px solid #fbbd08;
      }
    }
  }
  &.olive {
    background-color: #b5cc18 !important;
    border-color: #b5cc18 !important;
    color: #fff !important;
  }
  &.green {
    background-color: #21ba45 !important;
    border-color: #21ba45 !important;
    color: #fff !important;
    &.hollow {
      background-color: transparent !important;
      color: #21ba45 !important;
    }
    &.colors {
      background-color: #DCF1E4 !important;
      color: #4EB876 !important;
      font-weight: normal !important;
    }
  }
  &.teal {
    background-color: #00b5ad !important;
    border-color: #00b5ad !important;
    color: #fff !important;
  }
  &.blue {
    background-color: #2185d0 !important;
    border-color: #2185d0 !important;
    color: #fff !important;
    &.colors {
      background-color: #D8EBF7 !important;
      color: #3E9AD5 !important;
      font-weight: normal !important;
    }
  }
  &.violet {
    background-color: #6435c9 !important;
    border-color: #6435c9 !important;
    color: #fff !important;
  }
  &.purple {
    background-color: #a333c8 !important;
    border-color: #a333c8 !important;
    color: #fff !important;
  }
  &.pink {
    background-color: #e03997 !important;
    border-color: #e03997 !important;
    color: #fff !important;
  }
  &.brown {
    background-color: #a5673f !important;
    border-color: #a5673f !important;
    color: #fff !important;
  }
  &.grey {
    background-color: #767676 !important;
    border-color: #767676 !important;
    color: #fff !important;
  }
  &.black {
    background-color: #1b1c1d !important;
    border-color: #1b1c1d !important;
    color: #fff !important;
  }
}
