.weui-rating__container {
  outline: none
}

.rating {
  > i {
    display: inline-block;
    vertical-align: text-top;
    font-size: 0.12rem;
    line-height: 1;
    width: 0.12rem;
    height: 0.12rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    &:before {
      font-style: normal;
    }
  }
  .off {
    background-image: url("/assets/images/icons/star-off.png");
  }
  .on {
    background-image: url("/assets/images/icons/star-on.png");
  }
}
