<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <article class="weui-article">
    <h1 style="text-align: center">大牛管家荐才行动细则</h1>

    <section>
      <h3>一、行动宗旨</h3>
      <p style="text-indent: 2em">本行动是为大牛管家推荐合适人才，将其培训成为优质的生活管家，服务社会大众。本期目标招收1000名学员，推荐总数达到指标，停止实施补贴。</p>
    </section>
    <section>
      <h3>二、推荐条件</h3>
      <p style="text-indent: 2em"><b>推荐人所介绍前来应聘的学员应当符合下列条件：</b></p>
      <ol>
        <li><b>部队退伍兵：</b>特种部队优先，其他部队作战分队优先，五年或八年兵优先，担任过班长职务优先，中共党员优先；<br>
          <b>体育特长人才：</b>武术、健身、运动康复专业；
        </li>
        <li>持有C1以上驾照，熟悉多种车型，驾驶技术熟练，实际驾龄在1年以上，驾驶里程在1万公里以上；</li>
        <li>年龄在23-28周岁，身高在168CM以上，体重符合体型标准（身高CM－105±10%）；</li>
        <li>军人退役或体育生毕业时间不超过5周年。</li>
      </ol>
    </section>
    <section>
      <h3>三、如何推荐？</h3>
      <p style="text-indent: 2em">在荐才行动页面中，点击推荐链接右方的“马上分享”按钮，然后分享给好友进行招聘。（注意需先点击“马上分享”后再进行分享）</p>
    </section>
    <section>
      <h3>四、补贴规则</h3>
      <ol>
        <li>推荐人每成功介绍一名学员，经大牛管家公司招录程序确定具备培训资格，并签订培训协议后1周内，给推荐人发放相应补贴（推荐两年兵补贴100元；推荐五年兵、八年兵或体育特长人才：补贴300元）；</li>
        <li>推荐人介绍的学员参加岗前培训顺利结业，并与大牛管家公司签订劳动合同后，再给推荐人发放第二次补贴（推荐两年兵补贴100元；推荐五年兵、八年兵或体育特长人才：补贴300元）；</li>
        <li>发送提取申请后，可提现余额暂被冻结，等待大牛管家审核（1个工作日内），审核通过后，即发放补贴；</li>
        <li>补贴采用银行转账方式发放，请在活动页面中及时填写正确真实的银行账户资料。</li>
      </ol>
    </section>
    <section>
      <p style="text-indent: 2em">大牛管家拥有本次活动的最终解释权</p>
    </section>
  </article>
</div>

<div class="btns-group">
  <a (click)="back()" class="btn-twitter">返回</a>
</div>
