<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <app-msg *ngIf="currLists?.length === 0" [msg]='{title:"暂无\"管家\"记录",desc:"您可以关注\"大牛管家\"公众号，获取最新活动消息。",cancel:"返回"}'></app-msg>

  <app-infinite-loader (loadmore)="onLoadMore($event)" #comp>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <app-profile [routerLink]="['/front/employees/employee', item.housekeeperid]" [queryParams]="{gh: gh}" [profile]="item"
                     *ngFor="let item of currLists"
                     class="weui-media-box weui-media-box_appmsg"></app-profile>
      </div>
    </div>
  </app-infinite-loader>
  <a *ngIf="isLast" [routerLink]="['/front/guide/step4']" [queryParams]="{gh: gh}" class="btn circle" href="javascript:;">还没选到，帮我安排吧</a>
</div>
