<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div class="weui-tab">
    <div class="weui-navbar">
      <div class="weui-navbar__item">
        <a class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_on' : show?.level}"
           (click)="onPickerShow('level')">
          <div class="weui-cell__bd">
            <p>{{level?.label}}管家</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
      <div class="weui-navbar__item">
        <a class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_on' : show?.score}"
           (click)="onPickerShow('score')">
          <div class="weui-cell__bd">
            <p>{{synthetical.label}}</p>
          </div>
          <div class="weui-cell__ft">
          </div>
        </a>
      </div>
    </div>
    <div class="weui-tab__panel">
      <app-msg *ngIf="currLists?.length === 0"
               [msg]='{title:"暂无\"管家\"记录",desc:"您可以关注\"大牛管家\"公众号，获取最新活动消息。",cancel:"返回"}'></app-msg>

      <weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
        <app-profile-min [routerLink]="['/front/employees/employee', item.housekeeperid]" queryParamsHandling="merge"
                         [profile]="item"
                         *ngFor="let item of currLists" class="weui-panel"></app-profile-min>
      </weui-infiniteloader>
    </div>
  </div>
</div>
