<app-navbar [navBar]="navBarConfig"></app-navbar>

<article class="weui-article">
  <h1>“大牛管家”开训了！！！</h1>
  <section>
    <p>花城三月，春意盎然。广州猎金网络科技有限公司（旗下品牌“大牛管家”）在历时半年的充分准备之后，第一期学员培训隆重开班，“牛群一号”正式启动！</p>
  </section>
  <section>
    <p class="img-box">
      <img src="/assets/images/news/01.jpg" alt="">
    </p>
    <p class="img-title">“大牛管家”学员培训（第一期）合影留念</p>
  </section>
  <section>
    <h2>培训基地掠影</h2>
    <p>先来看看“投资环境”怎么样？培训基地位于广东青年职业学院（白云校区），这里依山傍水、环境优美、条件优越。</p>
    <p class="img-box">
      <img src="/assets/images/news/02.jpg" alt="">
    </p>
    <p class="img-title">空中俯瞰</p>

    <p class="img-box">
      <img src="/assets/images/news/03.jpg" alt="">
    </p>
    <p class="img-title">学院大门</p>

    <p class="img-box">
      <img src="/assets/images/news/04.jpg" alt="">
    </p>
    <p class="img-title">“奋斗的青春最美丽”</p>

    <p class="img-box">
      <img src="/assets/images/news/05.jpg" alt="">
    </p>
    <p class="img-title">“学习与劳动结合”</p>

    <p class="img-box">
      <img src="/assets/images/news/06.jpg" alt="">
    </p>
    <p class="img-title">图书馆</p>

    <p class="img-box">
      <img src="/assets/images/news/07.jpg" alt="">
    </p>
    <p class="img-title">实训楼</p>

    <p class="img-box">
      <img src="/assets/images/news/08.jpg" alt="">
    </p>
    <p class="img-title">未名湖</p>

    <p class="img-box">
      <img src="/assets/images/news/09.jpg" alt="">
    </p>
    <p class="img-title">篮球场</p>

    <p class="img-box">
      <img src="/assets/images/news/10.jpg" alt="">
    </p>
    <p class="img-title">青年公寓</p>

    <p class="img-box">
      <img src="/assets/images/news/11.jpg" alt="">
    </p>
    <p class="img-title">“大牛管家”培训基地欢迎您！</p>

    <p class="img-box">
      <img src="/assets/images/news/12.jpg" alt="">
    </p>
    <p class="img-title">一日三餐在此</p>

    <p class="img-box">
      <img src="/assets/images/news/13.jpg" alt="">
    </p>
    <p class="img-title">学员宿舍</p>

    <p>看过培训基地的基本设施，是不是有那么一点点动心...</p>
  </section>

  <section>
    <h2>学员招聘揭密</h2>
    <p>“大牛管家”学员招聘，经过前期网络报名、电话沟通，40名有志者从全国四面八方，采取各种方式赶到培训基地，参加严格的选拔考核。</p>

    <p class="img-box">
      <img src="/assets/images/news/14.jpg" alt="">
    </p>
    <p class="img-title">
      第一关：面试<br>
      （面试官是不是太多了？人家会紧张嘛。其实，还有一个在拍照......）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/15.jpg" alt="">
    </p>
    <p class="img-title">
      第二关：驾驶测试<br>
      （知道你有驾照，但我们看重的是技术！老司机偷偷笑了有木有？）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/16.jpg" alt="">
    </p>
    <p class="img-title">
      第三关：心理测查<br>
      （心理变态勿扰，心理脆弱少来，自信坚强稳重的你，才是合作的伙伴）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/17.jpg" alt="">
    </p>
    <p class="img-title">
      第四关：体格检查<br>
      （就在这里了，量啊、测啊、抽啊、脱啊，人家不好意思，所以没拍喽，不过还是透露下：共有11项哦）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/18.jpg" alt="">
    </p>
    <p class="img-title">
      第五关：体能测试<br>
      （都是年青人，应该能跑能跳吧...我们不看长相，身体才是革命的本钱！）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/19.jpg" alt="">
    </p>
    <p class="img-title">
      第六关：职业解读<br>
      （我们是认真的，先要讲清楚，上岗做什么，薪酬怎么样？24小时考虑时间，双向选择，来去自由！）
    </p>

    <p class="img-box">
      <img src="/assets/images/news/20.jpg" alt="">
    </p>
    <p class="img-title">
      又不是选飞行员，竟然有这么多关，吃点东西压压惊！<br>
      （我们是真诚的，只要你肯来，不管有没有通过选拔，一律免费保障，包接包送包吃包住包体检，一包到底！）
    </p>
  </section>

  <section>
    <h2>培训独家报道</h2>
    <p>话说通过了严格的选拔，就该正式参加培训了。</p>
    <p>首先，要正式签订《培训协议》。我们是正规的公司，可不是传销组织。协议内容是什么？放心，完全合情合理，特别是合法，又不是“卖身契”，不要紧张嘛。</p>
    <p>然后，就是各种发东西。发服装，发学习用品，发生活用品...不要感觉不好意思，虽然这些都是免费的。</p>
    <p>再然后，两个月的培训就开始了。针对“安全防护、科学运动、驾驶出行”三大服务领域，我们设计了7个科目20个课目140余项内容，2个月学完，任务不轻呢！</p>
    <p>俗话说“有图有真相”。发几张内部照片，感觉一下吧！</p>

    <p class="img-box">
      <img src="/assets/images/news/21.jpg" alt="">
    </p>
    <p class="img-title">礼仪课堂</p>

    <p class="img-box">
      <img src="/assets/images/news/22.jpg" alt="">
    </p>
    <p class="img-title">体能训练</p>

    <p class="img-box">
      <img src="/assets/images/news/23.jpg" alt="">
    </p>
    <p class="img-title">格斗训练</p>

    <p class="img-box">
      <img src="/assets/images/news/24.jpg" alt="">
    </p>
    <p class="img-title">心理课堂</p>

    <p class="img-box">
      <img src="/assets/images/news/25.jpg" alt="">
    </p>
    <p class="img-title">队列训练</p>

    <p class="img-box">
      <img src="/assets/images/news/26.jpg" alt="">
    </p>
    <p class="img-title">健身课堂</p>

    <p class="img-box">
      <img src="/assets/images/news/27.jpg" alt="">
    </p>
    <p class="img-title">元宵节会餐</p>

    <p class="img-box">
      <img src="/assets/images/news/28.jpg" alt="">
    </p>
    <p class="img-title">同学努力</p>

    <p class="img-box">
      <img src="/assets/images/news/29.jpg" alt="">
    </p>
    <p class="img-title">兄弟加油</p>
    <p>内部照片很多的啦，先就展示这些吧，万一泄露了商业秘密......</p>
  </section>

  <section>
    <h2>再说两句</h2>
    <p>做项目，我们是认真的！你还在怀疑吗？</p>
    <p>做品牌，我们是用心的！你还在犹豫吗？</p>
    <p>做培训，我们是努力的！你还在彷徨吗？</p>
    <p>大牛管家召人才，只要优秀你就来！</p>
  </section>

  <section>
    <p><a href="http://wap.danius.cn/front/resume/job">马上前往报名</a></p>
  </section>

</article>
