<div class="weui-grids" (click)="onShow()">
  <div *ngFor="let img of (slides ? slides.slice(0,3): [])" class="weui-grid">
    <div class="photo" [ngStyle]="{'background-image':'url(' + img + ')'}">

    </div>
  </div>
</div>
<div *ngIf="type == 'component' && show" class="weui-gallery" style="display: block">
  <swiper class="swiper-container" [config]="config"
          (indexChange)="onIndexChange($event)" fxFlex="auto">

        <span *ngFor="let slide of slides" class="weui-gallery__img"
              [ngStyle]="{'background-image':'url(' +slide +')'}"></span>
  </swiper>
  <div class="weui-gallery__opr">
    <a href="javascript:" class="weui-gallery__del">
      <i class="weui-icon-delete weui-icon_gallery-delete"></i>
    </a>
  </div>
</div>
