<app-navbar [navBar]="navBarConfig"></app-navbar>

<article class="weui-article">
  <h1>"大牛管家"提现规则</h1>

  <section>
    <ol>
      <li>你每成功招募到一个学员（以签署学员协议为准），可奖励xxx元。</li>
      <li>你成功招募的学员成为签约为管家（以签订管家协议为准），可奖励xxx元。</li>
      <li>xxxxxxxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
      <li>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</li>
      <li>关于大牛管家荐才行动，最终解释权由大牛管家拥有</li>
    </ol>
  </section>
</article>

<div class="btns-group">
  <a (click)="back()" class="btn-twitter">返回</a>
</div>
