<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><div class="weui-icon_msg"><img src="/assets/images/front/investigate/success/big_logo.png"></div></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">预定成功</h2>
      <p class="weui-msg__desc">稍后将有客服人员与您联系，请留意接听来自广州（020）的来电，感谢您对大牛管家的信任与支持！</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a routerLink="/front/index" class="weui-btn weui-btn_primary">去大牛管家官网看看</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>
</div>
