.content-scrollable {
  overflow: hidden;
}

.banner {
  position: relative;
  height: 35%;
  text-align: center;
  background: #fff;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  .ratio {
    position: absolute;
    right: 0;
    top: 10%;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0.05rem 0.1rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

  }
}

.weui-tab {
  height: 65%;
  box-sizing: border-box;
  padding-top: 50px;
  .weui-tab__panel {
    padding: 0 !important;
  }
}

.weui-navbar {
  background: #fff;
  &:after {
    border-bottom: 2px solid #f8f8f8;
    transform: scaleY(1);
  }
  .weui-navbar__item {
    &:after {
      display: block !important;
      border-right: none;
      height: 1px;
      width: 4em;
      left: 50%;
      margin-left: -2em;
      bottom: 0;
      top: auto;
      transform: scaleX(1);
    }
    &.weui-bar__item_on {
      background: none;
      color: #FBA703;
      &:after{
        border-bottom: 4px solid #FBA703;
      }
    }
  }
}

.comment-panel {
  background: #fff;
  .weui-media-box__hd {
    width: 0.3rem;
    height: 0.3rem;
    line-height: 0.3rem;
    .avatar {
      width: 0.3rem;
      height: 0.3rem;
    }
  }
  .weui-media-box__bd {
    .weui-media-box__title {
      font-size: 0.13rem;
      .right {
        font-size: 0.12rem;
        color: #999;
      }
    }
  }
}

.title, .describe {
  margin-top: 0;
  &:before, &:after {
    display: none;
  }
}

.title {
  line-height: 1;
  font-weight: bold;
  .weui-cell {
    padding: 0.2rem 0.15rem;
    .weui-cell__ft {
      font-size: 0.13rem;
    }
  }
}

.describe {
  margin-top: 0.1rem;
  .weui-media-box {
    font-size: 0.14rem;
    color: #666;
  }
}

.weui-panel__hd {
  font-size: 0.15rem;
  color: #0F0F0F;
}

.pdb {
  display: block;
  height: 58px;
}

.ui-label {
  display: block;
  font-size: 0.12rem;
  padding: 0.4em !important;
}

.learned {
  .weui-cell__hd {
    .ui-label {
      display: block;
      background: #F3F3F3 !important;
      color: #999 !important;
    }
  }
  .weui-cell__bd {
    color: #999;
  }
}

.catalog {
  .weui-cell {
    padding: 0.2rem 0.15rem;
  }
}

.post-comment {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f8f8f8;
  .weui-grid {
    padding: 0.15rem;
  }
  .comment {
    width: 75%;
    padding-right: 0;
    input {
      width: 100%;
      padding: 0.1rem;
      margin: 0;
      box-sizing: border-box;
      border: 1px solid #eee;
      border-radius: 0.04rem;
      line-height: 0.18rem;
      font-size: 0.15rem;
    }
  }
  .post {
    width: 25%;
    .weui-btn {
      font-size: 0.15rem;
      line-height: 0.18rem;
      padding: 0.1rem;
      border: 1px solid #f8f8f8;
      border-radius: 0.36rem;
    }
  }
}
