<div class="content-scrollable has-footer">
  <div class="img-box">
    <img src="/assets/images/guide/start/banner.jpg">
  </div>

  <div class="title">
    <div class="txt"><em>服务内容</em></div>
    <div class="line">
      <img src="/assets/images/guide/start/line.png">
    </div>
  </div>

  <div class="services">
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <span class="txt-num">01</span>
        <div class="txt-title">安全防护</div>
        <div class="txt-content">随身防护<br>固定防护<br>紧急救护</div>
      </div>
      <div class="img weui-flex__item" style="background-image: url('/assets/images/guide/start/service-1.jpg');"></div>
    </div>
    <div class="weui-flex">
      <div class="img weui-flex__item" style="background-image: url('/assets/images/guide/start/service-2.png');"></div>
      <div class="txt weui-flex__item">
        <span class="txt-num">02</span>
        <div class="txt-title">驾驶出行</div>
        <div class="txt-content">安全驾驶<br>车辆养护<br>出行保障</div>
      </div>
    </div>
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <span class="txt-num">03</span>
        <div class="txt-title">科学运动</div>
        <div class="txt-content">运动陪练<br>体能训练<br>损伤预防</div>
      </div>
      <div class="img weui-flex__item" style="background-image: url('/assets/images/guide/start/service-3.jpg');"></div>
    </div>
  </div>

  <div class="sub-service">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <div class="img-box">
          <img src="/assets/images/guide/start/sub-service-1.png">
        </div>
        <div class="title">商务助理</div>
      </div>
      <div class="weui-flex__item">
        <div class="img-box">
          <img src="/assets/images/guide/start/sub-service-2.png">
        </div>
        <div class="title">陪伴成长</div>
      </div>
      <div class="weui-flex__item">
        <div class="img-box">
          <img src="/assets/images/guide/start/sub-service-3.png">
        </div>
        <div class="title">关爱长辈</div>
      </div>
    </div>
  </div>

  <div class="title">
    <div class="txt">大牛管家, <em>只为牛人服务</em></div>
    <div class="line">
      <img src="/assets/images/guide/start/line.png">
    </div>
  </div>
  <div class="sub-title">
    <p>军旅磨砺，百炼成钢，忠诚正直</p>
  </div>

  <div class="solders">
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <div class="title"><span>特级管家</span><em>¥21000/月</em></div>
        <ul>
          <li>5-8年特种部队磨砺</li>
          <li>2年以上相关工作经历</li>
          <li>驾驶技术娴熟</li>
          <li>综合技能优秀</li>
        </ul>
      </div>
      <div class="img weui-flex__item"></div>
    </div>
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <div class="title"><span>高级管家</span><em>¥16000/月</em></div>
        <ul>
          <li>2-5年特种部队磨砺</li>
          <li>2年工作经历</li>
          <li>驾驶技术娴熟</li>
          <li>综合技能优秀</li>
        </ul>
      </div>
      <div class="img weui-flex__item">

      </div>
    </div>
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <div class="title"><span>中级管家</span><em>¥14000/月</em></div>
        <ul>
          <li>2-5年作战部队磨砺</li>
          <li>1年工作经历</li>
          <li>驾驶技术熟练</li>
          <li>综合技能良好</li>
        </ul>
      </div>
      <div class="img weui-flex__item"></div>
    </div>
    <div class="weui-flex">
      <div class="txt weui-flex__item">
        <div class="title"><span>初级管家</span><em>¥12000/月</em></div>
        <ul>
          <li>2年以上部队磨砺</li>
          <li>驾驶技术熟练</li>
          <li>综合技能达标</li>
        </ul>
      </div>
      <div class="img weui-flex__item"></div>
    </div>
  </div>

  <div class="weui-btn-area">
    <a href="https://mp.weixin.qq.com/s/OOzH9G3URmezgjxJg3YrHA" class="weui-btn weui-btn_default">关于我们</a>
  </div>

  <div class="btns-group">
    <a class="btn-primary" routerLink="/guide/step1">预订管家</a>
  </div>

  <!--<a href="https://mp.weixin.qq.com/s/OOzH9G3URmezgjxJg3YrHA" class="about">
    <img src="/assets/images/guide/about.png?v=2">
  </a>-->
</div>
