.weui-media-box__hd {
  margin: 0 0 0 0.8em;
}

.weui-panel__bd {
  &:after {
    display: none;
  }
}

.weui-cells__title {
  color: #0f0f0f;
  font-size: 0.24rem;
  margin-bottom: 0;
}
.weui-cells__tips {
  color: #333;
  font-size: 0.14rem;
  margin-top: 0;
}

.weui-media-box__desc {
  margin-top: 0.1rem;
}

.weui-cells, .weui-panel {
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  border-radius: 0.06rem;
  box-shadow: 0 7px 14px 0 rgba(185, 185, 185, 0.20);
  &:before, &:after {
    display: none;
  }
}

em {
  color: #CA9F4D ;
  font-style: normal;
}
