<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <h1>第一步：选择所在城市</h1>
  <h2>我们将为您提供专业的贴身管家服务</h2>

  <div class="serviceArea">
    <div class="weui-grids">
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step2']" [queryParams]="{city: '北京'}" queryParamsHandling="merge" class="ui-label circle colors yellow">北京</span>
      </div>
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step2']" [queryParams]="{city: '上海'}" queryParamsHandling="merge" class="ui-label circle colors yellow">上海</span>
      </div>
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step2']" [queryParams]="{city: '杭州'}" queryParamsHandling="merge" class="ui-label circle colors yellow">杭州</span>
      </div>
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step2']" [queryParams]="{city: '广州'}" queryParamsHandling="merge" class="ui-label circle colors yellow">广州</span>
      </div>
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step2']" [queryParams]="{city: '深圳'}" queryParamsHandling="merge" class="ui-label circle colors yellow">深圳</span>
      </div>
      <div class="weui-grid">
        <span [routerLink]="['/front/guide/step1/custom']" queryParamsHandling="merge" class="ui-label circle colors yellow">其它城市</span>
      </div>
    </div>
  </div>

</div>
