<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>
<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="weui-cells__title">Home > 管家管理 > 个人周报</div>

  <div class="filter-date weui-cells weui-cells_form">
    <div class="weui-flex">
      <div class="search weui-flex__item">
        <div class="weui-cell">
          <div class="weui-cell__hd"><span class="icon-search"></span></div>
          <div class="weui-cell__bd">
            <input class="weui-input" [(ngModel)]="params.housekeepername" (ngModelChange)="inputChange(params.housekeepername)"
                   type="text" name="housekeepername" placeholder="查找姓名或编号"></div>
        </div>
      </div>
    </div>

    <div class="weui-flex">
      <div class="weui-flex__item">
        <div (click)="showPicker('iscomplete')" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">是否完整</div>
          <div class="weui-cell__ft">{{pickerData.iscomplete.selected}}</div>
        </div>
      </div>
      <div class="weui-flex__item">
        <div (click)="showPicker('auditstatus')" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">批复情况</div>
          <div class="weui-cell__ft">{{pickerData.auditstatus.selected}}</div>
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="works" class="table-content">
    <table class="result ui celled table">
      <thead>
      <tr>
        <th>姓名</th>
        <th>编号</th>
        <th>是否完整</th>
        <th>批复情况</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="works.length === 0">
        <td colspan="4" style="text-align: center">
          没有数据
        </td>
      </tr>
      <tr [routerLink]="['/admin/backend/housekeeper/week/item',work.housekeeperid]"
          *ngFor="let work of works;let i = index">
        <td>{{work.housekeeperName}}</td>
        <td>{{work.housekeeperno}}</td>
        <td [ngClass]="{'red':work.iscomplete !== 1}">
          <span *ngIf="work.iscomplete === 1">完整</span>
          <span *ngIf="work.iscomplete !== 1"><em>不完整</em></span>
        </td>
        <td [ngClass]="{'red':work.auditstatus !== 1}">
          <span *ngIf="work.auditstatus === 1">已批复</span>
          <span *ngIf="work.auditstatus !== 1"><em>未批复</em></span>
        </td>
      </tr>

      <tr [routerLink]="['/admin/backend/housekeeper/week/item',work.housekeeperid]" *ngFor="let work of omissionList;let i = index">
        <td>{{work.housekeeperName}}</td>
        <td>{{work.housekeeperno}}</td>
        <td colspan="2"><em>未填写</em></td>
      </tr>
      </tbody>
    </table>
  </div>
</weui-infiniteloader>
