<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg"><img src="/assets/images/guide/success.png"></div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">预约成功！</h2>
      <p class="weui-msg__desc">已收到您的登记信息，我们稍后将联系您！<br />
        请留意接听广州地区 (020) 来电！</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a routerLink="/admin/home" class="weui-btn weui-btn_primary">进个人中心看看</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>
</div>
