<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <form novalidate [formGroup]="bankForm" (ngSubmit)="onSubmit()">
    <div class="weui-cells__title">添加提现账号 {{bankForm.get('accountNo').value}}</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell" [ngClass]="{'weui-cell_warn':bankForm.get('accountNo').invalid && isSubmit}">
        <div class="weui-cell__hd"><label for="" class="weui-label">银行卡号</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" pattern="[0-9]*" formControlName="accountNo" placeholder="请输入银行卡号">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
      <div class="weui-cell" [ngClass]="{'weui-cell_warn':bankForm.get('accountName').invalid && isSubmit}">
        <div class="weui-cell__hd"><label for="" class="weui-label">账户名</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" formControlName="accountName" placeholder="请输入账户名">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
      <div class="weui-cell" [ngClass]="{'weui-cell_warn':bankForm.get('bankName').invalid && isSubmit}">
        <div class="weui-cell__hd"><label for="" class="weui-label">开户行</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" formControlName="bankName" placeholder="请输入开户行">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
    </div>
    <div class="weui-cells__tips">请核对以上银行账号信息是否正确再进行确认提取</div>

    <div class="weui-btn-area">
      <a weui-button [weui-type]="'primary'" [weui-loading]="loading" (click)="onSubmit()">
        确定
      </a>
    </div>
  </form>
</div>
