<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div *ngIf="items?.length === 0" class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg">
        <img src="/assets/images/icons/form.png">
      </div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">暂无需要处理的管家评价</h2>
      <p class="weui-msg__desc">如果您已经雇佣了管家，请在下个月的1-5日进行评价</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>

  <div *ngFor="let item of items" class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">订单编号：{{item.payno}} <span class="right">{{item.periodmonth}}</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <swiper class="swiper-container" [config]="swiperConfig">

          <img *ngFor="let avatar of item.housekeeperList" class="avatar"
               src="{{config.prefix.wApi + avatar.headimageurl}}">
        </swiper>
      </div>
    </div>
    <div class="weui-panel__ft">
      <a *ngIf="item.isCommented === 0" [routerLink]="['/admin/employer/rate/add',item.contmainpayid]" class="weui-cell weui-cell_link">
        <div class="weui-cell__bd"></div>
        <span class="weui-cell__ft">未评价</span>
      </a>
      <a *ngIf="item.isCommented !== 0" [routerLink]="['/admin/employer/rate/add',item.contmainpayid]" class="weui-cell weui-cell_link">
        <div class="weui-cell__bd"></div>
        <span class="weui-cell__ft">已评价</span>
      </a>
    </div>
  </div>

</div>
