<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="msg-content">
    <h1>预订成功</h1>
    <p *ngIf="isWx">我们已经收到您的订单，稍后将电话联系您，请留意接听！</p>
    <p *ngIf="!isWx">您提交的预订我们已经收到，稍后服务顾问会电话联系您，请注意接听。</p>
  </div>

  <h2 *ngIf="!isWx && gh !== 'ylh'">关注大牛管家公众号<br>
    <p><em>查看和管理您的订单信息，还可以在线挑选管家。</em></p>
  </h2>

  <h2 *ngIf="!isWx && gh === 'ylh'">请关注大牛管家公众号<br>
    <p><em>查看订单状态，挑选/更换/管理您的管家和售后服务。</em></p>
  </h2>

  <ul *ngIf="!isWx">
    <li>方法一：微信公众号搜索“大牛管家”</li>
    <li>方法二：保存下方二维码图片，进入微信打开二维码，选择图片进行识别关注</li>
  </ul>

  <div class="qr-code">
    <img src="/assets/images/qrcode.jpg">
  </div>

  <p *ngIf="isWx" class="qr-tips">长按识别二维码，关注大牛管家公众号<em>可查看订单状态，挑选/更换/管理您的管家和售后服务。</em></p>
</div>
