<app-navbar [navBar]="navBarConfig"></app-navbar>
<div class="content-scrollable">
  <div class="weui-tab">
    <!--<div class="weui-navbar">
      <div class="weui-navbar__item" (click)="setTab('user')" [ngClass]="{'weui-bar__item_on':tab === 'user'}">
        用户消息
      </div>
      <div class="weui-navbar__item" (click)="setTab('system')" [ngClass]="{'weui-bar__item_on':tab === 'system'}">
        系统消息
      </div>
    </div>-->
    <div class="weui-tab__panel" *ngIf="tab === 'user'">
      <!--<div class="page-loading"></div>-->
      <div class="pageTips">
        <h2>暂无"系统"消息</h2>
        <p>您可以关注"大牛管家"公众号，获取最新活动消息。</p>
      </div>
      <div class="weui-cells">
        <div class="weui-cell weui-cell_swiped" weui-swipe>
          <div class="weui-cell__bd">
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <img class="avatar" src="/assets/images/avatars/1.jpg" alt="">
              </div>
              <div class="weui-cell__bd">
                <p>标题文字<span class="right">13:54</span></p>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
              </div>
              <div class="weui-cell__ft"></div>
            </div>
          </div>
          <div class="weui-cell__ft">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>

        <div class="weui-cell weui-cell_swiped" weui-swipe>
          <div class="weui-cell__bd">
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <img class="avatar" src="/assets/images/avatars/2.jpg" alt="">
              </div>
              <div class="weui-cell__bd">
                <p>标题文字<span class="right">13:54</span></p>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
              </div>
              <div class="weui-cell__ft"></div>
            </div>
          </div>
          <div class="weui-cell__ft">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>

        <div class="weui-cell weui-cell_swiped" weui-swipe>
          <div class="weui-cell__bd">
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <img class="avatar"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
                     alt="">
              </div>
              <div class="weui-cell__bd">
                <p><span class="right">13:54</span></p>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
              </div>
              <div class="weui-cell__ft"></div>
            </div>
          </div>
          <div class="weui-cell__ft">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>

        <div class="weui-cell weui-cell_swiped" weui-swipe>
          <div class="weui-cell__bd">
            <div class="weui-cell">
              <div class="weui-cell__hd">
                <img class="avatar"
                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII="
                     alt="">
              </div>
              <div class="weui-cell__bd">
                <p>标题文字<span class="right">13:54</span></p>
                <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
              </div>
              <div class="weui-cell__ft"></div>
            </div>
          </div>
          <div class="weui-cell__ft">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-tab__panel" *ngIf="sysMessages && tab === 'system'">
      <div class="pageTips" *ngIf="sysMessages.length === 0">
        <h2>暂无"系统"消息</h2>
        <p>您可以关注"大牛管家"公众号，获取最新活动消息。</p>
      </div>
      <div class="weui-cells">
        <div *ngFor="let item of sysMessages" class="weui-cell weui-cell_swiped" weui-swipe>
          <div class="weui-cell__bd">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p><span class="ui-label green horizontal">考勤</span><span class="right">{{item.createtime | date : 'yyyy-MM-dd'}}</span>
                </p>
                <p class="weui-media-box__desc">{{item.messagecontent}}</p>
              </div>
              <div class="weui-cell__ft"></div>
            </div>
          </div>
          <div class="weui-cell__ft">
            <a class="weui-swiped-btn weui-swiped-btn_warn" href="javascript:">删除</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
