<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">提交成功</h2>
      <p class="weui-msg__desc">大牛管家已经收到您的申请，请耐心等待审核，审核成功后将有短信通知您。</p>
      <p class="weui-msg__desc">您可以先关注大牛管家公众号，了解一下相关资料哟！</p>
    </div>
    <div class="weui-msg__opr-area">
      <div class="qr">
        <img src="/assets/images/qrcode.jpg">
      </div>
      <!--<p class="weui-btn-area">
        <a href="javascript:history.back();" class="weui-btn weui-btn_primary">推荐操作</a>
        <a href="javascript:history.back();" class="weui-btn weui-btn_default">辅助操作</a>
      </p>-->
    </div>
    <!--<div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2016 weui.io</p>
      </div>
    </div>-->
  </div>
</div>
