<div class="page home">
    <div class="banner-3d" ng-class="{true:'animating',false:''}[animate]">
        <div class="banner-3d-shadow"></div>
        <a href="javascript:;" class="banner-3d-box">
            <img src="/images/views/index/banner1.jpg?v=d2d2afb1e0">
        </a>
    </div>
    <div class="section-box activity-panel">
        <ul class="lists">
            <li>
                <img src="https://resource.smartisan.com/resource/d577909752ec2afef49e928041c44bb7.jpg?x-oss-process=image/resize,w_305/quality,Q_100">
                <a class="cover-link" target="_blank" href="http://www.smartisan.com/shop/#/category?id=77"></a>
            </li>
            <li>
                <img src="https://resource.smartisan.com/resource/j/juhe.jpg?x-oss-process=image/resize,w_305/quality,Q_100">
                <a class="cover-link" target="_blank"
                   href="http://www.smartisan.com/shop-v2/jianguopro2-accessories"></a>
            </li>
            <li>
                <img src="https://resource.smartisan.com/resource/a015868b806097047fe117d48f6b4edf.jpg?x-oss-process=image/resize,w_305/quality,Q_100">
                <a class="cover-link" target="_blank" href="http://www.smartisan.com/service/#/tradein"></a>
            </li>
            <li>
                <img src="https://resource.smartisan.com/resource/p/pc.jpg?x-oss-process=image/resize,w_305/quality,Q_100">
                <a class="cover-link" target="_blank"
                   href="http://www.smartisan.com/shop/#/item/1000363?id=100036306"></a>
            </li>
        </ul>
    </div>

    <div class="section-box hot-panel">
        <div class="js-box box">
            <div class="title-header"><h5 class="title">热门商品</h5> <!----> </div>
            <div class="hot-wrapper" id="js-hot-wrapper">
                <ul class="cell-list">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <ul class="cell-list hot-cell-list active">
                    <li class="item no-border-left product">
                        <div>
                            <div>
                                <img src="https://resource.smartisan.com/resource/a31af6371f478ef77b26500b9863f59a.png?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                                <div class="badge-container"></div>
                                <div class="info"><h6>“足迹系列”保护套 照相机发明者达盖尔出生</h6>
                                    <p></p>
                                </div>
                                <p class="price">
                                    <i>¥</i>
                                    <span>99.00</span>
                                </p>
                                <ul class="dot-list">
                                    <li class="active"></li>
                                </ul>
                                <div class="operator">
                                    <span class="detail-btn">
                                        <a target="_blank" href="../shop/#/item/100036901">查看详情</a>
                                    </span>
                                    <span class="cart-btn" data-cart="true">加入购物车</span>
                                    <span class="cart-btn-noanim">已加入购物车</span>
                                </div>
                                <a class="cover-link" target="_blank" href="../shop/#/item/100036901"></a>
                            </div>
                        </div>
                    </li>
                    <li class="item no-border-left product">
                        <div>
                            <div>
                                <img src="https://resource.smartisan.com/resource/71432ad30288fb860a4389881069b874.png?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                                <div class="badge-container"></div>
                                <div class="info"><h6>畅呼吸智能空气净化器</h6>
                                    <p class="is-promotion">超强净化能力、超低噪音、超长寿命</p>
                                </div>
                                <p class="price">
                                    <i>¥</i> <span>3499.00</span>
                                </p>
                                <ul class="dot-list">
                                    <li class="active">
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/e647e77234f9ed0fde9dd4084d35ff57.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="operator">
                                    <span class="detail-btn">
                                        <a target="_blank" href="../shop/#/item/100033802">查看详情</a>
                                    </span>
                                    <span class="cart-btn" data-cart="true">加入购物车</span>
                                    <span class="cart-btn-noanim">已加入购物车</span>
                                </div>
                                <a class="cover-link" target="_blank" href="../shop/#/item/100033802"></a>
                            </div>
                        </div>
                    </li>
                    <li class="item no-border-left product">
                        <div>
                            <div>
                                <img src="https://resource.smartisan.com/resource/3bd5267edd7257e719e7965b756e2c2e.png?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                                <div class="badge-container">
                                    <span class="badge discount">限时优惠</span>
                                </div>
                                <div class="info"><h6>坚果 Pro</h6>
                                    <p class="is-promotion">购机最高优惠 500 元</p>
                                </div>
                                <p class="price"><i>¥</i> <span>1299.00</span>
                                    <span class="original-price"><i>¥</i>1499.00</span>
                                </p>
                                <ul class="dot-list">
                                    <li class="active">
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/84de7bcbb5109ac15b00a37138f7f674.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/012b756dee985fbda915ba91a955d16e.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/464c39b2c7bf66e6eda4b6283d7100ed.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/43746150b54679088441a2f16e865312.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/1d96702160bc824af808dd6ee78b0d4b.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="operator">
                                    <span class="detail-btn">
                                        <a target="_blank" href="../shop/#/item/100027317">查看详情</a>
                                    </span>
                                    <span class="cart-btn-noanim">已加入购物车</span>
                                </div>
                                <a class="cover-link" target="_blank" href="../shop/#/item/100027317"></a>
                            </div>
                        </div>
                    </li>
                    <li class="item no-border-left product">
                        <div>
                            <div>
                                <img src="https://resource.smartisan.com/resource/6ac979a77402f1d0652df480e8c9adb0.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                                <div class="badge-container"></div>
                                <div class="info">
                                    <h6>Smartisan 蓝牙运动耳机</h6>
                                    <p>IPX5 级防水设计、佩戴舒适</p>
                                </div>
                                <p class="price"><i>¥</i> <span>299.00</span></p>
                                <ul class="dot-list">
                                    <li class="active">
                                        <div class="outer">
                                            <span style="background-image: url('https://resource.smartisan.com/resource/95d245fec446f1598c3c8ab48d9ec824.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                        </div>
                                    </li>
                                </ul>
                                <div class="operator">
                                    <span class="detail-btn">
                                        <a target="_blank" href="../shop/#/item/100037801">查看详情</a>
                                    </span>
                                    <span class="cart-btn-noanim">已加入购物车</span>
                                </div>
                                <a class="cover-link" target="_blank" href="../shop/#/item/100037801"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section-box hot-panel">
        <div class="box">
            <div class="title-header">
                <h5 class="title">净化器及配件</h5>
                <div class="more"><a href="javascript:;">更多<i _ngcontent-c4="" class="smartisan-icon gt"></i></a></div>
            </div>
            <ul class="cell-list">
                <li class="link double no-border-left">
                    <div>
                        <img src="https://resource.smartisan.com/resource/c/changhuxilouceng1.jpg?x-oss-process=image/resize,w_610/format,webp/quality,Q_100">
                        <a class="cover-link" target="_blank" href="http://www.smartisan.com/shop-v2/item/100033802"></a>
                    </div>
                </li>
                <li class="product">
                    <div>
                        <div>
                            <img alt=""
                                  src="https://resource.smartisan.com/resource/fed059c1692cf906f60fdb76818e428d.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container">
                                <span class="badge buy-gifts">买赠</span>
                            </div>
                            <div class="info">
                                <h6>畅呼吸防雾霾口罩(折叠款)</h6>
                                <p class="is-promotion">买十枚随机赠一枚</p>
                            </div>
                            <p class="price"><i>¥</i> <span>9.90</span></p>
                            <ul class="dot-list">
                                <li class="active">
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/dddd334ee9e667503425b40cc9c0320b.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/e647e77234f9ed0fde9dd4084d35ff57.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/be95e87d25bc9a3de49990b0db06805f.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/984f6bed80d0f540a71386f10c982415.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/05b19e5f76522621149a215f11f8b5c1.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                            </ul>
                            <div class="operator">
                                <span class="detail-btn">
                                    <a target="_blank" href="../shop/#/item/100036301">查看详情</a>
                                </span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100036301"></a>
                        </div>
                    </div>
                </li>
                <li class="product">
                    <div>
                        <div>
                            <img src="https://resource.smartisan.com/resource/4ad5e80a5798d3f0553c4a1ab12a32d2.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container"></div>
                            <div class="info">
                                <h6>除霾除甲醛高效复合滤芯</h6>
                                <p>精选双层防护材质、过滤更精细、去味更有效</p></div>
                            <p class="price"><i>¥</i> <span>799.00</span></p>
                            <ul class="dot-list">
                                <li class="active">
                                    <div class="outer"><span
                                            style="background-image: url('https://resource.smartisan.com/resource/e647e77234f9ed0fde9dd4084d35ff57.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                            </ul>
                            <div class="operator">
                                <span class="detail-btn">
                                    <a target="_blank" href="../shop/#/item/100036501">查看详情</a>
                                </span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100036501"></a>
                        </div>
                    </div>
                </li>
                <li class="product no-border-left border-top">
                    <div>
                        <div>
                            <img src="https://resource.smartisan.com/resource/5e2dc2c91cf8f221092dce4e5cb813a2.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container"></div>
                            <div class="info">
                                <h6>畅呼吸汽车空调滤清器</h6>
                                <p>一路洁净、安心出行</p>
                            </div>
                            <p class="price"><i>¥</i> <span>49.00</span></p>
                            <ul class="dot-list">
                                <li class="active"></li>
                            </ul>
                            <div class="operator"><span class="detail-btn"><a
                                    target="_blank" href="../shop/#/item/100035705">查看详情</a></span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100035705"></a>
                        </div>
                    </div>
                </li>
                <li class="product border-top">
                    <div>
                        <div>
                            <img alt="" src="https://resource.smartisan.com/resource/bd3953737f0b7c2e16e84d02d5aa8a9c.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container"></div>
                            <div class="info"><h6>除甲醛超级活性炭滤芯</h6>
                                <p>打造专业除甲醛超级活性炭滤芯</p>
                            </div>
                            <p class="price"><i>¥</i> <span>699.00</span></p>
                            <ul class="dot-list">
                                <li class="active">
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/dddd334ee9e667503425b40cc9c0320b.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                            </ul>
                            <div class="operator">
                                <span class="detail-btn">
                                    <a target="_blank" href="../shop/#/item/100036401">查看详情</a>
                                </span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                                <span class="sellout-btn">已售罄</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100036401"></a>
                        </div>
                    </div>
                </li>
                <li class="product border-top">
                    <div>
                        <div>
                            <img src="https://resource.smartisan.com/resource/6baa390b3c7b901f2a539cfb17349b23.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container"></div>
                            <div class="info"><h6>畅呼吸汽车空调滤清器</h6>
                                <p>一路洁净、安心出行</p>
                            </div>
                            <p class="price"><i>¥</i> <span>69.00</span></p>
                            <ul class="dot-list">
                                <li class="active"></li>
                            </ul>
                            <div class="operator">
                                <span class="detail-btn">
                                    <a target="_blank" href="../shop/#/item/100035704">查看详情</a>
                                </span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100035704"></a>
                        </div>
                    </div>
                </li>
                <li class="product border-top">
                    <div>
                        <div>
                            <img src="https://resource.smartisan.com/resource/787556c85c703474b3f90c68f11fd896.jpg?x-oss-process=image/resize,w_206/format,webp/quality,Q_90">
                            <div class="badge-container">
                                <span class="badge buy-gifts">买赠</span>
                            </div>
                            <div class="info"><h6>畅呼吸防雾霾口罩(折叠款)</h6>
                                <p class="is-promotion">买一盒随机赠一枚 盒装免邮</p>
                            </div>
                            <p class="price"><i>¥</i> <span>99.00</span></p>
                            <ul class="dot-list">
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/dddd334ee9e667503425b40cc9c0320b.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li class="active">
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/e647e77234f9ed0fde9dd4084d35ff57.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/be95e87d25bc9a3de49990b0db06805f.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/984f6bed80d0f540a71386f10c982415.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="outer">
                                        <span style="background-image: url('https://resource.smartisan.com/resource/05b19e5f76522621149a215f11f8b5c1.jpg?x-oss-process=image/resize,w_20/format,webp');"></span>
                                    </div>
                                </li>
                            </ul>
                            <div class="operator">
                                <span class="detail-btn">
                                    <a target="_blank" href="../shop/#/item/100036306">查看详情</a>
                                </span>
                                <span class="cart-btn-noanim">已加入购物车</span>
                            </div>
                            <a class="cover-link" target="_blank" href="../shop/#/item/100036306"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <ul>
        {{#each products}}
            <li id="{{this.activityproductId}}">
                {{this.productName}}
            </li>
        {{/each}}
    </ul>
</div>