app-admin-message {
  min-height: 100%;
}
.content-scrollable {
  background: #f8f8f8;
  padding-top: 0.48rem;
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 0.8em;
  display: block;
}

.weui-cells {
  margin-top: 0;
}
