<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="img-box">
    <img src="/assets/images/guide/top1.png">
  </div>
  <div class="weui-cells__title" style="font-size: 0.18rem;color: #333;">{{isPaid ? '更换管家' : '推荐管家'}} <span
    style="font-size: 0.14rem">请挑选管家进行预约面试</span></div>
  <div class="weui-cells">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <div (click)="showPicker('driversage')" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">驾龄</div>
          <div class="weui-cell__ft">{{pickerData.driversage.selected.label}}</div>
        </div>
      </div>
      <div class="weui-flex__item">
        <div (click)="showPicker('soldierage')" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">军龄</div>
          <div class="weui-cell__ft">{{pickerData.soldierage.selected.label}}</div>
        </div>
      </div>
    </div>
  </div>
  <app-profile [routerLink]="['/guide/n5', item.housekeeperid]" [queryParams]="{orderNo:orderNo,gh:gh}"
               queryParamsHandling="merge"
               [profile]="item"
               *ngFor="let item of lists"></app-profile>

  <div *ngIf="!isPaid" class="weui-btn-area">
    <a [routerLink]="['/guide/n6','']" [queryParams]="{orderNo:orderNo,gh:gh}" queryParamsHandling="merge" class="weui-btn weui-btn_primary">预定名额</a>
  </div>
</weui-infiniteloader>
