<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable has-footer">
  <app-profile *ngIf="housekeeper" [profile]="housekeeper"></app-profile>

  <div *ngIf="housekeeper?.workexperience" class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">管家履历</div>
        <span class="weui-cell__ft">查看更多</span>
      </a>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">{{housekeeper.workexperience}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="feeds weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">客户评价</div>
        <span [routerLink]="['/front/employees/employee/rates',housekeeper?.housekeeperid]"
              class="weui-cell__ft">查看更多</span>
      </a>
    </div>
    <div class="weui-panel__bd">
      <app-rate [rate]="rate" *ngFor="let rate of rates.slice(0,3)"
                class="weui-media-box weui-media-box_appmsg"></app-rate>
    </div>
  </div>

  <div *ngIf="images?.length > 0" class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access">
        <div class="weui-cell__bd">照片</div>
        <span class="weui-cell__ft">查看更多</span>
      </a>
    </div>
    <div class="weui-panel__bd">

      <div class="weui-grids">
        <div *ngFor="let img of (images ? images.slice(0,3): []);let i = index;" class="weui-grid">
          <div (click)="showGallery(i)" class="photo"
               [ngStyle]="{'background-image':'url(' + config.prefix.wApi + img + ')'}">

          </div>
        </div>
      </div>
      <app-gallery [(show)]="show" [current]="galleryCurrent" (delete)="onDelete($event)" [canDelete]="false"
                   [slides]="images"></app-gallery>
    </div>

  </div>

  <app-profile-graphic style="margin-top: 0.1rem" *ngIf="score && chartSvcReady" [score]="score"></app-profile-graphic>

  <div class="weui-btn-area">
    <a [routerLink]="['/admin/employer/employees/employee/exchange',housekeeper.housekeeperid]"
       *ngIf="housekeeper?.workstatus === 2"
       [userTrack]="'change'" class="weui-btn weui-btn_default">我想更换管家
    </a>
  </div>

  <!--<div class="photos">
    <div class="weui-grids">
      <a *ngFor="let item of slides" href="javascript:;" (click)="showGallery(true)" class="weui-grid">
        <img src="{{item}}" alt="">
      </a>
    </div>
  </div>-->


</div>
