.weui-media-box__hd {
  height: auto;
  img {
    border-radius: 10%;
    width: 0.6rem;
    display: block;
  }
  a {
    display: block;
    font-size: 0.12rem;
    color: #4CA6FF;
    text-align: center;
    line-height: 1.6;
    margin-top: 0.05rem;
  }
}

.banner-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.banner-container > .banner {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 200px;
  line-height: 500px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.weui-cells_radio {
  overflow: hidden;
}

.periods {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  transform: translate3d(0, 0, 0);
  padding: 0.05rem 0;
  position: relative;
  font-size: 0.13rem;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 0.15rem;
    z-index: 2;
  }
  .weui-cell {
    padding: 0.05rem 0.15rem;
    &:before, &:after {
      display: none;
    }
  }
  &.slide-down {
    max-height: 2rem;
  }
  sub {
    &.paid {
      color: #09bb07;
    }
    &.unpaid {
      color: red;
    }
  }
}

.weui-panel__bd {
  .weui-media-box__desc {
    line-height: 1.6;
    .right {
      color: #4CA6FF;
    }
  }
}

.status {
  padding: 0.05rem 0;
  position: relative;
  font-size: 0.13rem;
  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #e5e5e5;
    color: #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 0.15rem;
    z-index: 2;
  }
  .weui-cell {
    padding: 0.05rem 0.15rem;
    &:before, &:after {
      display: none;
    }
  }
}

.ui-label.colors.gold {
  background: #CA9F4D;
  color: #fff;
  font-weight: normal;
}

