<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div *ngIf="orderList?.length === 0 && reserveOrderList?.length === 0" class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg">
        <img src="/assets/images/icons/form.png">
      </div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">暂无"订单"信息</h2>
      <p class="weui-msg__desc">前往“<a href="/assets/html/start.html">预订管家</a>”，成功后，可以看到相关的订单信息。</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>

  <div *ngFor="let item of orderList;let i = index" class="order-item weui-panel weui-panel_access">
    <div class="weui-panel__hd">大牛管家服务费 <span class="right" *ngIf="item.payState.periods.length === 0">订单生成中</span><span *ngIf="item.payState.periods.length > 0">(预付{{item.payState.currPeriod?.name}})</span> <span *ngIf="item.payState.periods.length > 0" class="right">{{item.payState.currPeriod?.paid === item.payState.currPeriod?.amount ? '已支付' : '未支付'}}</span>
    </div>
    <div class="weui-panel__bd">
      <div *ngFor="let prod of item.employees" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img src="{{prod.avatar}}">
          <!--<a *ngIf="!item.istrunorder" routerLink="/guide/step4" [queryParams]="{orderNo:item.orderno}">更换管家</a>-->
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">合同编号：{{item.no}} <span *ngIf="item.payState.currPeriod?.no !== item.payState.periods[0]?.no">查看协议</span></p>
          <p class="weui-media-box__desc">订单时间：{{item.meta.startAt}}</p>
          <p class="weui-media-box__desc">预定人员：{{prod.name}}, 工号：{{prod.no}}</p>
          <p class="weui-media-box__desc">级别：{{prod.level}}</p>
          <p *ngIf="item.payState.periods.length > 0" class="weui-media-box__desc">管家月费：￥{{item.payState.currPeriod?.amount - item.payState.currPeriod?.paid}} <span routerLink="/admin/employer/order/fqa" class="right">关于支付限额？</span></p>
        </div>
      </div>
      <div class="periods" [ngClass]="{'slide-down':selectedIndex === i}">
        <div class="weui-cells_radio">
          <label *ngFor="let period of item.payState.periods;let i = index" class="weui-cell weui-check__label">
            <div class="weui-cell__bd">
              <p>{{period.name}}费用
                <sub [ngClass]="{'paid':period.paid === period.amount,'unpaid':period.paid !== period.amount}">
                  <span *ngIf="period.paid === period.amount">已支付</span>
                  <span *ngIf="period.paid !== period.amount && period.paid !== 0">已支付订金</span>
                  <span *ngIf="period.paid !== period.amount && period.paid === 0">未支付</span>
                </sub>
              </p>
            </div>
            <div class="weui-cell__ft">
              <input type="radio" class="weui-check" [checked]="period.paid === period.amount">
              <a (click)="gotoPay(i,item.id,period.payno)" *ngIf="period.paid !== period.amount" class="">立即支付</a>
              <span class="weui-icon-checked" *ngIf="period.paid === period.amount"></span>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="item.payState.periods.length > 0" class="status weui-panel__ft">
      <div class="weui-cell">
        <div class="weui-cell__bd">服务期：{{item.payState.periods[0].name}} -
          {{item.payState.periods[item.payState.periods.length - 1].name}} ({{item.payState.periods.length}}个月)
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">总费用：<sub>￥</sub><em>{{item.payState.amount}}</em> (已支付：<sub>￥</sub><em>{{item.payState.paid}}</em>)
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__bd">您可以一次性付清余下全额 <sub>￥</sub><em>{{(item.payState.amount -
          item.payState.paid).toFixed(2)}}</em></div>
        <span class="weui-cell__ft">
          <span *ngIf="!item.payState.confirmPay" (click)="payAll(item.id)" class="ui-label colors radius gold">付清余下全额</span>
          <span *ngIf="item.payState.confirmPay === 1">余款核对中</span>
        </span>
      </div>
    </div>
  </div>

  <div *ngFor="let item of reserveOrderList" class="order-item weui-panel weui-panel_access">
    <div class="weui-panel__hd">大牛管家订金
      <span class="right">状态：
        <span *ngIf="item.paystatus === 1">未支付</span>
        <span *ngIf="item.paystatus === 2">已支付</span>
        <span *ngIf="item.paystatus === 3">部分支付</span>
      </span>
    </div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img src="{{item.headimageurl ? config.prefix.wApi + item.headimageurl : '/assets/images/logo.png'}}">
          <a *ngIf="!item.istrunorder && !item.housekeeperid" routerLink="/guide/step4" [queryParams]="{orderNo:item.orderno}">选择管家</a>
          <a *ngIf="!item.istrunorder && item.housekeeperid" routerLink="/guide/step4" [queryParams]="{orderNo:item.orderno}">更换管家</a>
        </div>
        <div class="weui-media-box__bd">
          <p class="weui-media-box__desc">订单编号：{{item.orderno}}</p>
          <p *ngIf="item.housekeeperid" class="weui-media-box__desc">预订人员：{{item.housekeepername}} <span>(工号：{{item.housekeeperno}})</span></p>
          <p *ngIf="item.housekeeperid" class="weui-media-box__desc">级别：{{item.levelname}}</p>
          <p class="weui-media-box__desc">下单时间：{{item.createtime}}</p>
        </div>
      </div>
    </div>
    <div class="weui-panel__ft">
      <div class="weui-cell weui-cell_link">
        <div class="weui-cell__bd">预定金额：<sub>￥</sub><em>{{item.orderamount}}</em></div>
        <div class="weui-cell__ft"><span (click)="reservePay(item.orderno)" class="ui-label radius colors gold" *ngIf="item.paystatus === 1">去支付</span><!--<span class="ui-label radius colors gold" [routerLink]="['/guide/step4']" [queryParams]="{orderNo:item.orderno}" *ngIf="item.ispass !== 2 && item.paystatus === 2">去选管家</span>--></div>
      </div>
    </div>
  </div>
</div>
