<div class="content-scrollable">
  <div *ngIf="order" class="weui-form-preview">
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">订单编号</label>
        <span class="weui-form-preview__value">{{orderNo}}</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">订单时间</label>
        <span class="weui-form-preview__value">{{order.intentServiceOrder.createtime}}</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">大牛管家预订金</label>
        <span class="gold weui-form-preview__value">￥300</span>
      </div>
    </div>
    <div class="content">
      <div class="gray weui-form-preview__bd">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">管家级别</label>
          <span class="gold weui-form-preview__value">{{order.intentServiceOrder.levelname}}管家</span>
        </div>
        <div class="tips weui-form-preview__item">
          当有合适的管家上岗前，大牛管家公众号将会通知您登录前往挑选
        </div>
        <!--<a routerLink="/guide/step4" class="weui-form-preview__btn weui-form-preview__btn_primary">支付订金 ￥300</a>-->
      </div>
    </div>
  </div>

  <div class="weui-btn-area">
    <a [userTrack]="'deposit'" (click)="pay()" weui-button [weui-loading]="loading" class="weui-btn weui-btn_primary">支付订金￥300</a>
  </div>
</div>
