.content-scrollable {
  background: #fff;
}

.weui-form-preview {
  &:before, &:after {
    display: none;
  }

  .weui-form-preview__value {
    color: #0F0F0F;
    &.gold {
      color: #CA9F4D;
    }
  }
}

.content {
  padding: 0.15rem;
  position: relative;
  border-radius: 0.02rem;
  &:before {
    content: " ";
    position: absolute;
    left: 0.15rem;
    right: 0.15rem;
    height: 1px;
    color: #e5e5e5;
    top: 0;
    border-top: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .gray {
    background: #F5F5F5;
    border-radius: 0.02rem;
    .weui-form-preview__item {
      &.tips {
        text-align: left;
        line-height: 1.6;
        margin-top: 0.1rem;
        padding: 0.15rem 0;
        position: relative;
        &:before {
          content: " ";
          position: absolute;
          left: -0.15rem;
          right: -0.15rem;
          height: 1px;
          color: #e5e5e5;
          top: 0;
          border-top: 1px solid #e5e5e5;
          -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
          -webkit-transform: scaleY(.5);
          transform: scaleY(.5);
        }
      }
      .weui-form-preview__label {
        color: #0F0F0F;
      }
    }
  }
}
