.page {
  min-height: 100%;
}

.avatar {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.8em;
  border-radius: 50%;
  display: block;
  background-color: #fff;
}

.user-info {
  background-image: url("/assets/images/admin/userInfo-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left bottom;
  background-color: #162F4D;
  padding: 0.12rem 0;
  &:after {
    display: none;
  }
  .weui-media-box__title {
    color: #fff;
    .ui-label {
      font-size: 0.12rem;
    }
  }
  .weui-media-box_appmsg .weui-media-box__ft {
    position: relative;
    padding-right: 0.18rem;
    font-size: 0.16rem;
    color: #fff;
    &:after {
      content: " ";
      display: inline-block;
      height: 0.08rem;
      width: 0.08rem;
      border-width: 2px 2px 0 0;
      border-color: #C8C8CD;
      border-style: solid;
      transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 2px;
    }
  }
}

.pageTips {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate3d(0px, -50%, 0px);
  margin-top: -0.3rem;
  p {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }
}

app-admin-message {
  min-height: 100%;
}

.ui.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, .15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: .028571429rem;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: separate;
  border-spacing: 0
}

.ui.table:first-child {
  margin-top: 0
}

.ui.table:last-child {
  margin-bottom: 0
}

.ui.table td, .ui.table th {
  -webkit-transition: background .1s ease, color .1s ease;
  transition: background .1s ease, color .1s ease
}

.ui.table thead {
  -webkit-box-shadow: none;
  box-shadow: none
}

.ui.table thead th {
  cursor: auto;
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  padding: .92857143em .78571429em;
  vertical-align: inherit;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
  border-left: none
}

.ui.table thead tr > th:first-child {
  border-left: none
}

.ui.table thead tr:first-child > th:first-child {
  border-radius: .028571429rem 0 0 0
}

.ui.table thead tr:first-child > th:last-child {
  border-radius: 0 .028571429rem 0 0
}

.ui.table thead tr:first-child > th:only-child {
  border-radius: .028571429rem .028571429rem 0 0
}

.ui.table tfoot {
  -webkit-box-shadow: none;
  box-shadow: none
}

.ui.table tfoot th {
  cursor: auto;
  border-top: 1px solid rgba(34, 36, 38, .15);
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  padding: .78571429em .78571429em;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  text-transform: none
}

.ui.table tfoot tr > th:first-child {
  border-left: none
}

.ui.table tfoot tr:first-child > th:first-child {
  border-radius: 0 0 0 .028571429rem
}

.ui.table tfoot tr:first-child > th:last-child {
  border-radius: 0 0 .028571429rem 0
}

.ui.table tfoot tr:first-child > th:only-child {
  border-radius: 0 0 .028571429rem .028571429rem
}

.ui.table tr td {
  border-top: 1px solid rgba(34, 36, 38, .1)
}

.ui.table tr:first-child td {
  border-top: none
}

.ui.table tbody + tbody tr:first-child td {
  border-top: 1px solid rgba(34, 36, 38, .1)
}

.ui.table td {
  padding: .78571429em .78571429em;
  text-align: inherit
}

.ui.table td .image, .ui.table td .image img, .ui.table th .image, .ui.table th .image img {
  max-width: none
}

.ui.celled.table tr td, .ui.celled.table tr th {
  border-left: 1px solid rgba(34, 36, 38, .1)
}

.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
  border-left: none
}

.ui.small.table {
  font-size: .9em
}

.ui.table {
  font-size: 1em
}
