.avatar {
  width: 60px;
  height: 60px;
  margin-right: 0.8em;
  border-radius: 50%;
  display: block;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0.4rem 0 0.3rem;
}

.userinfo-avatar {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.1rem;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}
