<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="filter">
  <div class="filter-control weui-cells">
    <div class="weui-cell">
      <div class="weui-cell__bd">
        <p>{{butlers?.length}} 条记录</p>

        <div class="list-type">
          <a class="" href="javascript:;">
            <img src="/assets/images/icons/list.png">
          </a>
          <a href="javascript:;">
            <img src="/assets/images/icons/apps.png">
          </a>
        </div>
      </div>
      <div class="weui-cell__ft" (click)="toggleFilter()">条件查找</div>
    </div>
  </div>
  <div class="filter-content animated" [ngClass]="{'slideInDown':filterShow,'slideOutUp':!filterShow}">
    <div class="weui-form-preview">
      <div class="weui-form-preview__bd">
        <div class="weui-cells__title">想看到的性别</div>
        <div class="weui-navbar">
          <div (click)="selectedFilter(['',filter[1],filter[2]])" [ngClass]="{'weui-bar__item_on':filter[0] === ''}"
               class="weui-navbar__item weui-bar__item_on">
            全部
          </div>
          <div (click)="selectedFilter([1,filter[1],filter[2]])" [ngClass]="{'weui-bar__item_on':filter[0] === 1}"
               class="weui-navbar__item">
            男
          </div>
          <div (click)="selectedFilter([0,filter[1],filter[2]])" [ngClass]="{'weui-bar__item_on':filter[0] === 0}"
               class="weui-navbar__item">
            女
          </div>
        </div>
        <div class="weui-cells__title">想看到级别</div>
        <div class="weui-navbar">
          <div (click)="selectedFilter([filter[0],'',filter[2]])" [ngClass]="{'weui-bar__item_on':filter[1] === ''}"
               class="weui-navbar__item weui-bar__item_on">
            全部
          </div>
          <div (click)="selectedFilter([filter[0],2,filter[2]])" [ngClass]="{'weui-bar__item_on':filter[1] === 2}"
               class="weui-navbar__item">
            金牌
          </div>
          <div (click)="selectedFilter([filter[0],1,filter[2]])" [ngClass]="{'weui-bar__item_on':filter[1] === 1}"
               class="weui-navbar__item">
            银牌
          </div>
        </div>
      </div>
      <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" (click)="toggleFilter()"
           href="javascript:">确定</a>
      </div>
    </div>
  </div>
</div>

<div class="content-scrollable">
  <!--<div class="butlers">
    <ul class="weui-grids">
      <li *ngFor="let item of butlers; let i=index" class="weui-grid">
        <div (click)="selectedButler(item)" class="butler-box">
          <div class="img">
            <img src="{{item.post}}">
          </div>
          <div class="txt">
            <p class="attr">
              <span class="name">{{item.name}}</span>
              <sub class="sex">
                <span *ngIf="!!item.sex">男</span>
                <span *ngIf="!item.sex">女</span>,
              </sub>
              <sub class="age">{{item.age}},</sub>
              <sub class="origin">{{item.origin}}</sub>
            </p>
            <p class="skill">擅长：安全预防，驾驶，法律</p>
            <div class="extra">
              <div class="price left"><sub>￥</sub><span>10000</span><sub>/月</sub></div>
              <div class="like right" (click)="like($event,i)">
                <img *ngIf="!item.like" src="/assets/images/icons/like.png">
                <img *ngIf="item.like" src="/assets/images/icons/like_fill.png">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>-->

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <app-profile [routerLink]="['/admin/details', item.housekeeperid]" [profile]="item" *ngFor="let item of butlers"
                   class="weui-media-box weui-media-box_appmsg"></app-profile>
    </div>
  </div>
</div>
