.red {
  .page-send {
    background: #fff
  }
  .mod-lists {
    background: #fff;
    margin-bottom: 22px
  }
  .red-top {
    width: 100%;
    background: url('/assets/images/red/bg_red_top.jpg') no-repeat;
    background-size: 100%;
    min-height: 310px;
    .red-send {
      padding: 16px .15px 20px;
      .send-tit {
        color: #fff;
        font-size: 16px;
        line-height: 28px;
        font-weight: 700;
        text-align: center
      }
      .send-txt {
        color: #ceb6b4;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 16px
      }
      .send-red {
        width: 104px;
        height: 128px;
        background: url('/assets/images/red/bg_red_send.png') no-repeat;
        background-size: 100%;
        margin: 0 auto 12px;
        .time {
          padding-top: 57px;
          text-align: center;
          color: #efd08f;
          font-size: 14px;
          line-height: 50px;
          .num {
            font-size: 48px;
            line-height: 50px;
            font-weight: 700
          }
        }
      }
      .login-info {
        width: 237px;
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        margin: 0 auto 8px;
        .login-no {
          color: #fff;
          border-bottom: 1px solid #fff
        }
        .login-txt {
          float: left;
          text-align: left;
          color: #fff;
          width: 180px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap
        }
        .login-txt-no {
          display: block;
          width: 100%;
          color: #fff;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-align: center
        }
        .login-change {
          float: right;
          text-align: right;
          color: #fff;
          border-bottom: 1px solid #fff
        }
      }
      .send-btn {
        text-align: center
      }
      .btn-send {
        display: inline-block;
        width: 237px;
        font-size: 13px;
        line-height: 37px;
        text-align: center;
        background: #f7d8a0;
        color: #620a0d;
        border-radius: 19px;
        padding: 0;
        line-height: 37px !important;
      }
    }
  }

  /*.mod_poster_list .book_detail {
    position: relative;
    z-index: 2;
    padding: 0 .30rem
  }*/
  .red-crown {
    .user-info {
      display: block
    }
    .btn-crown {
      display: block
    }
  }

  .red-have {
    .btn-crown {
      -webkit-animation: ani-btn-crown .3s linear forwards
    }
  }

  .red-no {
    .btn-crown {
      display: none
    }
  }

  .have-red {
    display: none;
    position: absolute;
    z-index: 20;
    bottom: 56px;
    left: 50%;
    width: 215px;
    height: 171px;
    background: url('/assets/images/red/bg_red_h.png') center bottom no-repeat;
    background-size: 100%;
    margin-left: -108px;
    .tit {
      padding: 16px 20px 0 20px;
      color: #93522b;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap
    }
    .txt {
      color: #93522b;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      .name {
        display: inline-block;
        vertical-align: top;
        max-width: 50px;
        line-height: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
      }
    }
    .time {
      text-align: center;
      color: #ea542a;
      font-size: 20px;
      line-height: 24px;
      height: 54px;
      .num {
        font-size: 54px;
        line-height: 54px
      }
    }
    .tips {
      color: #93522b;
      font-size: 13px;
      line-height: 20px;
      text-align: center
    }
  }

  .have-red-btn {
    display: none;
    position: absolute;
    left: 0;
    bottom: 9px;
    width: 100%;
    height: 35px;
    z-index: 20;
    a {
      position: absolute;
      top: 0;
      height: 35px;
      line-height: 35px !important;
      border-radius: 4px;
      font-size: 13px;
      text-align: center;
      padding: 0;
    }
    .btn-look {
      //left: -0.23rem;
      right: 11px;
      width: 220px;
      background: #f7d8a0;
      color: #970e08;
    }
    .btn-send {
      right: 23px;
      width: 135px;
      background: #970e08;
      color: #fff
    }
    .tips {
      display: block;
      width: 120px;
      height: 18px;
      line-height: 18px;
      background-color: #e1b355;
      border-radius: 2px;
      color: #fff;
      font-size: 10px;
      position: absolute;
      right: -15px;
      top: -12px;
      text-align: center;
      -webkit-text-size-adjust: none;
      white-space: nowrap;
      &:after {
        content: "";
        display: block;
        border: 5px transparent solid;
        border-left-color: #e1b355;
        position: absolute;
        left: 16px;
        bottom: -5px
      }
    }
  }
  .no-red-btn {
    .tips {
      display: block;
      width: 120px;
      height: 18px;
      line-height: 18px;
      background-color: #e1b355;
      border-radius: 2px;
      color: #fff;
      font-size: 10px;
      position: absolute;
      right: -15px;
      top: -12px;
      text-align: center;
      -webkit-text-size-adjust: none;
      white-space: nowrap;
      &:after {
        content: "";
        display: block;
        border: 5px transparent solid;
        border-left-color: #e1b355;
        position: absolute;
        left: 16px;
        bottom: -5px
      }
    }
  }

  .red-had {
    .user-info {
      display: none
    }
    .have-red {
      display: block
    }
    .have-red-btn {
      display: block
    }
    .btn-crown {
      display: none
    }
  }

  .red-have {
    .user-info {
      display: none
    }
    .have-red {
      display: block;
      top: 97px;
      -webkit-animation: ani-have-red .5s .8s linear forwards
    }
    .btn-crown {

    }

    .have-red-btn {
      display: block;
      -webkit-animation: ani-red-btn 1.6s linear forwards
    }
  }

  .no-red {
    display: none;
    position: absolute;
    z-index: 25;
    bottom: 57px;
    left: 13.5px;
    width: 215px;
    height: 145px;
    background: url('/assets/images/red/bg_red_n.png') center bottom no-repeat;
    background-size: 100%
  }

  .no-red-btn {
    display: none;
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: 9px;
    width: 100%;
    height: 35px;
    .btn-send {
      position: absolute;
      top: 0;
      right: 11px;
      width: 220px;
      height: 35px;
      line-height: 35px;
      background: #970e08;
      border-radius: 4px;
      color: #fff;
      font-size: 13px;
      text-align: center
    }
  }

  .red-no {
    .user-info {
      display: block
    }
    .no-red {
      display: block
    }
    .user-info {
      .tit {
        color: #b77a40
      }
      dd {
        .txt2 {
          color: #b77a40
        }
        .tit {
          .name {
            color: #b77a40
          }
        }
      }
    }
    .no-red-btn {
      display: block
    }
  }
}

.feed-tit {
  position: relative;
  padding: 11px 15px 6px;
  line-height: 21px;
  background: #fff;
  .tit_info {
    color: #222;
    font-size: 15px;
    .txt {
      display: inline-block;
      line-height: 21px;
    }
  }
}

.feed-list {
  background: #fff;
  padding: 0 15px 0;
  margin-bottom: 22px;
  .list-no {
    font-size: 13px;
    color: #fff;
    line-height: 20px
  }
  .list-item {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 11px;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #d7d7d9;
      -webkit-transform: scaleY(.5);
      -webkit-transform-origin: 0 0
    }
    &:last-child:after {
      display: none
    }
    dt {
      position: relative;
      float: left;
      height: 48px
    }
    .user-pic {
      position: relative;
      z-index: 2;
      display: block;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 50%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%
      }
    }
    .icon {
      position: absolute;
      right: -3px;
      bottom: -4px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-size: 30px
    }
    .mask-person {
      position: absolute;
      z-index: 1;
      left: -2px;
      top: 25px;
      width: 26px;
      height: 23px;
      background: url('/assets/images/red/sprite_icon.png') 9999px 9999px no-repeat;
      background-size: 200px;
      background-position: -130px 0
    }
    dd {
      margin-left: 44px;
      padding-top: 4px
    }
    .tit-info {
      position: relative;
      font-size: 13px;
      color: #979797;
      line-height: 21px;
      .name {
        display: inline-block;
        max-width: 80px;
        color: #9a5832;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 10px
      }
      .day {
        position: absolute;
        top: 0;
        right: 0;
        color: #9a5832
      }
      .rank {
        position: absolute;
        top: 23px;
        right: 0;
        color: #fff;
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        padding: 0 4px;
        background: #fac74d;
        border-radius: 2px
      }
    }
    .txt-info {
      padding-right: 40px;
      font-size: 12px;
      color: #979797;
      line-height: 21px
    }
  }
}

.icon_wx {
  background: url('/assets/images/red/login_sprite.png') no-repeat 0 0;
  background-position: -15px 0
}

.icon_qq {
  background: url('/assets/images/red/login_sprite.png') no-repeat 0 0;
  background-position: 0 0
}

.rule-list {
  padding: 11px 15px 16px;
  background: #fff;
  margin-bottom: 22px;
  .rule-tit {
    font-size: 15px;
    line-height: 21px;
    color: #222;
    padding-bottom: 6px;
  }
  .rule-txt {
    font-size: 13px;
    line-height: 24px;
    color: #222;
    dt {
      float: left;
      width: 19px
    }
    dd {
      margin-left: 19px
    }
  }
}

@-webkit-keyframes ani-btn-crown {
  0% {
    -webkit-transform: perspective(400px) rotateY(0deg)
  }
  100% {
    -webkit-transform: perspective(400px) rotateY(90deg)
  }
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: perspective(2200px) translate3d(0, 0, 0) scale(1.0)
  }
  100% {
    -webkit-backface-visibility: hidden;
    -webkit-transform: perspective(2200px) translate3d(0, 0, 0) scale(2);
    opacity: 0
  }
}

@-webkit-keyframes ani-red-btn {
  0% {
    opacity: 0
  }
  80% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

@-webkit-keyframes ani-have-red {
  0% {
    top: 97px
  }
  100% {
    top: 63px
  }
}
