<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-cells__title">请假处理</div>
  <div class="weui-cells">

    <a class="weui-cell weui-cell_access" routerLink='/admin/employee/ADM/leave'>
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/leave.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>我要请假</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a [routerLink]="['/admin/employee/ADM/approvals/events','1']" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/approval.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>假期审批查询</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>

  <div class="weui-cells__title">福利查询</div>
  <div class="weui-cells">

    <a routerLink="/admin/employee/ADM/wages" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/wages.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>查看工资条</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
    <a *ngIf="order" [routerLink]="['/admin/employee/orders/protocol',order.conid]" class="weui-cell weui-cell_access">
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/contract.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>查看协议</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>

  <div class="weui-cells__title">咨询客服</div>
  <div class="weui-cells">

    <!--<a class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/call.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>电话客服</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>-->
    <a (click)="contact()" class="weui-cell weui-cell_access" href="javascript:;">
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/online.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>在线客服</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>

  <div class="weui-cells">

    <a class="weui-cell weui-cell_access" routerLink='/admin/employee/ADM/others'>
      <div class="weui-cell__hd"><img
        src="/assets/images/admin/employee/adm/other.png"
        alt="" style="width:20px;margin-right:5px;display:block"></div>
      <div class="weui-cell__bd">
        <p>其它</p>
      </div>
      <div class="weui-cell__ft"></div>
    </a>
  </div>

</div>
