<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable has-nav">
  <div class="weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd"></div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">李白 (15013262507)</h4>
          <p class="weui-media-box__desc">广东,负责人</p>
          <p class="weui-media-box__desc">The appearance of the bright, income level can not make you clear to understand an unrelated industry, only try to approach the industry, close to the work and struggle in this industry, perhaps we will change some of their views, perhaps more understanding and tolerance of the industry.</p>
        </div>
      </div>
    </div>
  </div>
</div>
