<div [formGroup]="subscribeForm" class="content-scrollable">
  <div class="img-box">
    <img src="/assets/images/guide/w/3/banner.jpg">
  </div>
  <div class="img-box">
    <img src="/assets/images/guide/w/3/1.jpg">
  </div>
  <div class="img-box">
    <img src="/assets/images/guide/w/3/2.jpg">
  </div>
  <div class="img-box">
    <img src="/assets/images/guide/w/3/3.jpg">
  </div>
  <div class="img-box">
    <img src="/assets/images/guide/w/3/4.jpg">
  </div>
  <div class="img-box">
    <img src="/assets/images/guide/w/3/5.jpg">
  </div>
  <h1><em>一元抢订</em>精英管家</h1>
  <p class="weui-cells__tips">我们的承诺：预订名额仅限150名，预订成功后，前50名立即到岗，后100名90天内到岗，90天内无管家可选，承诺三倍退款。</p>
  <!--<div class="check-customerName check-customerMobile weui-cells__title"
       [ngClass]="{'warn':(subscribeForm.get('customerName').invalid && isSubmit) || (subscribeForm.get('customerMobile').invalid && isSubmit)}">
    请您留下联系方式，以便我们登记安排管家
    <p>大牛管家向您承诺，您所有资料均会严格保密，请放心填写。</p>
  </div>-->
  <div class="input-area weui-cells weui-cells_form">
    <div class="weui-cell" [ngClass]="{'weui-cell_warn':subscribeForm.get('customerName').invalid && isSubmit}">
      <div class="weui-cell__hd"><span class="weui-label">您的称呼</span></div>
      <div class="weui-cell__bd">
        <input formControlName="customerName" class="weui-input" placeholder="如：李先生/李女士">
      </div>
      <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
    </div>
    <div class="weui-cell" [ngClass]="{'weui-cell_warn':subscribeForm.get('customerMobile').invalid && isSubmit}">
      <div class="weui-cell__hd"><span class="weui-label">手机号码</span></div>
      <div class="weui-cell__bd">
        <input type="tel" formControlName="customerMobile" maxlength="11" class="weui-input" placeholder="请输入手机号码">
      </div>
      <div class="weui-cell__ft"><span class="active-code" (click)="getCode(subscribeForm.get('customerMobile').value)" *ngIf="subscribeForm.get('customerMobile').valid">{{activeText}}</span><i class="weui-icon-warn"></i></div>
    </div>
    <div class="weui-cell" [ngClass]="{'weui-cell_warn':subscribeForm.get('code').invalid && isSubmit}">
      <div class="weui-cell__hd"><span class="weui-label">验证码</span></div>
      <div class="weui-cell__bd">
        <input type="tel" formControlName="code" maxlength="11" class="weui-input" placeholder="请输入手机验证码">
      </div>
      <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
    </div>
  </div>
  <div class="weui-cells__tips">大牛管家向您承诺，您所有资料均会严格保密，请放心填写。</div>

  <div class="weui-btn-area">
    <weui-button [userTrack]="'reserve'" (click)="submit()" [weui-loading]="loading" class="weui-btn weui-btn_primary">
      预订 (支付1元)
    </weui-button>
  </div>

</div>
<script>
  _taq.push({convert_id: '1608010185864196', event_type: 'form'});
  _taq.push({convert_id: '1608011262150692', event_type: 'form'});
</script>
