<app-navbar [navBar]="navBarConfig"></app-navbar>

<div *ngIf="user" class="content-scrollable">

  <div class="user-info weui-panel">
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="avatar weui-media-box__thumb"
               src="{{employer?.headimageurl ? config.prefix.wApi + employer.headimageurl : '/assets/images/logo.png'}}"
               alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{employer?.cust_name}}</h4>
          <p class="weui-media-box__desc">{{employer?.mobile}}</p>
        </div>
        <div routerLink="/admin/uploader/cvatar" class="weui-media-box__ft">更换头像</div>
      </div>
    </div>
  </div>

  <div class="panels">
    <div class="housekeepers weui-panel" *ngIf="contractList?.length > 0">
      <div class="weui-panel__title weui-panel__hd">当前服务管家</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="weui-cells">
            <a *ngFor="let contract of contractList" class="weui-cell weui-cell_access"
               [routerLink]="['/admin/employer/employees/employee',contract.housekeeperid]"
               [queryParams]="{contactId: contract.conid}">
              <div class="weui-cell__bd weui-cell_primary">
                <p>{{contract.housekeepername}}</p>
              </div>
              <span class="weui-cell__ft">{{contract.servicestartdate | repairDate | date : 'yyyy-MM-dd'}} ~ {{contract.serviceenddate | repairDate | date : 'yyyy-MM-dd'}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="dashboard">

      <div class="weui-cells">

        <a *ngIf="!admin" [routerLink]="['/admin/employer/order/list']" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/order.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>我的订单</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a *ngIf="!admin" [routerLink]="['/admin/employer/employees']" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/employee.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>我的管家</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a *ngIf="contractList?.length > 0 && !admin" [routerLink]="['/admin/employer/employees/employee/attendance',contractList[0]?.housekeeperid]" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/attendance.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>管家考勤</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a [routerLink]="['/admin/employer/message']" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/message.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>我的消息</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a href="tel:020-85598666" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/service.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>客服电话 020-85598666</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a (click)="contact()" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/service.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>在线客服</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a [routerLink]="['/admin/article/list']" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/book.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>资料库</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a (click)="onShare()" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/invite.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>推荐好友</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a *ngIf="admin" routerLink="/admin/employee/school/index" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/course.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>大牛课堂</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a *ngIf="admin" [routerLink]="['/admin/backend/statistics']" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/backend.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>信息管理</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a routerLink="/admin/employer/feedback" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/contact.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>意见反馈</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>

        <a (click)="logout()" class="weui-cell weui-cell_access">
          <div class="weui-cell__hd"><img src="/assets/images/icons/employer/new/service.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p>退出登录</p>
          </div>
          <div class="weui-cell__ft"></div>
        </a>
      </div>
    </div>
  </div>
</div>

<!--<div class="btns-group">
  <div routerLink="/admin/employer/feedback" class="btn-secondary no-state">意见反馈</div>
  <div (click)="contact()" class="btn-secondary">联系客服</div>
</div>-->
