<app-navbar [navBar]="navBarConfig"></app-navbar>

<div #scrollMe class="content-scrollable has-footer">
  <form novalidate [formGroup]="resumeForm">

    <!--<div class="check-registerType weui-cells__title">应聘类型</div>
    <div class="weui-cells weui-cells_form weui-cells_radio">
      <label [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('registerType').invalid}"
             class="weui-cell weui-check__label" for="r1">
        <div class="weui-cell__bd">
          <p>部队退伍兵</p>
        </div>
        <div class="weui-cell__ft">
          <input formControlName="registerType" value="1" type="radio" class="weui-check" name="registerType" id="r1">
          <span class="weui-icon-checked"></span>
          <i class="weui-icon-warn"></i>
        </div>
      </label>

      <label [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('registerType').invalid}"
             class="weui-cell weui-check__label" for="r2">
        <div class="weui-cell__bd">
          <p>体育特长人才</p>
        </div>
        <div class="weui-cell__ft">
          <input formControlName="registerType" value="0" type="radio" class="weui-check" name="registerType" id="r2">
          <span class="weui-icon-checked"></span>
          <i class="weui-icon-warn"></i>
        </div>
      </label>
    </div>-->

    <div class="weui-cells__title">基本信息</div>
    <div class="weui-cells weui-cells_form">
      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('name').invalid}" class="check-name weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">姓名</label></div>
        <div class="weui-cell__bd">
          <input formControlName="name" class="weui-input" placeholder="请输入姓名" type="text">
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>

      <div (click)="onShow('sex')" [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('sex').invalid}"
           class="check-sex weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">性别</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['sex'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('mobile').invalid}" class="check-mobile weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">手机号码</label></div>
        <div class="weui-cell__bd">
          <input formControlName="mobile" class="weui-input" placeholder="请输入您的常用手机号码" type="number">
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>

      <div (click)="onPickerShow('date-ym','birthday')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('birthday').invalid}"
           class="check-birthday weui-cell weui-cell_access">
        <div class="weui-cell__hd"><label class="weui-label">出生年月</label></div>
        <div class="weui-cell__bd">
          {{resumeForm.get('birthday').value ? resumeForm.get('birthday').value:'请选择'}}
          <!--<input formControlName="birthday" class="weui-input" type="date">-->
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>


      <!-- todo -->
      <div (click)="onShow('fertilityState')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('fertilityState').invalid}"
           class="check-fertilityState weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">婚育状况</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['fertilityState'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('idCardNo').invalid}" class="check-idCardNo weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">身份证号码</label></div>
        <div class="weui-cell__bd">
          <input formControlName="idCardNo" class="weui-input" placeholder="填写身份证号码">
        </div>
        <div class="weui-cell__ft"></div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('height').invalid}" class="check-height weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">身高</label></div>
        <div class="weui-cell__bd">
          <input formControlName="height" class="weui-input" placeholder="填写身高(厘米)" type="number">
        </div>
        <div class="weui-cell__ft">厘米</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('weight').invalid}" class="check-weight weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">体重</label></div>
        <div class="weui-cell__bd">
          <input formControlName="weight" class="weui-input" placeholder="填写体重(公斤)" type="number">
        </div>
        <div class="weui-cell__ft">公斤</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('nation').invalid}" class="check-nation weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">民族</label></div>
        <div class="weui-cell__bd">
          <input formControlName="nation" class="weui-input" placeholder="请填写您的民族" type="text">
        </div>
        <div class="weui-cell__ft"></div>
      </div>

      <div (click)="onShow('politicalClimate')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('politicalClimate').invalid}"
           class="check-politicalClimate weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">政治面貌</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['politicalClimate'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div (click)="onShow('education')" [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('education').invalid}"
           class="check-education weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">最高学历</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['education'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <a class="check-placeOfOrigin weui-cell weui-cell_access"
         [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('placeOfOrigin').invalid}"
         (click)="onPickerShow('city','placeOfOrigin')" href="javascript:;">
        <div class="weui-cell__hd"><label class="weui-label">籍贯</label></div>
        <div class="weui-cell__bd">
          <input formControlName="placeOfOrigin" class="weui-input" type="hidden" value="">
          {{resumeForm.get('placeOfOrigin').value ? resumeForm.get('placeOfOrigin').value:'请选择'}}
        </div>
      </a>

      <div (click)="onShow('birthplaceType')" [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('birthplaceType').invalid}"
           class="check-birthplaceType weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">户口性质</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['birthplaceType'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('birthplace').invalid}" class="check-birthplace weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">户籍所在地</label></div>
        <div class="weui-cell__bd">
          <input formControlName="birthplace" class="weui-input" placeholder="您的户籍所在地址" type="text">
        </div>
        <div class="weui-cell__ft"></div>
      </div>

      <a class="check-address weui-cell weui-cell_access"
         [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('address').invalid}"
         (click)="onPickerShow('city','address')" href="javascript:;">
        <div class="weui-cell__hd"><label class="weui-label">现居住地</label></div>
        <div class="weui-cell__bd">
          <input formControlName="address" class="weui-input" type="hidden" value="">
          {{resumeForm.get('address').value ?
          resumeForm.get('address').value:'请选择'}}
        </div>
      </a>

      <!--<div (click)="onShow('serverCity')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('serverCity').invalid}"
           class="check-serverCity weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">意向城市</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['serverCity'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>-->

    </div>

    <div class="check-armyServePlace check-enlistmentTime check-retirementTime check-armyType check-services check-militarySpecialty check-certificate check-retiredOfficerRank weui-cells__title" *ngIf="resumeForm.get('registerType').value == '1'">部队信息</div>
    <div class="weui-cells weui-cells_form" *ngIf="resumeForm.get('registerType').value == '1'">

      <div (click)="onPickerShow('date-ym','enlistmentTime')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('enlistmentTime').invalid}"
           class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><label class="weui-label">入伍时间</label></div>
        <div class="weui-cell__bd">
          {{resumeForm.get('enlistmentTime').value ? resumeForm.get('enlistmentTime').value:'请选择'}}
          <!--<input formControlName="enlistmentTime" class="weui-input" type="date">-->
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>

      <div (click)="onPickerShow('date-ym','retirementTime')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('retirementTime').invalid}"
           class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><label class="weui-label">退伍时间</label></div>
        <div class="weui-cell__bd">
          {{resumeForm.get('retirementTime').value ? resumeForm.get('retirementTime').value:'请选择'}}
          <!--<input formControlName="retirementTime" class="weui-input" type="date">-->
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>

      <div (click)="onServices('armyType')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('armyType').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">军种</label></div>
        <div class="weui-cell__bd">
          {{actionSheets['armyType'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div (click)="onServices('services')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('services').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">兵种</label></div>
        <div class="weui-cell__bd">
          {{actionSheets['services'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('armyServePlace').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">原服役部队</label></div>
        <div class="weui-cell__bd">
          <input formControlName="armyServePlace" class="weui-input" placeholder="请填写原部队单位名称" type="text">
        </div>
      </div>

      <div (click)="onShow('certificate')" class="weui-cell weui-cell_access" [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('certificate').invalid}">
        <div class="weui-cell__hd">
          <label class="weui-label">行政奖励</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['certificate'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <!--<div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('militarySpecialty').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">部队专业</label></div>
        <div class="weui-cell__bd">
          <input formControlName="militarySpecialty" class="weui-input" placeholder="请填写部队专业名称" type="text">
        </div>
      </div>-->

      <!--<div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('retiredOfficerRank').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">退伍军衔</label></div>
        <div class="weui-cell__bd">
          <input formControlName="retiredOfficerRank" class="weui-input" placeholder="请填写退伍时的军衔" type="text">
        </div>
      </div>-->
    </div>


    <div class="check-drivingLicence check-driverLicenseDate check-driversAge check-drivingMileage weui-cells__title">驾驶经验</div>
    <div class="weui-cells weui-cells_form">
      <div (click)="onShow('drivingLicence')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('drivingLicence').invalid}"
           class="weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">驾照类型</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['drivingLicence'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>

      <div *ngIf="resumeForm.get('drivingLicence').value !== '0'" (click)="onPickerShow('date-ym','driverLicenseDate')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('driverLicenseDate').invalid}"
           class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><label class="weui-label">领照时间</label></div>
        <div class="weui-cell__bd">
          {{resumeForm.get('drivingLicence').value ? resumeForm.get('driverLicenseDate').value:'请选择'}}
          <!--<input formControlName="birthday" class="weui-input" type="date">-->
        </div>
        <div class="weui-cell__ft"><i class="weui-icon-warn"></i></div>
      </div>

      <div *ngIf="resumeForm.get('drivingLicence').value !== '0'"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('driversAge').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">实际驾龄</label></div>
        <div class="weui-cell__bd">
          <input formControlName="driversAge" class="weui-input" placeholder="请填写整数" type="text">
        </div>
        <div class="weui-cell__ft">年</div>
      </div>

      <div *ngIf="resumeForm.get('drivingLicence').value !== '0'"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('drivingMileage').invalid}"
           class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">驾驶里程</label></div>
        <div class="weui-cell__bd">
          <input formControlName="drivingMileage" class="weui-input" placeholder="请填写大概的驾驶里程" type="number">
        </div>
        <div class="weui-cell__ft">公里</div>
      </div>
    </div>

    <div class="check-workExperience weui-cells__title">社会工作经历 [请尽量详细]</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea formControlName="workExperience" class="weui-textarea"
                    placeholder="例如：2016年7月-2017年12月在广州万宝物业有限公司任职保安队长" rows="3"></textarea>
          <div class="weui-textarea-counter"><span>{{resumeForm.value.workExperience.length ? resumeForm.value.workExperience.length : 0}}</span>/200
          </div>
        </div>
      </div>
    </div>

    <div
      class="check-pushUp check-standingLongJump check-pullUps check-sitUp check-hundredMDash check-thousandMDash check-thousandMin check-thousandSec weui-cells__title">
      体能指标
    </div>
    <div class="weui-cells weui-cells_form">
      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('pushUp').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">俯卧撑</label></div>
        <div class="weui-cell__bd">
          <input formControlName="pushUp" class="weui-input" placeholder="每分钟俯卧撑数量" type="number">
        </div>
        <div class="weui-cell__ft">个/分钟</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('pullUps').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">引体向上</label></div>
        <div class="weui-cell__bd">
          <input formControlName="pullUps" class="weui-input" placeholder="每分钟引体向上数量" type="number">
        </div>
        <div class="weui-cell__ft">个/分钟</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('standingLongJump').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">立定跳远</label></div>
        <div class="weui-cell__bd">
          <input formControlName="standingLongJump" class="weui-input" placeholder="立定跳远的距离" type="number">
        </div>
        <div class="weui-cell__ft">厘米</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('sitUp').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">仰卧起坐</label></div>
        <div class="weui-cell__bd">
          <input formControlName="sitUp" class="weui-input" placeholder="每分钟仰卧起坐数量" type="number">
        </div>
        <div class="weui-cell__ft">个/分钟</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('hundredMDash').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">100米</label></div>
        <div class="weui-cell__bd">
          <input formControlName="hundredMDash" class="weui-input" placeholder="短跑100米用时" type="number">
        </div>
        <div class="weui-cell__ft">秒</div>
      </div>

      <div [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('thousandMDash').invalid}" class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">3000米</label></div>
        <div class="weui-cell__bd">
          <input formControlName="thousandMin" style="text-align: right" class="weui-input" placeholder=""
                 type="number">
        </div>
        <div class="weui-cell__ft"> 分</div>
        <div class="weui-cell__bd">
          <input formControlName="thousandSec" style="text-align: right" class="weui-input"
                 placeholder="" type="number">
        </div>
        <div class="weui-cell__ft"> 秒</div>
      </div>
    </div>

    <div class="check-specialty check-infections weui-cells__title">其它</div>

    <div class="weui-cells weui-cells_form">

      <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">有何(体育)特长</label></div>
        <div class="weui-cell__bd">
          <input formControlName="specialty" class="weui-input" placeholder=""
                 type="text">
        </div>
        <div class="weui-cell__ft">若无可不填</div>
      </div>

      <div (click)="onShow('infections')"
           [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('infections').invalid}"
           class="weui-cell weui-cell_access">
        <div class="weui-cell__hd">
          <label class="weui-label">身体状况</label>
        </div>
        <div class="weui-cell__bd">
          {{actionSheets['infections'].selected}}
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn"></i>
        </div>
      </div>
    </div>

    <label [ngClass]="{'weui-cell_warn':isSubmit && resumeForm.get('userPromise').invalid}"
           class="check-userPromise weui-agree">
      <input formControlName="userPromise" type="checkbox" class="weui-agree__checkbox">
      <span class="weui-agree__text">本人保证以上所填资料和信息皆为真实有效，如有虚报或故意隐瞒，公司可不予录用或解除劳动关系并不给予任何经济补偿，本人自行承担由此引起的法律责任。</span>
    </label>

    <div class="weui-btn-area">
      <span *ngIf="resumeForm.invalid && isSubmit">请完整填写以上资料，并勾选同意承诺选项</span>
      <a weui-button [weui-type]="'primary'" [weui-loading]="loading" (click)="onSubmit(resumeForm)">
        提交申请
      </a>
    </div>
  </form>
</div>

<!--<app-tabbar [tabBar]="tabBarConfig"></app-tabbar>-->
