html, body {
  height: 100%;
}

body {
  font-size: 0.14rem;
  .bd {
    font-size: 12px;
    border-radius: 4px;
  }
}

#container {
  min-height: 100%;
}

.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #f8f8f8;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.has-nav {
    padding-top: 0.45rem;
  }
  &.has-footer {
    &:after {
      content: "";
      display: block;
      height: 53px;
    }
  }
  .weui-panel:first-child {
    &:before {
      display: none;
    }
  }
}

.avatar {
  border-radius: 100%;
}

sub {
  vertical-align: baseline;
  font-size: 75%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pageTips {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translate3d(0px, -50%, 0px);
  margin-top: -0.3rem;
  p {
    margin-left: 0.15rem;
    margin-right: 0.15rem;
  }
}

.img-box {
  img {
    display: block;
    width: 100%;
  }
}

.weui-cells_form {
  .weui-cell__ft {
    font-size: inherit;
  }
  .weui-cell_switch {
    .weui-cell__ft {
      font-size: 0;
    }
  }
}

button:disabled {
  background: #ccc;
  opacity: 0.6;
}

.weui-grids {
  &:after, &:before {
    display: none;
  }
  .weui-grid {
    &:after, &:before {
      display: none;
    }
  }
}

.weui-cells__title {
  font-size: 0.14rem;
  padding: 0 0.15rem;
}

.weui-cells__tips {
  font-size: 0.14rem;
  padding: 0 0.15rem;
}

.weui-cell_link {
  font-size: 0.14rem;
}

.weui-btn-area {
  margin: 1.17647059em 0.15rem .3em;
}

.weui-panel__hd {
  padding: 0.14rem 0.15rem 0.1rem;
  font-size: 0.13rem;
}

.weui-media-box {
  .weui-cells {
    &:after {
      display: none;
    }
  }
}

.weui-media-box__title {
  font-size: 0.17rem;
}

.weui-media-box__desc {
  font-size: 0.13rem;
}

.weui-media-box__info {
  margin-top: 0.1rem;
  font-size: 0.13rem;
}

.weui-media-box_appmsg .weui-media-box__hd {
  width: 0.6rem;
  height: 0.6rem;
  line-height: 0.6rem;
}

.weui-switch, .weui-switch-cp__box {
  width: 0.52rem;
  height: 0.32rem;
  border-radius: 0.16rem;
}

.weui-switch-cp__box:before, .weui-switch:before {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.15rem;
}

.weui-switch-cp__box:after, .weui-switch:after {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.15rem;
}

.weui-switch-cp__input:checked ~ .weui-switch-cp__box:after, .weui-switch:checked:after {
  transform: translateX(0.2rem);
}

.weui-cell_switch {
  padding-top: 0.065rem !important;
  padding-bottom: 0.065rem !important;
}

.weui-btn {
  font-size: 0.18rem;
}

.ui.table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid rgba(34, 36, 38, .15);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: .028571429rem;
  text-align: left;
  color: rgba(0, 0, 0, .87);
  border-collapse: separate;
  border-spacing: 0
}

.ui.table:first-child {
  margin-top: 0
}

.ui.table:last-child {
  margin-bottom: 0
}

.ui.table td, .ui.table th {
  -webkit-transition: background .1s ease, color .1s ease;
  transition: background .1s ease, color .1s ease
}

.ui.table thead {
  -webkit-box-shadow: none;
  box-shadow: none
}

.ui.table thead th {
  cursor: auto;
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  padding: .92857143em .78571429em;
  vertical-align: inherit;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  border-bottom: 1px solid rgba(34, 36, 38, .1);
  border-left: none
}

.ui.table thead tr > th:first-child {
  border-left: none
}

.ui.table thead tr:first-child > th:first-child {
  border-radius: .028571429rem 0 0 0
}

.ui.table thead tr:first-child > th:last-child {
  border-radius: 0 .028571429rem 0 0
}

.ui.table thead tr:first-child > th:only-child {
  border-radius: .028571429rem .028571429rem 0 0
}

.ui.table tfoot {
  -webkit-box-shadow: none;
  box-shadow: none
}

.ui.table tfoot th {
  cursor: auto;
  border-top: 1px solid rgba(34, 36, 38, .15);
  background: #f9fafb;
  text-align: inherit;
  color: rgba(0, 0, 0, .87);
  padding: .78571429em .78571429em;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  text-transform: none
}

.ui.table tfoot tr > th:first-child {
  border-left: none
}

.ui.table tfoot tr:first-child > th:first-child {
  border-radius: 0 0 0 .028571429rem
}

.ui.table tfoot tr:first-child > th:last-child {
  border-radius: 0 0 .028571429rem 0
}

.ui.table tfoot tr:first-child > th:only-child {
  border-radius: 0 0 .028571429rem .028571429rem
}

.ui.table tr td {
  border-top: 1px solid rgba(34, 36, 38, .1)
}

.ui.table tr:first-child td {
  border-top: none
}

.ui.table tbody + tbody tr:first-child td {
  border-top: 1px solid rgba(34, 36, 38, .1)
}

.ui.table td {
  padding: .78571429em .78571429em;
  text-align: inherit
}

.ui.table td .image, .ui.table td .image img, .ui.table th .image, .ui.table th .image img {
  max-width: none
}

.ui.celled.table tr td, .ui.celled.table tr th {
  border-left: 1px solid rgba(34, 36, 38, .1)
}

.ui.celled.table tr td:first-child, .ui.celled.table tr th:first-child {
  border-left: none
}

.ui.small.table {
  font-size: .9em
}

.ui.table {
  font-size: 0.12rem
}
