html, body {
  height: 100%;
}

body {
  font-size: 0.14rem;
  .bd {
    font-size: 12px;
    border-radius: 4px;
  }
}

.content-scrollable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  &.has-nav {
    padding-top: 0.48rem;
  }
  &.has-footer {
    &:after {
      content: "";
      display: block;
      height: 53px;
    }
  }
}

sub {
  vertical-align: baseline;
  font-size: 50%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}
