<app-navbar [navBar]="navBarConfig"></app-navbar>

<!--<app-gallery *ngIf="gallery" [slides]="slides"></app-gallery>-->
<!--<div (click)="onShowModal($event)">onShowModal</div>
<div (click)="onShowToast($event)">onShowToast</div>-->

<app-infinite-loader (loadmore)="onLoadMore($event)" #comp>
  <div class="weui-infiniteloader__content">

    <div class="weui-cells__title">List with 50 Max</div>
    <div class="weui-cells">
      <a *ngFor="let i of items" class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">{{i}}</div>
        <div class="weui-cell__ft"></div>
      </a>
    </div>

    <!--<weui-button *ngIf="restartBtn" (click)="restart()">重新开始</weui-button>-->
  </div>
</app-infinite-loader>

<app-tabbar [tabBar]="tabBarConfig"></app-tabbar>
