.content-scrollable {
  background: #f8f8f8;
}

.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0.3rem 0 0.3rem;
}

.userinfo-avatar {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.1rem;
  position: relative;
  img {
    width: 100%;
    display: block;
    border-radius: 50%;
  }
}

.userinfo-nickname {
  color: #000;
  font-size: 0.16rem;
  span {
    color: #999;
    font-size: 0.12rem;
  }
}

.userinfo-service {
  color: #999;
  width: 100%;
  margin-top: 0.05rem;
  text-align: center;
  .dot {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}

.weui-grid {
  width: 50%;
  .weui-grid__img {
    img {
      display: block;
      width: 100%;
    }
  }
}

.weui-form-preview {
  &:before, &:after {
    display: none;
  }
}

.weui-panel {
  margin-top: 0.05rem;
  &:before, &:after {
    display: none;
  }
  .weui-panel__hd {
    &:after {
      display: none;
    }
  }
}

.weui-media-box {
  padding: 0.15rem;
}

.weui-media-box__hd {
  width: 1rem;
  height: 1rem;
}

.weui-media-box__info {
  margin-top: 0.1rem;
  padding-bottom: 0;
  &.ui-label:first-child {
    margin-left: 0 !important;
  }
}

.weui-media-box__desc {
  -webkit-line-clamp: default;
}

.weui-media-box__thumb {
  border-radius: 4px;
}

.menus {
  &:before, &:after {
    display: none;
  }
  .weui-form-preview__btn {
    padding: 0.15rem 0;
    &:after {
      display: none;
    }
    .icon {
      width: 60%;
      margin: 0 auto;
      img {
        display: block;
        width: 100%;
      }
    }
    p {
      font-size: 0.14rem;
      line-height: 1;
      margin-top: 0.1rem;
    }
  }
}

.promise {
  .weui-grids {
    margin: -0.1rem;
    .weui-grid {
      padding: 0.1rem;
      text-align: center;
    }
  }
  .weui-grid__icon, .weui-grid__label {
    display: inline-block;
    vertical-align: middle;
  }
  .weui-grid__icon {
    width: 0.34rem;
    height: 0.34rem;
    margin-right: 0.05rem;
  }
  .weui-grid__label {
    font-size: 0.14rem;
    margin-top: 0;
    color: #FBA703;
  }
}

.train {
  .weui-grids {
    margin: -0.05rem;
    .weui-grid {
      padding: 0.05rem;
      img {
        border-radius: 0.04rem;
        box-shadow: 0 0 0.02rem 0.03rem rgba(100, 100, 100, 0.1);
      }
    }
  }
}
