<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <form *ngFor="let employee of employees; let index = index" #rateForm="ngForm">
    <input type="hidden" [ngModel]="user.id" name="custId" required>
    <input type="hidden" [ngModel]="contMainPayId" name="contMainPayId" required>
    <input type="hidden" [ngModel]="employee.housekeeperid" name="housekeeperId" required>
    <input type="hidden" [ngModel]="impress" name="impress" required>
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <img class=" avatar weui-media-box__thumb" src="{{config.prefix.wApi + employee.headimageurl}}" alt="">
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">{{employee.housekeeperName}}</h4>
            <p class="rating weui-media-box__desc">
              <weui-rating [(ngModel)]="level" [config]="ratingConfig" required name="level"></weui-rating>
              <span *ngIf="level >= 4">非常满意，无可挑剔</span>
              <span *ngIf="level < 4 && level > 1">一般</span>
              <span *ngIf="level <= 1">非常差</span>
            </p>
          </div>
        </div>
        <div class="weui-media-box">
          <div class="labels">
              <span *ngFor="let item of impressList"
                    [ngClass]="{'curr':rateForm.value.impress && (rateForm.value.impress).split(',').indexOf('' + item.impressid) !== -1}"
                    (click)="rateForm.form.controls.impress?.setValue(setImpressions(rateForm.form.controls.impress?.value,item.impressid))"
                    class="ui-label hollow circle">{{item.impressname}}</span>
          </div>
        </div>
        <div class="weui-cell"
             [ngClass]="{'weui-cell_warn':(!rateForm.value.evaluateContent || rateForm.value.evaluateContent.length <10) && employee.isSubmit}">
          <div class="weui-cell__bd">
              <textarea [(ngModel)]="evaluateContent" name="evaluateContent"
                        class="weui-textarea"
                        placeholder="请输入管家本月服务的其他建议，你的建议很重要喔！"
                        rows="3" required></textarea>
            <div class="weui-textarea-counter">
              <span>{{rateForm.form.controls.evaluateContent?.value ? rateForm.form.controls.evaluateContent?.value.length : 0}}</span>/200
            </div>
          </div>
        </div>
      </div>

      <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn"
           [ngClass]="{'weui-form-preview__btn_primary':rateForm.valid,'weui-form-preview__btn_default disabled':rateForm.invalid}"
           (click)="onSubmit(rateForm,employee);employee.isSubmit = true">评价</a>
      </div>
    </div>

  </form>
</div>
