<app-navbar [navBar]="navBarConfig"></app-navbar>

<div #scrollable *ngIf="courseCatalog" (scroll)="onScroll()" class="content-scrollable">
  <div *ngIf="course.videourl" class="video">
    <vg-player *ngIf="course.videourl">
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>
        <vg-volume></vg-volume>

        <vg-fullscreen></vg-fullscreen>
      </vg-controls>

      <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
        <source src="{{config.prefix.wApi + course.videourl}}" type="video/mp4">
      </video>
    </vg-player>

  </div>

  <article *ngIf="!course.videourl && !course.pdfurl" class="weui-article">
    <section [innerHTML]="course.content | repairSrc"></section>
  </article>

  <div *ngIf="course.pdfurl && !course.videourl" class="pdf">
    <div *ngIf="scrollStatus === 'up' || scrollStatus === 'default'" class="weui-flex">
      <span (click)="onPrevPage()" class="weui-flex__item" id="prev">上一页</span>
      <span class="weui-flex__item"><span id="page_num">{{pageNum}}</span> / <span id="page_count">{{pdfDoc?.numPages}}</span></span>
      <span (click)="onNextPage()" class="weui-flex__item" id="next">下一页</span>
    </div>
    <canvas id="the-canvas"></canvas>
  </div>
</div>

<div *ngIf="scrollStatus === 'down' || scrollStatus === 'default'" [@simAnim]="animationName" class="weui-form-preview">
  <div *ngIf="courseCatalog" class="weui-form-preview__hd">
    <label class="weui-form-preview__label">{{course.serno}}.{{course.coursetitle}}
      (第{{course.serno}}节/共{{courseCatalog.length}}节)</label>
    <em class="weui-form-preview__value">
      <img *ngIf="!favorId" class="right" (click)="setMarked($event)" src="/assets/images/icons/like.png">
      <img *ngIf="favorId" class="right" (click)="removeMark($event)" src="/assets/images/icons/like_fill.png">
    </em>
  </div>
  <div class="weui-form-preview__ft">
    <a [ngClass]="{'disabled':!prev}" (click)="onPrev()"
       class="weui-form-preview__btn weui-form-preview__btn_default" [ngClass]="{'disabled':!prev}">上一节</a>
    <a [ngClass]="{'disabled':!next}" (click)="onNext()"
       class="weui-form-preview__btn weui-form-preview__btn_default" [ngClass]="{'disabled':!next}">下一节</a>
  </div>
</div>
