.content-scrollable {
  background: #f8f8f8;
}

.weui-flex {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 25px 15px #fff;
  &:after {
    content: ' ';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
  }
  .weui-flex__item {
    text-align: center;
    padding: 0.1rem 0;
  }
}

.video {
  height: 35%;
  .vg-icon-play_arrow {
    font-size: 0.8rem;
    &:before {
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      top: 50%;
      margin-top: -0.8rem;
      left: 50%;
      margin-left: -0.4rem;
    }
  }
}

.pdf {
  height: 100%;
  background: #fff;
  canvas {
    margin-top: 50px;
  }
}

.weui-article {
  background: #fff;
}

.weui-form-preview {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 25px 15px #fff;
  .weui-form-preview__hd {
    &:after {
      display: none;
    }
    .weui-form-preview__value {
      img {
        display: block;
        height: 0.4rem;
      }
    }
  }
}
