.content-scrollable {
  &.has-nav {
    padding-top: 0.45rem;
  }
}

.action-panel {
  position: fixed;
  margin-top: 0;
  top: 0.45rem;
  z-index: 11;
  width: 100%;
  font-size: 0.13rem;
  line-height: 0.25rem;
  .weui-cell__bd {
    &.actions {
      text-align: right;
    }
    .ui-label {
      width: 5em;
      white-space: nowrap;
      box-sizing: content-box;
      margin: 0 0.08rem 0 auto;
    }
  }
  .ui-label {
    display: block;
    border-radius: .028571429rem;
    padding: 0.06rem 0.12rem;
    &:after {
      border-radius: .028571429rem * 2;
    }
  }
}
