<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable has-footer">
  <div class="userinfo" *ngIf="user">
    <div class="userinfo-avatar">
      <img src="{{user.wx.headimgurl}}" background-size="cover"/>
      <span class="weui-badge" style="position: absolute;bottom: -.4em;right: -1em;">金牌管家</span>
    </div>
    <div class="userinfo-nickname">{{user.wx.nickname}}<!--<span>金牌管家</span>--></div>
    <div class="userinfo-service weui-flex">
      <div class="weui-flex__item" style="text-align: right"><span>服务对象：李先生</span></div>
      <div class="dot">●</div>
      <div class="weui-flex__item" style="text-align: left"><span>2017.12.15-2018.06.14</span></div>
    </div>
  </div>

  <div class="dashboard">
    <div class="item-list weui-grids">
      <a [routerLink]="" class="list-item weui-grid">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/location_light.png">
            <span class="weui-badge weui-badge_dot" style="position: absolute;top: -.4em;right: -.4em;"></span>
          </div>
          <div class="txt">
            <div class="weui-grid__label">打卡</div>
          </div>
        </div>
      </a>

      <a [routerLink]="" class="list-item weui-grid no-right-border">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/profile_light.png">
          </div>
          <div class="txt">
            <div class="weui-grid__label">个人资料</div>
          </div>
        </div>
      </a>

      <a [routerLink]="" class="list-item weui-grid">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/comment_light.png">
          </div>
          <div class="txt">
            <div class="weui-grid__label">消息</div>
          </div>
        </div>
      </a>

      <a [routerLink]="" class="list-item weui-grid no-right-border">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/we_fill_light.png">
          </div>
          <div class="txt">
            <div class="weui-grid__label">服务</div>
          </div>
        </div>
      </a>

      <a [routerLink]="" class="list-item weui-grid no-bottom-border">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/medal_light.png">
          </div>
          <div class="txt">
            <div class="weui-grid__label">提升</div>
          </div>
        </div>
      </a>

      <a [routerLink]="" class="list-item weui-grid no-bottom-border no-right-border">
        <div class="item-box">
          <div class="img">
            <img class="img" src="/assets/images/icons/more_light.png">
          </div>
          <div class="txt">
            <div class="weui-grid__label">更多</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
