.content-scrollable {
  background: #fff;
}

.order {
  background: #f8f8f8;
}

.check-form {
  &:after {
    display: none;
  }
  .weui-cells {
    font-size: 0.15rem;
    .weui-cell {
      margin: 0.15rem;
      border: 1px solid #ccc;
      border-radius: 0.04rem;
      background: #F5F5F5;
      &:before {
        display: none;
      }
    }
    .weui-cell__hd {
      display: none;
    }
    .weui-cell__bd {
      color: #666;
    }
    .weui-cell__ft {
      color: #002547;
    }
  }
}

.weui-btn.weui-btn_primary {
  background: #CA9F4D;
}

.weui-panel__hd.weui-panel__title {
  padding-left: 0.15rem;
  &:before, &:after {
    display: none;
  }
}

.weui-cells__tips {
  position: relative;
  padding-left: 0.35rem;
  color: #999;
  &:before {
    content: ' ';
    position: absolute;
    left: 0.15rem;
    top: 0.055rem;
    width: 0.10rem;
    height: 0.10rem;
    box-sizing: border-box;
    border: 0.02rem solid #ccc;
    border-radius: 50%;
    background: #ccc;
  }
}

