<app-navbar [userTrack]="'load'" [navBar]="navBarConfig"></app-navbar>

<div #scrollMe class="content-scrollable has-footer">

  <form novalidate [formGroup]="reserveForm" (ngSubmit)="onSubmit()">
    <div class="order" [ngStyle]="{'display':protocolShow ? 'none' : 'block' }">
      <app-profile *ngIf="housekeeper" [profile]="housekeeper"></app-profile>

      <div class="check-form check-customerName check-customerMobile weui-panel" style="margin-top: 0.1rem">
        <div class="weui-panel__title weui-panel__hd">请留下联系方式，客服人员将与您联系管家面试事宜</div>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells weui-cells_form">
              <div class="weui-cell" [ngClass]="{'weui-cell_warn':isSubmit && reserveForm.get('customerName').invalid}">
                <div class="weui-cell__hd"><label for="" class="weui-label">您的称呼</label></div>
                <div class="weui-cell__bd">
                  <input formControlName="customerName" class="weui-input" type="text" value="" placeholder="请输入姓名">
                </div>
                <div class="weui-cell__ft">
                  <i class="weui-icon-warn"></i>
                </div>
              </div>
              <div class="weui-cell" [ngClass]="{'weui-cell_warn':isSubmit && reserveForm.get('customerMobile').invalid}">
                <div class="weui-cell__hd"><label for="" class="weui-label">联系电话</label></div>
                <div class="weui-cell__bd">
                  <input formControlName="customerMobile" class="weui-input" type="number" pattern="[0-9]*" value=""
                         placeholder="请输入手机号">
                </div>
                <div class="weui-cell__ft">
                  <i class="weui-icon-warn"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="weui-cells__tips">支付订金后，管家暂时为您保留3天不被其他客户预约。若成功雇佣管家，订金可抵扣等额的首月佣金。</div>

    <div class="weui-btn-area">
      <button weui-button [weui-type]="'primary'" [weui-loading]="loading" [userTrack]="'submit'">支付订金：￥500</button>
    </div>
  </form>

</div>

