<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div *ngIf="employees?.length === 0" class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg">
        <img src="/assets/images/icons/form.png">
      </div>
    </div>
    <div *ngIf="reserveOrder" class="weui-msg__text-area">
      <h2 *ngIf="reserveOrder.paystatus === 1" class="weui-msg__title">您的管家预订还没完成支付哦！</h2>
      <h2 *ngIf="reserveOrder.paystatus !== 1" class="weui-msg__title">您已完成管家预订<br>请耐心等候服务顾问与您联系！</h2>
    </div>
    <div *ngIf="!reserveOrder" class="weui-msg__text-area">
      <h2 class="weui-msg__title">您还没有雇佣管家，快去挑选管家吧！</h2>
    </div>
    <div *ngIf="reserveOrder" class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a *ngIf="reserveOrder.paystatus === 1" (click)="reservePay(reserveOrder.orderno)" class="weui-btn weui-btn_default">前往支付</a>
        <a *ngIf="reserveOrder.paystatus !== 1" (click)="back()" class="weui-btn weui-btn_default">返回</a>
      </p>
    </div>
    <div *ngIf="!reserveOrder" class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a routerLink="/guide/w4" class="weui-btn weui-btn_default">前往挑选管家</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>


  <weui-infiniteloader *ngIf="employees?.length > 0" (loadmore)="onLoadMore($event)" #comp>
    <app-profile [routerLink]="['/admin/employer/employees/employee',item.housekeeperid]"
                 [queryParams]="{contactId: item.conid}" [profile]="item"
                 [moJsReady]="moJsReady"
                 [listType]="listType"
                 *ngFor="let item of employees"></app-profile>
  </weui-infiniteloader>


</div>
