<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div *ngIf="employees?.length === 0" class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg">
        <img src="/assets/images/icons/form.png">
      </div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">您还没有雇佣管家</h2>
      <p class="weui-msg__desc">您可以先“<a routerLink="/guide/step1">预订管家</a>”，当有管家可供挑选时，您可以挑选并雇佣。如果您已经预订过了，请耐心等待管家出炉。
      </p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>


  <weui-infiniteloader *ngIf="employees?.length > 0" (loadmore)="onLoadMore($event)" #comp>
    <app-profile [routerLink]="['/admin/employer/employees/employee',item.housekeeperid]"
                 [queryParams]="{contactId: item.conid}" [profile]="item"
                 [moJsReady]="moJsReady"
                 [listType]="listType"
                 *ngFor="let item of employees"></app-profile>
  </weui-infiniteloader>


</div>
