.content-scrollable {
  background: #f8f8f8;
}
.catalogs .weui-grid {
  width: 25%;
  background: #fff;
}

.hot, .new, .spc {
  margin-left: -0.08rem;
  margin-right: -0.08rem;
  .weui-grid {
    width: 50%;
    padding: 0;
    margin: 0;
    .item-box {
      margin: 0.08rem;
      position: relative;
    }
    .weui-grid__icon {
      width: 100%;
      height: auto;
    }
    .weui-grid__label {
      text-align: left;
    }
  }
}

.spc {
  .weui-grid {
    width: 100%;
    .weui-grid__icon {
      width: 100%;
      height: auto;
    }
    .weui-grid__label {
      text-align: center;
      position: absolute;
      font-size: 0.16rem;
      width: 100%;
      height: 100%;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      margin-top: 0;
      span {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        left: 0;
        line-height: 0.2rem;
        margin-top: -0.1rem;
      }
    }
  }
}
