<app-navbar [navBar]="navBarConfig"></app-navbar>

<div *ngIf="incomes" class="content-scrollable has-footer">
  <div class="weui-panel" *ngIf="userInfo">
    <div class="weui-panel__title weui-panel__hd">我的补贴 <span routerLink="/recruitment/article/incomeRules" class="right">提取规则？</span></div>
    <div class="weui-panel__bd">
      <a routerLink="/recruitment/withdraw" class="weui-media-box weui-media-box_appmsg weui-media-box_access">
        <div class="weui-media-box__hd">
          <img alt="" class="avatar weui-media-box__thumb"
               [src]="userInfo.headimageurl ? userInfo.headimageurl : '/assets/images/logo.png'">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{userInfo.cust_name}}</h4>
          <p class="weui-media-box__desc">
            <span>可提现余额：{{incomes?.balance}}</span>
            |
            <span>提现中：{{incomes?.lockAmount}}</span>
          </p>
        </div>
        <div class="weui-media-box__ft">提取</div>
      </a>
    </div>
  </div>

  <div class="pageTips" *ngIf="incomes.list?.length === 0">
    <h2>暂无"补贴记录"</h2>
    <p>请努力推荐管家人才，获取补贴吧！</p>
  </div>

  <div class="weui-panel" *ngIf="incomes.list?.length > 0">
    <div class="weui-panel__title weui-panel__hd">补贴记录</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell" *ngFor="let income of incomes.list" href="javascript:;">
            <div class="weui-cell__bd weui-cell_primary">
              <h4 class="weui-media-box__title">{{income.flowname}}</h4>
              <p class="weui-media-box__desc"></p>
            </div>
            <span class="weui-cell__ft">{{income.flowtype === 1 ? '补贴：+' : '提取：-'}}{{income.amount}}
                    <br>{{income.createtime}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btns-group">
  <a routerLink="/recruitment/index" class="btn-twitter">继续推荐人才</a>
</div>
