.content-scrollable {
  background: #fff;
}

.weui-msg {
  padding-top: 1rem;
}

.weui-icon_msg {
  font-size: 0;
  img {
    width: 1.35rem
  }
}

.weui-msg__title {
  font-size: 0.18rem;
  color: #EA5A2B;
}

.weui-msg__desc {
  font-size: 0.14rem;
  color: #0F0F0F;
}
