<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg"><img src="/assets/images/front/investigate/success/big_logo.png"></div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">提取成功</h2>
      <p class="weui-msg__desc">
        补贴将于3天内发放，请留意银行账号入账信息！<br>
        感谢您对大牛管家的支持！
      </p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a (click)="back()" class="weui-btn weui-btn_primary">返回</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>
</div>
