<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">

  <div class="feeds weui-panel weui-panel_access">
    <div class="weui-panel__hd">2017年5月管家服务评价<span class="right">待评价</span></div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt="" style="margin-right:0.8em;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>慕小姐 <em>5</em>月 <sub>[待评价]</sub> <app-rating class="right" [(ngModel)]="rate" [config]="ratingConfig" [readonly]="true"></app-rating></p>
              <p class="un-rate weui-media-box__desc">请为他2017年12月的服务进行评价</p>
              <p class="weui-media-box__desc">请于1月5日前进行评价，若超时将自动好评</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="feeds weui-panel weui-panel_access">
    <div class="weui-panel__hd">往期评价</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">
          <div class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt="" style="margin-right:0.8em;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>慕小姐 <em>4</em>月 <sub>[系统默认好评]</sub> <app-rating class="right" [(ngModel)]="rate" [config]="ratingConfig" [readonly]="true"></app-rating></p>
              <p class="weui-media-box__desc">为人特别耿直、公正、淳朴、对工作一丝不苟、踏踏实实、认真负责，令人敬佩！为人乐观，幽默，开车一点也不枯燥。</p>
              <div class="ui-labels">
                <span class="ui-label green horizontal colors circle">运动专业</span>
                <span class="ui-label green horizontal colors circle">有责任心</span>
              </div>
            </div>
            <span class="weui-cell__ft"></span>
          </div>
          <div class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt="" style="margin-right:0.8em;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>慕小姐 <em>3</em>月 <sub>[已评价]</sub> <app-rating class="right" [(ngModel)]="rate" [config]="ratingConfig" [readonly]="true"></app-rating></p>
              <p class="weui-media-box__desc">为人特别耿直、公正、淳朴、对工作一丝不苟、踏踏实实、认真负责，令人敬佩！为人乐观，幽默，开车一点也不枯燥。</p>
              <div class="ui-labels">
                <span class="ui-label green horizontal colors circle">运动专业</span>
                <span class="ui-label green horizontal colors circle">有责任心</span>
              </div>
            </div>
            <span class="weui-cell__ft"></span>
          </div>
          <div class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt="" style="margin-right:0.8em;display:block"></div>
            <div class="weui-cell__bd weui-cell_primary">
              <p>慕小姐 <em>4</em>月 <sub>[已评价]</sub> <app-rating class="right" [(ngModel)]="rate" [config]="ratingConfig" [readonly]="true"></app-rating></p>
              <p class="weui-media-box__desc">为人特别耿直、公正、淳朴、对工作一丝不苟、踏踏实实、认真负责，令人敬佩！为人乐观，幽默，开车一点也不枯燥。</p>
              <div class="ui-labels">
                <span class="ui-label green horizontal colors circle">运动专业</span>
                <span class="ui-label green horizontal colors circle">有责任心</span>
              </div>
            </div>
            <span class="weui-cell__ft"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
