<app-navbar [navBar]="navBarConfig"></app-navbar>

<div [formGroup]="contentForm" class="content-scrollable">
  <article class="weui-article">
    <h1>聘用协议</h1>
    <section>
      <h2 class="title">以下为雇佣管家协议，请仔细阅读。确认后我们将有客服人员与您跟进管家雇佣服务</h2>
      <section [innerHtml]="content"></section>
    </section>
    <label class="weui-agree">
      <input formControlName="weuiAgree" type="checkbox" class="weui-agree__checkbox">
      <span class="weui-agree__text">我已清楚了解协议内容</span>
    </label>
  </article>
</div>

<div class="btns-group">
  <div (click)="contact()" class="contact"><img src="/assets/images/guide/contact.png">客服</div>
  <div (click)="reserve()" class="btn-secondary">我同意以上协议内容</div>
</div>
