<!--
<div *ngIf="state && state.type === 'success'">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-icon-success-no-circle weui-icon_toast"></i>
    <p class="weui-toast__content">已完成</p>
  </div>
</div>

<div *ngIf="state && state.type === 'loading'">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <i class="weui-loading weui-icon_toast"></i>
    <p class="weui-toast__content">数据加载中</p>
  </div>
</div>-->

<div class="weui-mask_transparent"></div>
<div class="weui-toast">
  <i class="weui-icon_toast"
     [ngClass]="{'weui-icon-success-no-circle': type === 'success', 'weui-loading': type === 'loading'}"></i>
  <p class="weui-toast__content">
    <span *ngIf="type === 'success'">已完成</span>
    <span *ngIf="type === 'loading'">数据加载中</span>
  </p>
</div>
