<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="weui-icon_msg"><img src="/assets/images/front/investigate/success/big_logo.png"></div>
    </div>
    <div class="weui-msg__text-area">
      <h2 class="weui-msg__title">已成功帮好友创建账号</h2>
      <p class="weui-msg__desc">他/她的手机号：{{friend}}</p>
      <p class="weui-msg__desc">快叫他/她一起推荐人才拿补贴吧！</p>
    </div>
    <div class="weui-msg__opr-area">
      <p class="weui-btn-area">
        <a (click)="onShare({targetTips:'来邀请好友吧'})" class="weui-btn weui-btn_primary">马上告诉好友</a>
      </p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="weui-footer">
        <p class="weui-footer__links">
          <a href="javascript:void(0);" class="weui-footer__link">大牛管家</a>
        </p>
        <p class="weui-footer__text">Copyright © 2008-2018 danius.cn</p>
      </div>
    </div>
  </div>
</div>
