<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <!--<div class="userinfo" *ngIf="user">
    <div class="userinfo-avatar">
      <img src="{{user.wx.headimgurl}}" background-size="cover"/>
      <span class="weui-badge" style="position: absolute;bottom: -.4em;right: -1em;">金牌管家</span>
    </div>
    <div class="userinfo-nickname">{{user.wx.nickname}}&lt;!&ndash;<span>金牌管家</span>&ndash;&gt;</div>
    <div class="userinfo-service weui-flex">
      <div class="weui-flex__item" style="text-align: right"><span>服务对象：李先生</span></div>
      <div class="dot">●</div>
      <div class="weui-flex__item" style="text-align: left"><span>2017.12.15-2018.06.14</span></div>
    </div>
  </div>-->

  <div class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">综合评价</label>
        <em class="weui-form-preview__value"></em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">管家级别</label>
        <span class="weui-form-preview__value">{{housekeeper?.levelname}}管家</span>
      </div>
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">综合服务评价</label>
        <span class="weui-form-preview__value"><app-rating [(ngModel)]="rate" [config]="ratingConfig"
                                                           [readonly]="true"></app-rating></span>
      </div>
    </div>
    <div class="weui-form-preview__ft">
      <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:">查看更多</a>
    </div>
  </div>

  <div *ngIf="employers?.length > 0" class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">我的客户</label>
        <em [routerLink]="['/admin/employee/orders/protocol',employers[0].conid]"
            class="weui-form-preview__link">查看合同</em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div *ngFor="let employer of employers">
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">当前服务</label>
          <span class="weui-form-preview__value">{{employer.cust_name}}</span>
        </div>
        <div class="weui-form-preview__item">
          <label class="weui-form-preview__label">服务时间</label>
          <span class="weui-form-preview__value">{{employer.servicestartdate | date : 'yyyy.MM.dd'}} - {{employer.serviceenddate | date : 'yyyy.MM.dd'}}</span>
        </div>
      </div>
    </div>
    <div class="weui-form-preview__ft">
      <a routerLink="/admin/employee/orders" class="weui-form-preview__btn weui-form-preview__btn_primary">查看服务排期</a>
    </div>
  </div>

  <div class="weui-form-preview">
    <div class="weui-form-preview__hd">
      <div class="weui-form-preview__item">
        <label class="weui-form-preview__label">综合评分</label>
        <em class="weui-form-preview__value"></em>
      </div>
    </div>
    <div class="weui-form-preview__bd">
      <div class="weui-form-preview__item">
        <div class="score">

          <div class="score-rate">
            <em>{{score.count}}</em><sub>分</sub>
          </div>

          <div class="score-label">综合评分</div>
        </div>
      </div>
      <div class="weui-form-preview__item">
        <canvas id="mountNode" style="width:100%;height:200px;"></canvas>
      </div>
    </div>
  </div>

</div>
