<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_appmsg">

      <div class="weui-media-box__hd">
        <div class="avatar-box" [ngStyle]="{'background-image':'url(' + avatar + ')'}">
          <!-- 0-未预约(已毕业，未预约待业状态)，1-已预约（已预约非待业状态），2-可预约(未毕业，必须在到岗时间才能上岗) -->
          <!--<div class="state" [ngClass]="{'on':profile.issubscribe === 1,'off':profile.issubscribe !== 1}">
            <span *ngIf="profile.issubscribe === 0">未预约</span>
            <span *ngIf="profile.issubscribe === 1">已预约</span>
            <span *ngIf="profile.issubscribe === 2">可预约</span>
          </div>-->
        </div>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">
          <span class="name">{{profile.name}}</span>
          <span class="img">
            <img class="icons" src="/assets/images/label/{{profile.armyType}}.png">
          </span>
          <span *ngIf="profile.armyType === 'lj'" class="label">陆军</span>
          <span *ngIf="profile.armyType === 'hj'" class="label">海军</span>
          <span *ngIf="profile.armyType === 'kj'" class="label">空军</span>
          <span *ngIf="profile.armyType === 'hjj'" class="label">火箭军</span>
          <span *ngIf="profile.armyType === 'zlzybd'" class="label">战略支援部队</span>
          <span *ngIf="profile.armyType === 'wzjc'" class="label">武警</span>
        </h4>
        <div class="attr">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span class="label">{{profile.age}}岁</span> ·
              <span class="label">{{profile.height}}<sub>CM</sub></span> ·
              <span class="label">{{profile.weight}}<sub>KG</sub></span>
              <!--<span class="label">{{profile.placeoforigin}}</span>-->
            </div>
          </div>
          <div class="gold weui-flex">
            <div class="weui-flex__item">
              <span class="label">{{profile.servicetime}}年工作经验</span> ·
              <span class="label">军龄{{profile.soldierAge}}年</span>
            </div>
          </div>
          <!--<div class="gold weui-flex">
            <div class="weui-flex__item">
              <span class="label">{{profile.drivinglicence}}驾照</span> ·
              <span class="label">驾龄{{profile.driversage}}年</span>
            </div>
          </div>-->
          <div class="has-label weui-flex">
            <div class="weui-flex__item">
              <span *ngIf="profile.troopsName" class="ui-label horizontal hollow gold radius mini">{{profile.troopsName}}</span>
            </div>
            <div class="weui-flex__item">
              <span *ngIf="profile.issubscribe === 2" class="right ui-label horizontal hollow red radius mini">可预约</span>
              <span *ngIf="profile.issubscribe !== 2" class="right ui-label horizontal hollow gray radius mini">已派出</span>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-media-box__ft"></div>
    </div>
  </div>
  <!--<div class="weui-panel__ft">
    <span *ngFor="let item of profile.expertisenames.split(',')" class="ui-label colors horizontal">{{item}}</span>
  </div>-->
  <div class="price">
    <span *ngIf="profile.termid === 'c6a14c76-8a67-4c2a-87ef-f7e6e2d0b6e9'">薪资待定</span>
    <span *ngIf="profile.termid !== 'c6a14c76-8a67-4c2a-87ef-f7e6e2d0b6e9'"><sub>￥</sub><em>{{profile.employAmount}}/月</em></span>
  </div>
</div>

