<div class="weui-media-box__hd">
  <div class="avatar-box" [ngStyle]="{'background-image':'url(' + config.prefix.wApi + profile.headimageurl + ')'}">
    <div class="state" [ngClass]="{'off':profile.workstatus === 1,'on':profile.workstatus !== 1}">{{profile.workstatus
      === 1 ? '空闲':'服务中'}}
    </div>
  </div>
</div>
<div class="weui-media-box__bd">
  <h4 class="weui-media-box__title">{{profile.name}} <span class="ui-label yellow hollow horizontal">{{profile.levelname}}管家</span>
  </h4>
  <div class="attr">
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span class="label">年龄：{{profile.age}}</span>
      </div>
      <div class="weui-flex__item">
        <span class="label">体重：{{profile.weight}}<sub>KG</sub></span>
      </div>
    </div>
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span class="label">身高：{{profile.height}}<sub>CM</sub></span>
      </div>
      <div class="weui-flex__item">
        <span class="label">籍贯：{{profile.placeoforigin}}</span>
      </div>
    </div>
    <div class="weui-flex">
      <div class="weui-flex__item">
        <span class="label">服务地：{{profile.serviceareanames}}</span>
      </div>
      <div class="weui-flex__item">
        <span class="label">服务经验：{{profile.workexperience}}个月</span>
      </div>
    </div>
  </div>
  <div class="price">
    <div class="weui-flex">
      <div class="price weui-flex__item">
        <sub>￥</sub><em>{{profile.commissionamount}}</em><sub>/月</sub>
      </div>
    </div>
  </div>
  <p class="weui-media-box__info">
    <span *ngFor="let item of profile.expertisenames.split(','); let i = index;"
          [ngClass]="{'red':i === 0,'blue':i === 1}"
          class="ui-label colors horizontal">{{item}}</span>
  </p>
</div>

