<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_appmsg">

      <div class="weui-media-box__hd">
        <div class="avatar-box" [ngStyle]="{'background-image':'url(' + avatar + ')'}">
          <div class="state" [ngClass]="{'on':profile.workstatus === 2,'off':profile.workstatus !== 2}">
            {{profile.workstatus
            === 2 ? '服务中':'空闲'}}
          </div>
        </div>
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{{profile.name}} <span class="ui-label yellow hollow horizontal">{{profile.levelname}}管家</span>
        </h4>
        <div class="attr">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span class="label">{{profile.age}}岁</span>
              <span class="label">{{profile.weight}}<sub>KG</sub></span>
              <span class="label">{{profile.height}}<sub>CM</sub></span>
              <span class="label">{{profile.placeoforigin}}</span>
            </div>
          </div>
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span class="label">服务地：{{profile.serviceareanames}}</span>
            </div>
          </div>
        </div>
        <div class="attr">
          <div class="weui-flex">
            <div class="weui-flex__item">
              <span class="label">经验：<em>{{profile.servicetime}}个月</em></span>
            </div>
            <div class="price weui-flex__item">
              <sub>￥</sub><em>{{profile.commissionamount}}</em><sub>/月</sub>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-media-box__ft"></div>
    </div>
  </div>
  <div class="weui-panel__ft">
    <span *ngFor="let item of profile.expertisenames.split(',').slice(0,3)" class="ui-label colors horizontal">{{item}}</span>
  </div>
</div>

