.content-scrollable {
  &.has-nav {
    padding-top: 1.35rem;
  }
}
.action-panel {
  position: fixed;
  margin-top: 0;
  top: 0.45rem;
  z-index: 11;
  width: 100%;
  font-size: 0.13rem;
  line-height: 0.25rem;
  .weui-cell__hd {
    margin-right: 0.08rem;
  }
}

.statistics {
  .weui-flex {
    margin: 0 -0.05rem;
  }
  .weui-flex__item {
    text-align: center;
    margin: 0.05rem;
    padding: 0.1rem;
    color: #fff;
    &.green {
      background: #1F9E55;
    }
    &.yellow {
      background: #EE9129;
    }
    &.blue {
      background: #0076ff;
    }
    &.dblue {
      background: #1E96BB;
    }
    &.dyellow {
      background: #BE7421;
    }
    &.dgreen {
      background: #197E44;
    }
    &.dred {
      background: #AA322D;
    }
    &.empty {
      background: none;
    }
    em, span {
      display: block;
    }
    em {
      font-size: 0.24rem;
      font-style: normal;
      color: #fff;
    }
  }
}
