.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0.3rem 0 0.3rem;
}

.userinfo-avatar {
  width: 0.64rem;
  height: 0.64rem;
  margin: 0.1rem;
  position: relative;
  img {
    width: 100%;
    display: block;
    border-radius: 50%;
  }
}

.userinfo-nickname {
  color: #000;
  font-size: 0.16rem;
  span {
    color: #999;
    font-size: 0.12rem;
  }
}

.userinfo-service {
  color: #999;
  width: 100%;
  margin-top: 0.05rem;
  text-align: center;
  .dot {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}

.item-list {
  margin: 0rem 0.5rem 0.2rem;
  &:before, &:after {
    display: none;
  }
  .list-item {
    width: 50%;
    padding: 0.2rem 0.1rem;
    &.no-right-border {
      &:before {
        display: none;
      }
    }
    &.no-bottom-border {
      &:after {
        display: none;
      }
    }
  }
  .img {
    position: relative;
    margin: 0.15rem auto;
    width: 0.4rem;
    img {
      display: block;
      width: 100%;
    }
  }
  .txt {
    .weui-grid__label {
      font-size: 0.14rem;
      color: #999;
    }
  }
}
