<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div id="clockIn">
    <div id="location" class="location" (click)="clockIn($event)">
      <div class="circle-big pulse animated"></div>
      <div id="locationIcon" class="circle-min">
        <p class="clock-in-label">打卡上班</p>
        <p class="clock-in-time">{{dateNow | date: 'HH:mm:ss'}}</p>
      </div>
    </div>
    <p class="clock-in-title">打卡上班</p>
    <p class="clock-in-address" *ngIf="location.address">{{location.address}}</p>
  </div>
  <!--<iframe id="markPage" width="100%" height="70%" frameborder=0 scrolling="no" src=""></iframe>-->
</div>
