#clockIn {
  .location {
    height: 3.2rem;
    position: relative;
    z-index: 1;
    .circle-big {
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      border: 1px solid #e8e8e8;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin: -1.2rem auto auto -1.2rem;
      animation-iteration-count: infinite;
    }
    .circle-min {
      position: absolute;
      width: 0.96rem;
      height: 0.96rem;
      left: 50%;
      top: 50%;
      color: #fff;
      background: #2046f2;
      border-radius: 0.48rem;
      margin: -0.48rem auto auto -0.48rem;
      p {
        &.clock-in-label {
          margin-top: 0.3rem;
        }
        &.clock-in-time {
          font-size: 0.12rem;
          margin-top: 0;
        }
      }
    }
    img {
      display: block;
      width: 100%;
    }
  }
  p {
    font-size: 0.16rem;
    margin-top: 0.05rem;
    text-align: center;
    &.clock-in-address {
      font-size: 0.12rem;
      color: #999;
    }
  }
}

.weui-grids {
  &:after {
    display: none;
  }
}

.weui-grid {
  width: 14.28571428%;
  padding: 0.1rem;
  &:nth-child(7), &:nth-child(14), &:nth-child(21), &:nth-child(28) {
    &:before {
      display: none;
    }
  }
}

#markPage {
  z-index: 2;
}
