<app-navbar [show]="true" [navBar]="navBarConfig"></app-navbar>
<weui-infiniteloader (loadmore)="onLoadMore($event)" #comp>
  <div class="weui-cells__title">Home > 管家管理 > 管家信息</div>
  <div class="filter-nav weui-flex">
    <div (click)="setWorkState(1)" [ngClass]="{'curr' : params.status === 1}" class="weui-flex__item">待岗中</div>
    <div (click)="setWorkState(2)" [ngClass]="{'curr' : params.status === 2}" class="weui-flex__item">工作中</div>
    <div (click)="setWorkState(3)" [ngClass]="{'curr' : params.status === 3}" class="weui-flex__item">已离职</div>
  </div>
  <div class="filter-date weui-cells weui-cells_form">
    <div class="weui-flex">
      <div class="search weui-flex__item">
        <div class="weui-cell">
          <div class="weui-cell__hd"><span class="icon-search"></span></div>
          <div class="weui-cell__bd">
            <input class="weui-input" [(ngModel)]="params.keyword" (ngModelChange)="inputChange(params.keyword)"
                   type="text" name="Q_keyword_S" placeholder="查找姓名"></div>
        </div>
      </div>
      <div class="level weui-flex__item">
        <div (click)="setLevel()" class="weui-cell weui-cell_access">
          <div class="weui-cell__bd">级别</div>
          <div class="weui-cell__ft">{{level.label}}</div>
        </div>
      </div>
      <div class="weui-cells_checkbox weui-flex__item">
        <label class="weui-cell weui-check__label" for="s12">
          <div class="weui-cell__hd">
            <input type="checkbox" (click)="setSubscribe()" name="isSubscribe" class="weui-check" id="s12">
            <i class="weui-icon-checked"></i>
          </div>
          <div class="weui-cell__bd">
            <p>未预约</p>
          </div>
        </label>
      </div>
    </div>
    <!--<div class="weui-cell">
      <div class="weui-cell__bd">
        <span (click)="setArea(item);" *ngFor="let item of areas" class="ui-label radius hollow horizontal colors" [ngClass]="{'blue':params.serviceareaids.indexOf(item.areaid) !== -1}">{{item.areaname}}</span>
      </div>
    </div>-->
  </div>

  <div *ngIf="housekeepers" class="table-content">
    <table class="result ui celled table">
      <thead>
      <tr>
        <th>姓名</th>
        <th>级别</th>
        <!--<th>服务城市</th>-->
        <th>预约</th>
        <th>所在地区</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="housekeepers.length === 0">
        <td colspan="4" style="text-align: center">
          没有数据
        </td>
      </tr>
      <tr [routerLink]="['/admin/backend/housekeeper/item',item.housekeeperid]"
          *ngFor="let item of housekeepers;let i = index">
        <td>{{item.name}}</td>
        <td>{{item.levelName}}</td>
        <!--<td>{{item.serviceareanames}}</td>-->
        <td>
          <span *ngIf="item.isSubscribe === 0">未预约</span>
          <span *ngIf="item.isSubscribe === 1">已预约</span>
          <span *ngIf="item.isSubscribe === 2">可预约</span>
        </td>
        <td>{{item.provinceName}}{{item.cityName}}{{item.countyName}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</weui-infiniteloader>
