<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <form novalidate [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="weui-cells__title">意见和建议</div>
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea formControlName="eventTitle" class="weui-textarea" placeholder="请您为我们提出意见和建议，让我们更好的为您服务。"
                    rows="3"></textarea>
          <div class="weui-textarea-counter"><span>{{eventForm.value.eventTitle.length ? eventForm.value.eventTitle.length : 0}}</span>/200
          </div>
        </div>
      </div>
    </div>

    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <div class="weui-uploader">
            <div class="weui-uploader__hd">
              <p class="weui-uploader__title">图片</p>
              <div class="weui-uploader__info">{{uploader?.uploadedCount}}/5</div>
            </div>
            <div class="weui-uploader__bd">
              <ul class="weui-uploader__files">
                <li class="weui-uploader__file" *ngFor="let item of uploader.queue"
                    [weui-thumb]="item._file"
                    (click)="onGallery(item)"
                    [ngClass]="{'weui-uploader__file_status': item.isError}">
                  <div class="weui-uploader__file-content" *ngIf="item.isUploading">{{item.progress}}%</div>
                  <div class="weui-uploader__file-content" *ngIf="item.isError">
                    <i class="weui-icon-warn"></i>
                  </div>
                </li>
              </ul>
              <div class="weui-uploader__input-box" *ngIf="uploader.uploadedCount < 5">
                <input class="weui-uploader__input" type="file" accept="image/*" multiple
                       [weui-uploader-file]="uploader">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="weui-btn-area">
      <button type="button" (click)="onSubmit()" class="weui-btn weui-btn_primary" [disabled]="eventForm.invalid">
        提交申请
      </button>
    </div>
  </form>
</div>
