weui-tab {
  background: #F5F5F5;
  padding-top: 0.08rem;
  min-height: auto !important;
  .table-article {
    padding: 0 0.15rem 0.2rem;
  }
  table {
    font-size: 0.1rem;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    thead {
      th {
        font-size: 0.15rem;
        text-align: center;
        background: none;
      }
    }
    tbody {
      td {
        &.label {
          font-size: 0.13rem;
          color: #0F0F0F;
          font-weight: bold;
        }
        em, span {
          font-size: 0.13rem;
        }
        em {
          font-style: normal;
          color: #CA9F4D;
          margin: 0 0.1rem;
        }
        &.center {
          text-align: center;
        }
      }
    }
  }
  .weui-article {
    background: #fff;
    min-height: 100%;
    section {
      margin-bottom: 0.15rem;
    }
    h1 {
      font-size: 0.15rem;
      text-align: center;
      font-weight: bold;
    }
    .desc {
      font-size: 0.13rem;
      background: #CA9F4D;
      color: #fff;
      padding: 0.1rem;
      border-radius: 0.04rem;
    }
    h2 {
      font-size: 0.13rem;
      line-height: 1;
      margin-top: 0.2rem;
      margin-bottom: 0.15rem;
      font-weight: bold;
    }
    h3, h4 {
      font-size: 0.13rem;
      color: #0f0f0f;
      font-weight: bold;
    }
    p {
      margin: 0.08rem 0;
      font-size: 0.12rem;
      color: #666;
    }
  }
}
