.weui-cells {
  &:before, &:after {
    display: none;
  }
  margin-left: 0.5rem;
  .weui-cell {
    box-sizing: border-box;
    padding: 0.2rem 0.1rem;
    &:before {
      left: 0;
    }
  }
}

#login {
  box-sizing: border-box;
  margin: 0.3rem 0.5rem;
  width: auto;
}
