.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 0.4rem 0 0.3rem;
}

.userinfo-avatar {
  width: 0.96rem;
  height: 0.96rem;
  margin: 0.1rem;
  border-radius: 50%;
}

.userinfo-nickname {
  color: #aaa;
}

.usermotto {
  margin-top: 200px;
}

.weui-cells {
  &:before, &:after {
    display: none;
  }
  margin-left: 0.5rem;
  .weui-cell {
    box-sizing: border-box;
    padding: 0.2rem 0.1rem;
    &:before {
      left: 0;
    }
  }
}

#login {
  box-sizing: border-box;
  margin: 0.3rem 0.5rem;
  width: auto;
}
