<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <div class="userinfo" *ngIf="user">
    <img class="userinfo-avatar" src="{{user.wx.headimgurl}}" background-size="cover"/>
    <div class="userinfo-nickname">{{user.wx.nickname}}</div>
  </div>

  <div class="weui-cells weui-cells_form">
    <div class="weui-cell weui-cell_vcode">
      <div class="weui-cell__hd">
        <label class="weui-label">手机号</label>
      </div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="tel" formControlName="mobile" placeholder="请输入手机号">
      </div>
      <div class="weui-cell__ft">
        <button class="weui-vcode-btn">获取验证码</button>
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
      <div class="weui-cell__bd">
        <input class="weui-input" type="text" formControlName="code" placeholder="请输入验证码">
      </div>
    </div>
  </div>

  <button weui-button weui-loading type="submit" (click)="loading=!loading" ngClass="">页面主操作 Loading</button>
</form>
