<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable has-footer">
  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__bd">
      <a href="javascript:void(0);" *ngIf="user" class="userinfo weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
          <img class="weui-media-box__thumb" src="{{user.wx.headimgurl}}" background-size="cover" alt="">
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">{{user.wx.nickname}} <span>(15013262507)</span></h4>
          <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta">江西九江</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">27岁</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">176CM</li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">70KG</li>
          </ul>
        </div>
      </a>
    </div>
    <!--<div class="weui-panel__ft">
      <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
        <div class="weui-cell__bd">查看更多</div>
        <span class="weui-cell__ft"></span>
      </a>
    </div>-->
  </div>

  <div class="photos">
    <div class="weui-grids">
      <a *ngFor="let item of slides" href="javascript:;" (click)="showGallery(true)" class="weui-grid">
        <img src="{{item}}" alt="">
      </a>
      <a href="javascript:;" class="weui-grid">
        <div class="weui-grid__icon">
          <img src="{{item}}" alt="">
        </div>
      </a>
    </div>
  </div>

  <!--<div class="userinfo" *ngIf="user">
    <div class="userinfo-avatar">
      <img src="{{user.wx.headimgurl}}" background-size="cover"/>
      <span class="weui-badge" style="position: absolute;bottom: -.4em;right: -1em;">金牌管家</span>
    </div>
    <div class="userinfo-nickname">{{user.wx.nickname}}&lt;!&ndash;<span>金牌管家</span>&ndash;&gt;</div>
    <div class="userinfo-service weui-flex">
      <div class="weui-flex__item" style="text-align: right"><span>服务对象：李先生</span></div>
      <div class="dot">●</div>
      <div class="weui-flex__item" style="text-align: left"><span>2017.12.15-2018.06.14</span></div>
    </div>
  </div>-->


</div>

<app-gallery *ngIf="gallery" [slides]="slides"></app-gallery>
