.employee-box {
  .weui-cell__bd.weui-cell__title {
    padding-left: 0;
    font-size: 0.15rem;
  }
  .weui-grids {
    padding: 0.1rem 0.15rem;
    margin: -0.05rem;
    .weui-grid {
      width: 33.3333%;
      padding: 0.05rem;
      .weui-grid__icon, .weui-grid__label {
        display: inline-block;
        vertical-align: middle;
      }
      .weui-grid__label {
        margin-top: 0;
      }
      .weui-grid__icon {
        width: 0.2rem;
        height: 0.2rem;
      }
      img {
        width: 100%;
        border-radius: 0.06rem;
        display: block;
      }
    }
  }

  .weui-panel {
    margin-top: 0 !important;
    &:before, &:after {
      display: none;
    }
    .weui-panel__hd {
      padding: 0;
      &:after {
        display: none;
      }
    }
    .weui-media-box {
      padding-top: 0;
    }
  }

  .weui-progress__lab {
    width: 5.5em;
    margin-right: 0.1rem;
    color: #666;
  }

  .weui-progress__bar {
    font-size: 0.1rem;
    background-color: rgba(251, 167, 3, 0.1);
    over-flow: hidden;
    height: 0.12rem;
    border-radius: 1rem;
    .weui-progress__inner-bar {
      background-color: #FBA703;
      height: 0.12rem;
      border-radius: 1rem;
      span {
        padding-left: 0.1rem;
        font-size: 0.1rem;
        line-height: 0.12rem;
        color: #fff;
        display: block;
      }
    }
  }

  .weui-progress__opr {
    margin-left: 0.15rem;
  }

  .weui-progress {
    margin: 0.1rem 0;
    font-size: 0.12rem;
  }

  .score {
    width: 100%;
    text-align: center;
    .score-rate {
      font-size: 0.24rem;
      text-align: center;
      color: #FBA703;
      em {
        font-size: 0.48rem;
      }
      sub {
        font-size: 0.24rem;
      }
    }

    .score-label {
      text-align: center;
      margin-top: 0.05rem;
    }
  }

  .weui-grids {
    margin: -0.05rem;
    &:before, &:after {
      display: none;
    }
    .weui-grid {
      &:before, &:after {
        display: none;
      }
      padding: 5px;
      .photo {
        width: 100%;
        height: 0.7rem;
        overflow: hidden;
        border-radius: 0.04rem;
        background-size: cover;
        background-position: top center;
      }
    }
  }

  .rating .on:before {
    color: #CA9F4D;
  }

  .ui-label.yellow.hollow {
    border-color: #CA9F4D !important;
    color: #CA9F4D !important;
  }

  .price {
    color: #CA9F4D !important;
  }
  .weui-cell__bd.weui-cell__title:before {
    border: 0.02rem solid #CA9F4D;
    display: none;
  }

  .rate-box {
    text-align: center;
    .rating > i {
      font-size: 0.3rem;
      width: 0.3rem;
      height: 0.3rem;
      margin: 0 0.08rem;
    }
  }
  .rates-box {
    margin: 0;
    padding-top: 0;
    .weui-grid {
      width: 50%;
      span {
        margin-right: 0.1rem;
      }
    }
  }

  .weui-btn.weui-btn_primary {
    background: #CA9F4D;
  }

  .weui-btn.weui-btn_default {
    background: #1AAD19;
    &:visited {
      color: #fff;
    }
  }

  .housekeeper_desc {
    overflow: unset;
    -webkit-line-clamp: 100;
    line-clamp: 100;
  }

  .weui-btn-area {
    .other {
      flex: unset;
      margin-left: 0.1rem;
    }
  }

  .profile-base {
    font-size: 0.12rem;
    line-height: 2;
    color: #2A2A2A;
    b {
      color: #0F0F0F;
    }
  }

  app-profile {
    .weui-panel {
      &:after {
        display: block;
      }
      .weui-media-box {
        padding-top: 0.15rem !important;

      }
    }
  }

  .btns-group {
    background: #fff;
    box-shadow: 0 10px 20px 0 #999999;
    .btn-primary {
      flex: 0.65;
      margin: 0.1rem 0.075rem 0.1rem 0.2rem;
      background-image: linear-gradient(90deg, #B38247 0%, #E0BB7C 100%);
      border-radius: 100px;
      font-size: 0.14rem;
      line-height: 0.17rem;
      padding: 0.1rem;
    }
    .btn-secondary {
      flex: 0.35;
      margin: 0.1rem 0.2rem 0.1rem 0.075rem;
      background: #CCCCCC;
      border-radius: 100px;
      font-size: 0.14rem;
      line-height: 0.17rem;
      padding: 0.1rem;
    }
  }
}
