<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <div class="weui-msg">
    <div class="weui-msg__icon-area">
      <div class="img-box">
        <img src="/assets/images/recruitment/msg/friend/get/getBanner.png">
      </div>
    </div>
    <div class="weui-msg__text-area">
      <p class="weui-msg__desc" style="color: #333;text-align: left">关注大牛管家公众号，进入“荐才行动”，成功登录账号后即可查看相关补贴</p>
    </div>
    <div class="weui-msg__extra-area">
      <div class="img-box">
        <img src="/assets/images/qrcode.jpg">
      </div>
    </div>
    <div class="weui-msg__text-area">
      <p class="weui-msg__desc">长按识别二维码，关注"大牛管家"!</p>
    </div>
  </div>
</div>
