<app-navbar [navBar]="navBarConfig"></app-navbar>

<div class="content-scrollable">
  <article class="weui-article">
    <h1 style="text-align: center">补贴提取规则</h1>

    <section>
      <ol>
        <li>推荐人每成功介绍一名学员，经大牛管家公司招录程序确定具备培训资格，并签订培训协议后1周内，给推荐人发放相应补贴（推荐两年兵补贴100元；推荐五年兵、八年兵或体育特长人才：补贴300元）；</li>
        <li>推荐人介绍的学员参加岗前培训顺利结业，并与大牛管家公司签订劳动合同后，再给推荐人发放第二次补贴（推荐两年兵补贴100元；推荐五年兵、八年兵或体育特长人才：补贴300元）；</li>
        <li>发送提取申请后，可提现余额暂被冻结，等待大牛管家审核（1个工作日内），审核通过后，即发放补贴；</li>
        <li>补贴采用银行转账方式发放，请在活动页面中及时填写正确真实的银行账户资料。</li>
      </ol>
    </section>
    <section>
      <p>大牛管家拥有本次活动的最终解释权</p>
    </section>
  </article>
</div>

<div class="btns-group">
  <a (click)="back()" class="btn-twitter">返回</a>
</div>
