<app-navbar [navBar]="navBarConfig"></app-navbar>
<div class="content-scrollable has-footer">
  <div class="weui-tab">
    <div class="weui-navbar">
      <div class="weui-navbar__item" (click)="setTab('channels')"
           [ngClass]="{'weui-bar__item_on':tab === 'channels' || !tab}">
        渠道招募
      </div>
      <div class="weui-navbar__item" (click)="setTab('employees')"
           [ngClass]="{'weui-bar__item_on':tab === 'employees'}">
        学员招募
      </div>
      <div class="weui-navbar__item" (click)="setTab('incomes')" [ngClass]="{'weui-bar__item_on':tab === 'incomes'}">
        奖励记录
      </div>
      <div class="weui-navbar__item" (click)="setTab('account')" [ngClass]="{'weui-bar__item_on':tab === 'account'}">
        银行账户
      </div>
    </div>
    <div class="weui-tab__panel" *ngIf="tab === 'channels' || !tab">
      <article class="weui-article">
        <h1>大牛管家诚聘优才</h1>
        <p>
          广州猎金网络科技有限公司是一家经广州市工商管理部门正式登记注册、拥有自主研发的互联网信息化管理软件系统的专业化商务公司。“大牛管家”是公司推出的现代高端服务品牌，由商界成功企业家、体育运动专家、部队退役军官团队创建并管理，禀承“优质、安全、健康、舒心”的服务理念，旨在为全国高端商务人士及其家庭提供“安全防护、科学运动、驾驶出行”三大类日常综合管家服务。</p>
        <p><b>现因业务快速发展需要，面向“退伍兵”和“体育生”，诚聘“大牛管家”100人</b></p>

        <section>
          <h3>一、岗位职责</h3>
          <p>主要为互联网、房地产、金融、影视等行业的企业老板、高管及社会名人提供安全防护、科学运动、驾驶出行三大类日常随行综合管家服务。</p>
        </section>
        <section>
          <h3>二、应聘条件</h3>
          <ol>
            <li>
              <p><b>退伍军人：</b>特种部队优先，其他部队作战分队优先，担任过班长职务优先，中共党员优先；</p>
              <p><b>体育特长生：</b>包括足球、篮球、羽毛球、乒乓球、田径、游泳、武术、健身以及体育教育、社会体育、运动康复、中医理疗等专业；</p>
            </li>
            <li>持有C1以上驾照，熟悉多种车型，驾驶技术熟练，实际驾龄在1年以上，驾驶里程在1万公里以上；</li>
            <li>年龄在23-30周岁，身体健康、无犯罪记录，身高在168CM以上，体重符合体型标准（身高CM－105±10%）；</li>
            <li>军人退役或体校生毕业时间不超过5周年。</li>
          </ol>
        </section>
        <section>
          <h3>三、应聘流程</h3>
          <p>基本流程：报名登记—简历审核—电话沟通—基地报到—入队考核—岗前培训—正式上岗。</p>
          <ol>
            <li><b>报名登记：</b>有意报名者统一进入招聘系统，进行个人简历登记，信息应当真实有效；</li>
            <li><b>简历审核：</b>招聘人员收到简历后，将在3天内进行初步审核，并反馈审核结果；</li>
            <li><b>电话沟通：</b>审核符合条件者，将安排电话沟通，进一步了解相关情况，请保持手机畅通；</li>
            <li><b>基地报到：</b>经电话沟通双方达成口头约定，招聘人员正式发送报到通知，应聘者自行前往培训基地报到，地址：广州市白云区钟落潭镇广东青年职业学院；</li>
            <li><b>入队考核：</b>包括6项内容：①面试、②驾驶测试、③心理测查、④体检、⑤基础体能测试（项目有100米、立定跳远、俯卧撑、仰卧起坐、引体向上、3000米等）、⑥谈话；</li>
            <li><b>岗前培训：</b>通过入队考核者，组织培训协议、劳动合同、薪资待遇讲解，并与公司签订《培训协议》（承诺培训结业考评合格、正式上岗后在公司工作满2年），由公司全额出资进行为期2个月集中培训；</li>
            <li><b>正式上岗：</b>经培训考评达到合格以上，工作地点根据客户分布、工作需要和个人期望，在北京、上海、广州、深圳、杭州5个城市就近分配，后期随服务区域拓展可在各省会和部分经济发达城市就近安排。</li>
          </ol>
        </section>
        <section>
          <h3>四、岗前培训</h3>
          <ol>
            <li><b>培训时间：</b>2个月，每周6天培训，周日休息；</li>
            <li><b>培训模式：</b>依托培训基地，实行半军事化管理，由专职教员和兼职专家授课；</li>
            <li><b>培训内容：</b>军事基础、防卫、救护、健身、驾驶、法律、出行管理、商务礼仪、心理健康等；</li>
            <li><b>培训待遇：</b>包食宿（三星公寓标准、四人间上下铺、餐厅就餐），提供统一被褥、服装、鞋、个人生活用品需自带；另发放50元/天的生活补助。</li>
          </ol>
        </section>
        <section>
          <h3>五、薪资待遇</h3>
          <ol>
            <li>管家岗位定级区分“见习、初级、中级、高级、特级”5个级别，根据培训期间行为表现与结业考评成绩可定为前四级，即“见习、初级、中级、高级”，上岗后通过在职培训逐次晋级，每半年组织一次评审，最高晋升为特级；
            </li>
            <li>“见习、初级、中级、高级、特级”5个级别，薪资（到手工资）分别对应6000元/月、8000元/月、10000元/月、12000元/月、16000元/月；</li>
            <li>根据国家法律规定，购买社保五险，由公司全额代缴，个人无需承担费用；</li>
            <li>正常情况下客户方提供食宿，否则由公司统筹安排住宿或给予600元/月住房补贴。</li>
          </ol>
        </section>
        <section>
          <h3>六、报名方式</h3>
          <ol>
            <li>点击<a routerLink="/front/resume/post" queryParamsHandling="merge" [queryParams]="{referee:referee}">http://wap.danius.cn/front/resume/post</a>，进行报名登记、填写个人信息；
            </li>
            <li>有意应聘者请仔细阅读上述信息，如需咨询未尽事宜，请扫描下方二维码，添加微信“大牛管家（daniuguanjia666）”。</li>
          </ol>
        </section>
        <section>
          <div class="resume-code">
            <img src="/assets/images/resume-code.png">
          </div>
        </section>
      </article>
    </div>
    <div class="weui-tab__panel" *ngIf="tab === 'employees'">
      <article class="weui-article">
        <h1>大牛管家诚聘优才</h1>
        <p>
          广州猎金网络科技有限公司是一家经广州市工商管理部门正式登记注册、拥有自主研发的互联网信息化管理软件系统的专业化商务公司。“大牛管家”是公司推出的现代高端服务品牌，由商界成功企业家、体育运动专家、部队退役军官团队创建并管理，禀承“优质、安全、健康、舒心”的服务理念，旨在为全国高端商务人士及其家庭提供“安全防护、科学运动、驾驶出行”三大类日常综合管家服务。</p>
        <p><b>现因业务快速发展需要，面向“退伍兵”和“体育生”，诚聘“大牛管家”100人</b></p>

        <section>
          <h3>一、岗位职责</h3>
          <p>主要为互联网、房地产、金融、影视等行业的企业老板、高管及社会名人提供安全防护、科学运动、驾驶出行三大类日常随行综合管家服务。</p>
        </section>
        <section>
          <h3>二、应聘条件</h3>
          <ol>
            <li>
              <p><b>退伍军人：</b>特种部队优先，其他部队作战分队优先，担任过班长职务优先，中共党员优先；</p>
              <p><b>体育特长生：</b>包括足球、篮球、羽毛球、乒乓球、田径、游泳、武术、健身以及体育教育、社会体育、运动康复、中医理疗等专业；</p>
            </li>
            <li>持有C1以上驾照，熟悉多种车型，驾驶技术熟练，实际驾龄在1年以上，驾驶里程在1万公里以上；</li>
            <li>年龄在23-30周岁，身体健康、无犯罪记录，身高在168CM以上，体重符合体型标准（身高CM－105±10%）；</li>
            <li>军人退役或体校生毕业时间不超过5周年。</li>
          </ol>
        </section>
        <section>
          <h3>三、应聘流程</h3>
          <p>基本流程：报名登记—简历审核—电话沟通—基地报到—入队考核—岗前培训—正式上岗。</p>
          <ol>
            <li><b>报名登记：</b>有意报名者统一进入招聘系统，进行个人简历登记，信息应当真实有效；</li>
            <li><b>简历审核：</b>招聘人员收到简历后，将在3天内进行初步审核，并反馈审核结果；</li>
            <li><b>电话沟通：</b>审核符合条件者，将安排电话沟通，进一步了解相关情况，请保持手机畅通；</li>
            <li><b>基地报到：</b>经电话沟通双方达成口头约定，招聘人员正式发送报到通知，应聘者自行前往培训基地报到，地址：广州市白云区钟落潭镇广东青年职业学院；</li>
            <li><b>入队考核：</b>包括6项内容：①面试、②驾驶测试、③心理测查、④体检、⑤基础体能测试（项目有100米、立定跳远、俯卧撑、仰卧起坐、引体向上、3000米等）、⑥谈话；</li>
            <li><b>岗前培训：</b>通过入队考核者，组织培训协议、劳动合同、薪资待遇讲解，并与公司签订《培训协议》（承诺培训结业考评合格、正式上岗后在公司工作满2年），由公司全额出资进行为期2个月集中培训；</li>
            <li><b>正式上岗：</b>经培训考评达到合格以上，工作地点根据客户分布、工作需要和个人期望，在北京、上海、广州、深圳、杭州5个城市就近分配，后期随服务区域拓展可在各省会和部分经济发达城市就近安排。</li>
          </ol>
        </section>
        <section>
          <h3>四、岗前培训</h3>
          <ol>
            <li><b>培训时间：</b>2个月，每周6天培训，周日休息；</li>
            <li><b>培训模式：</b>依托培训基地，实行半军事化管理，由专职教员和兼职专家授课；</li>
            <li><b>培训内容：</b>军事基础、防卫、救护、健身、驾驶、法律、出行管理、商务礼仪、心理健康等；</li>
            <li><b>培训待遇：</b>包食宿（三星公寓标准、四人间上下铺、餐厅就餐），提供统一被褥、服装、鞋、个人生活用品需自带；另发放50元/天的生活补助。</li>
          </ol>
        </section>
        <section>
          <h3>五、薪资待遇</h3>
          <ol>
            <li>管家岗位定级区分“见习、初级、中级、高级、特级”5个级别，根据培训期间行为表现与结业考评成绩可定为前四级，即“见习、初级、中级、高级”，上岗后通过在职培训逐次晋级，每半年组织一次评审，最高晋升为特级；
            </li>
            <li>“见习、初级、中级、高级、特级”5个级别，薪资（到手工资）分别对应6000元/月、8000元/月、10000元/月、12000元/月、16000元/月；</li>
            <li>根据国家法律规定，购买社保五险，由公司全额代缴，个人无需承担费用；</li>
            <li>正常情况下客户方提供食宿，否则由公司统筹安排住宿或给予600元/月住房补贴。</li>
          </ol>
        </section>
        <section>
          <h3>六、报名方式</h3>
          <ol>
            <li>点击<a routerLink="/front/resume/post" queryParamsHandling="merge" [queryParams]="{referee:referee}">http://wap.danius.cn/front/resume/post</a>，进行报名登记、填写个人信息；
            </li>
            <li>有意应聘者请仔细阅读上述信息，如需咨询未尽事宜，请扫描下方二维码，添加微信“大牛管家（daniuguanjia666）”。</li>
          </ol>
        </section>
        <section>
          <div class="resume-code">
            <img src="/assets/images/resume-code.png">
          </div>
        </section>
      </article>
    </div>
    <div class="weui-tab__panel" *ngIf="tab === 'incomes'">

      <div class="pageTips" *ngIf="incomes?.length === 0">
        <h2>暂无"奖励"记录</h2>
        <p>您可以关注"大牛管家"公众号，获取最新活动消息。</p>
      </div>

      <div class="weui-panel" *ngIf="incomes?.length > 0">
        <div class="weui-panel__hd">2018年03月 <em>更改</em><em class="right">所有</em></div>
        <div class="weui-panel__bd">
          <div class="weui-media-box">
            <div class="weui-flex">
              <div class="weui-flex__item">
                <div class="blue statistic">
                  <div class="value">1,200</div>
                  <div class="label">总收益</div>
                </div>
              </div>
              <div class="weui-flex__item">
                <div class="green statistic">
                  <div class="value">600</div>
                  <div class="label">已发放</div>
                </div>
              </div>
              <div class="weui-flex__item">
                <div class="red statistic">
                  <div class="value">600</div>
                  <div class="label">未发放</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="weui-panel" *ngIf="incomes?.length > 0">
        <div class="weui-panel__bd">
          <div href="javascript:void(0);" class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
              <div class="weui-cell" href="javascript:;">
                <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt=""></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <h4 class="weui-media-box__title">美国队长 <sub>成为了学员</sub></h4>
                  <p class="weui-media-box__desc">奖励：50元</p>
                </div>
                <span class="weui-cell__ft">2018-03-01<br>未发放</span>
              </div>
              <div class="weui-cell" href="javascript:;">
                <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt=""></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <h4 class="weui-media-box__title">美国队长 <sub>成为了管家</sub></h4>
                  <p class="weui-media-box__desc">奖励：300元</p>
                </div>
                <span class="weui-cell__ft">2018-03-01<br>未发放</span>
              </div>
              <div class="weui-cell" href="javascript:;">
                <div class="weui-cell__hd"><img class="avatar" src="/assets/images/avatars/1.jpg" alt=""></div>
                <div class="weui-cell__bd weui-cell_primary">
                  <h4 class="weui-media-box__title">黑寡妇 <sub>成为了学员</sub><sub>(来源：李大军)</sub></h4>
                  <p class="weui-media-box__desc">奖励：50元</p>
                </div>
                <span class="weui-cell__ft">2018-03-01<br>已发放</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="weui-tab__panel" *ngIf="tab === 'account'">
      <form novalidate [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <div class="weui-cells weui-cells_form">
          <div class="weui-cell" [ngClass]="{'weui-cell_warn':accountForm.get('no').invalid && isSubmit}">
            <div class="weui-cell__hd"><label for="" class="weui-label">银行卡号</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="tel" formControlName="no" placeholder="请输入银行卡号">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
          <div class="weui-cell" [ngClass]="{'weui-cell_warn':accountForm.get('name').invalid && isSubmit}">
            <div class="weui-cell__hd"><label for="" class="weui-label">账户名</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" formControlName="name" placeholder="请输入账户名">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
          <div class="weui-cell" [ngClass]="{'weui-cell_warn':accountForm.get('bank').invalid && isSubmit}">
            <div class="weui-cell__hd"><label for="" class="weui-label">开户行</label></div>
            <div class="weui-cell__bd">
              <input class="weui-input" type="text" formControlName="bank" placeholder="请输入开户行">
            </div>
            <div class="weui-cell__ft">
              <i class="weui-icon-warn"></i>
            </div>
          </div>
        </div>
        <div class="weui-cells__tips">注：请正确填写银行账户信息，以确保准确收到招募奖励。</div>
      </form>
    </div>
  </div>
</div>

<div class="btns-group" *ngIf="tab === 'channels' || !tab">
  <div (click)="onShare({targetTips:'来招募更多渠道吧'})" class="btn-secondary no-state">立即招募</div>
  <a routerLink="/admin/employer/recruitment/records" class="btn-secondary">招募记录</a>
</div>

<div class="btns-group" *ngIf="tab === 'employees'">
  <div (click)="onShare({targetTips:'来招募更多学员吧'})" class="btn-secondary no-state">立即招募</div>
  <a routerLink="/admin/employer/recruitment/records" class="btn-secondary">招募记录</a>
</div>

<div class="btns-group" *ngIf="tab === 'account'">
  <div (click)="onSubmit()" class="btn-secondary no-state">保存</div>
  <div class="btn-secondary">取消</div>
</div>
