.content-scrollable {
  background: #f8f8f8;
}

.weui-cells_form {
  .weui-cell__ft {
    font-size: inherit;
  }
}

.weui-media-box__info {
  font-size: 0.12rem;
}

.userinfo-attr {
  color: #999;
}

.weui-flex {
  text-align: center;
  background: #fff;
  padding: 0 0 0.3rem;
  .number {
    font-size: 0.24rem;
    font-style: normal;
  }
  .text {
    color: #9e9e9e;
  }
}
